<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-checkbox
			(change)="handlePlainChange($event)"
			[checked]="plain"
			label="Plain"
			name="checkbox"
		></db-checkbox>
		<db-checkbox
			[(ngModel)]="ngModel"
			label="ngModel"
			name="checkbox"
		></db-checkbox>
		<db-checkbox
			[formControl]="formControl"
			label="formControl"
			name="checkbox"
		></db-checkbox>
	</fieldset>
</app-form-wrapper>
