@use "../icons";
@use "../helpers/display";

[data-icon],
[data-icon-leading],
[data-icon-trailing] {
	&:is(span) {
		@include display.display(inline-flex);

		vertical-align: baseline;
	}
}

[data-icon],
[data-icon-leading] {
	&::before {
		@extend %icon !optional;

		margin-inline-end: icons.$default-icon-margin-end;
	}
}

[data-show-icon="false"],
[data-show-icon-leading="false"],
[data-icon="none"],
[data-icon-leading="none"] {
	&::before {
		content: none;
	}
}

[data-icon-trailing] {
	&::after {
		@extend %icon !optional;

		margin-inline-start: icons.$default-icon-margin-start;

		@include icons.icon-content(icons.$default-icon-content-after);
	}
}

[data-show-icon-trailing="false"],
[data-icon-trailing="none"] {
	&::after {
		content: none;
	}
}

// Providing a mechanism for text replacements
.is-icon-text-replace {
	&[data-icon],
	&[data-icon-leading] {
		@include icons.is-icon-text-replace;
	}

	&[data-icon-trailing] {
		@include icons.is-icon-text-replace("after");
	}
}
