@use "../colors/placeholder";
@forward "default-properties";
@forward "default-container-properties";

@property --db-font-family-sans {
	syntax: "*";
	initial-value: "OpenSans", helvetica, arial, sans-serif;
	inherits: true;
}

@property --db-font-family-head {
	syntax: "*";
	initial-value: "OpenSans Head", helvetica, arial, sans-serif;
	inherits: true;
}

[data-mode] {
	@extend %db-neutral-bg-basic-level-1;
}
