/* Use this file if you want the default color and density in your project */

@use "../materials";
@use "../helpers";
@use "../colors";
@use "../density";

// Setup default styles for
:is(:root, :host) {
	@extend %db-neutral-bg-basic-level-1;
	@extend %db-density-regular;
	@extend %material-filled;
	@extend %apply-global-colors;
}
