/* Use this file if you want to use the defaults for the <code> tag in your project */

@use "../colors";
@use "../variables";
@use "../helpers";

pre:not([class]):has(code) {
	background-color: colors.$db-adaptive-bg-inverted-contrast-max-default;
	color: colors.$db-adaptive-on-bg-inverted-default;
	padding: variables.$db-spacing-fixed-xs;

	&,
	code,
	span {
		font-family: monospace;
	}
}

a:has(code:not([class]):only-child) {
	background-color: colors.$db-adaptive-bg-inverted-contrast-max-default;
	color: colors.$db-adaptive-on-bg-inverted-default;

	@include helpers.hover {
		color: #{colors.$db-adaptive-on-bg-inverted-hovered};
	}

	@include helpers.active {
		color: #{colors.$db-adaptive-on-bg-inverted-pressed};
	}

	> code {
		color: inherit;
	}
}

code:not([class]) {
	background-color: colors.$db-adaptive-bg-inverted-contrast-max-default;
	color: colors.$db-adaptive-on-bg-inverted-default;
	padding-block: variables.$db-spacing-fixed-3xs;
	padding-inline: variables.$db-spacing-fixed-2xs;

	&,
	span {
		font-family: monospace;
	}
}

blockquote:not([class]) {
	@extend %db-neutral-bg-basic-transparent-semi;

	margin: 0;
	padding: variables.$db-spacing-fixed-sm variables.$db-spacing-fixed-md;
}
