<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-radio
			(change)="handlePlainChange($event)"
			label="Plain"
			name="radio-0"
			value="radio-0"
		></db-radio>
		<db-radio
			[(ngModel)]="ngModel"
			label="ngModel"
			name="radio-1"
			value="radio-1"
		></db-radio>
		<db-radio
			[formControl]="formControl"
			label="formControl"
			name="radio-2"
			value="radio-2"
		></db-radio>
	</fieldset>
</app-form-wrapper>
