@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "../../styles/internal/form-components";
@use "../../styles/internal/db-puls";
@use "@db-ux/core-foundations/build/styles/helpers";

%horizontal-pulse {
	.db-tab-item {
		@include db-puls.set-db-puls-horizontal;

		&[aria-selected="true"] {
			@include db-puls.show-db-puls-horizontal;

			&::after {
				inset-block-end: calc(-1 * var(--db-tabs-line-gap, 0px)) !important;
			}
		}
	}
}

%vertical-pulse {
	.db-tab-item {
		@include db-puls.set-db-puls-vertical;

		&::after {
			inset-inline-start: calc(-1 * var(--db-tabs-line-gap-vertical, 0px)) !important;
			inset-inline-end: auto !important;
			z-index: 5;
		}

		&[aria-selected="true"] {
			@include db-puls.show-db-puls-vertical;
		}
	}
}

%pulse-track {
	background-color: colors.$db-adaptive-bg-basic-transparent-semi-default;
	content: "";
	border-radius: variables.$db-border-radius-xs;
	position: absolute;
}

.db-tabs {
	$db-tabs-z-index-tab-list: 20;

	@include helpers.display(flex);
	inline-size: 100%;
	position: relative;

	.db-tab-panel {
		padding: variables.$db-spacing-fixed-2xs variables.$db-spacing-fixed-xs 0 variables.$db-spacing-fixed-xs;
		position: relative;
		z-index: 1;
	}

	.db-tab-list {
		position: relative;
		z-index: $db-tabs-z-index-tab-list;

		db-tab-item, dbtabitem { display: contents; }
	}

	&:not([data-orientation="vertical"]) {
		flex-flow: column wrap;

		.db-tab-list {
			--db-tabs-line-gap: calc(#{variables.$db-spacing-fixed-2xs} + 8px);
			padding-block-end: var(--db-tabs-line-gap);
			@extend %horizontal-pulse;

			&::before {
				@extend %pulse-track;
				inset-block-end: 0;
				inset-block-start: auto;
				block-size: variables.$db-border-width-xs;
				inset-inline: 0;
				z-index: 1;
			}

			&[role="tablist"], .db-tab-list {
				display: flex;
				align-items: flex-end;
				overflow: auto hidden;
				inline-size: 100%;
			}
		}
	}

	&[data-orientation="vertical"] {
		flex-direction: row;

		.db-tab-list {
			--db-tabs-line-gap-vertical: calc(#{variables.$db-spacing-fixed-xs} + 13px);

			[data-density="expressive"] & {
				--db-tabs-line-gap-vertical: calc(var(--db-spacing-fixed-expressive-xs) + 13px);
			}

			min-inline-size: variables.$db-sizing-3xl;
			max-inline-size: variables.$db-sizing-3xl;
			padding-inline-start: var(--db-tabs-line-gap-vertical);
			padding-inline-end: variables.$db-spacing-fixed-xs;
			margin-block-end: auto;
			@extend %vertical-pulse;

			&::before {
				@extend %pulse-track;
				display: block !important;
				inset-inline-start: 0;
				inset-block: variables.$db-spacing-fixed-xs;
				inline-size: variables.$db-border-width-xs;
				z-index: 1;
			}

			&[role="tablist"], .db-tab-list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}
