<div class="form-container">
	<fieldset>
		<form>
			<p>DbInput:</p>
			<DBInput
				[(ngModel)]="input"
				name="username"
				label="Textinput"
				placeholder="Placeholder"
				description="Description"
				iconBefore="edit"
				ngDefaultControl
			></DBInput>
		</form>
	</fieldset>
	<fieldset>
		<p>DbButton:</p>
		<DBButton variant="primary" (click)="showValues()">
			Hi from Showcase!
		</DBButton>
		<h2>Output</h2>
		<dl>
			<dt>inputs value</dt>
			<dd>{{ input ? input : "No Input set" }}</dd>
			<dt>checkbox</dt>
			<dd>{{ checkbox ? "yes" : "no" }}</dd>
			<dt>radio</dt>
			<dd>{{ radio ? radio : "No radio selected" }}</dd>
			<dt>select</dt>
			<dd>{{ select ? select : "Not Selected" }}</dd>
			<dt>textarea</dt>
			<dd>{{ textarea ? textarea : "No Text set" }}</dd>
			<dt>toggle</dt>
			<dd>{{ toggle?.toString() }}</dd>
		</dl>
	</fieldset>
</div>
