---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/card.json';
import type { DBCardProps } from '@components';
import { getPropsAsAttributes, getVariantsWithExamples } from '../../utils';

const exampleFn = ({ behavior, children, spacing, elevationLevel }: DBCardProps) => {
	const props = { behavior, spacing, 'elevation-level': elevationLevel };

	const card = `
				<db-card ${getPropsAsAttributes(props)}>
				<strong>${children}</strong>
				</db-card>
`;

	if (behavior === 'interactive') {
		return `<button type="button">${card}</button>`;
	} else {
		return card;
	}
};
const variants = getVariantsWithExamples<DBCardProps>(defaultComponentVariants, exampleFn);
---

<DefaultLayout>
	<DefaultComponent title="DBCard" variants={variants} />
</DefaultLayout>
