---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/popover.json';
import type { DBPopoverProps } from '@components';
import VariantList from '../../components/default/VariantList.astro';
import type { DefaultComponentVariants } from '../../../../shared/default-component-data.ts';
import { DBPopover, DBButton } from '@components';
---

<DefaultLayout>
	<DefaultComponent title="DBPopover" variants={defaultComponentVariants}
		>{
			(variant: DefaultComponentVariants) => (
				<VariantList {...variant}>
					{({ children, content, ...props }: DBPopoverProps & { content?: string }) => (
						<DBPopover {...props}>
							<DBButton slot="trigger">{children}</DBButton>
							{content ? (
								content
							) : (
								<>
									<ul class="popover-list">
										<li>Popover Custom Item 1</li>
										<li>Popover Custom Item 2</li>
									</ul>
									<DBButton>Popover Custom Item 3</DBButton>
								</>
							)}
						</DBPopover>
					)}
				</VariantList>
			)
		}</DefaultComponent
	>
</DefaultLayout>
