@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/component";

.db-tab {
	@extend %default-interactive-component;
	@extend %transparent-border;
	@include colors.bg-transparent-interactive(false);

	padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-sm;

	&.is-icon-text-replace {
		font-size: 0;
		margin-inline-end: 0;
	}

	&:has(input:focus-visibles) {
		@extend %focus-placeholder;
	}

	&:has(input:checked) {
		font-weight: 700;
	}

	&[data-icon]::before {
		margin-inline-end: variables.$db-spacing-fixed-sm;
	}

	&[data-icon-after]::after {
		margin-inline-start: variables.$db-spacing-fixed-sm;
	}

	input {
		&[type="radio"] {
			position: absolute;
			inline-size: 0;
			block-size: 0;
			margin-inline-end: initial;
			border: none;
			border-radius: inherit;

			&:focus-within,
			&:focus-visible {
				outline: none;
				box-shadow: none;
			}
		}
	}
}
