@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/text-components";

.db-brand {
	@extend %db-overwrite-font-size-md;
	@extend %default-text-component;
	@include helpers.display(flex);

	gap: variables.$db-spacing-fixed-sm;
	align-items: center;
	font-weight: 700;

	&::before {
		--db-icon-font-size: #{variables.$db-sizing-md};
		--db-icon-margin-end: 0;
		--db-icon-color: #{colors.$db-brand-origin-default};
	}

	img {
		$logo-size: calc(
			#{variables.$db-sizing-md} - #{variables.$db-sizing-3xs}
		);

		inline-size: $logo-size;
		max-block-size: $logo-size;
	}

	// Deactivate underline on site name being made clickable by added to the link as well
	a {
		text-decoration: none;
	}
}
