$db-burgundy-bg-basic-level-1-default: var(
	--db-burgundy-bg-basic-level-1-default
);
$db-burgundy-bg-basic-level-1-hovered: var(
	--db-burgundy-bg-basic-level-1-hovered
);
$db-burgundy-bg-basic-level-1-pressed: var(
	--db-burgundy-bg-basic-level-1-pressed
);
$db-burgundy-bg-basic-level-2-default: var(
	--db-burgundy-bg-basic-level-2-default
);
$db-burgundy-bg-basic-level-2-hovered: var(
	--db-burgundy-bg-basic-level-2-hovered
);
$db-burgundy-bg-basic-level-2-pressed: var(
	--db-burgundy-bg-basic-level-2-pressed
);
$db-burgundy-bg-basic-level-3-default: var(
	--db-burgundy-bg-basic-level-3-default
);
$db-burgundy-bg-basic-level-3-hovered: var(
	--db-burgundy-bg-basic-level-3-hovered
);
$db-burgundy-bg-basic-level-3-pressed: var(
	--db-burgundy-bg-basic-level-3-pressed
);
$db-burgundy-bg-basic-transparent-full-default: var(
	--db-burgundy-bg-basic-transparent-full-default
);
$db-burgundy-bg-basic-transparent-semi-default: var(
	--db-burgundy-bg-basic-transparent-semi-default
);
$db-burgundy-bg-basic-transparent-full-hovered: var(
	--db-burgundy-bg-basic-transparent-full-hovered
);
$db-burgundy-bg-basic-transparent-full-pressed: var(
	--db-burgundy-bg-basic-transparent-full-pressed
);
$db-burgundy-bg-basic-transparent-semi-hovered: var(
	--db-burgundy-bg-basic-transparent-semi-hovered
);
$db-burgundy-bg-basic-transparent-semi-pressed: var(
	--db-burgundy-bg-basic-transparent-semi-pressed
);
$db-burgundy-on-bg-basic-emphasis-100-default: var(
	--db-burgundy-on-bg-basic-emphasis-100-default
);
$db-burgundy-on-bg-basic-emphasis-100-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-100-hovered
);
$db-burgundy-on-bg-basic-emphasis-100-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-100-pressed
);
$db-burgundy-on-bg-basic-emphasis-90-default: var(
	--db-burgundy-on-bg-basic-emphasis-90-default
);
$db-burgundy-on-bg-basic-emphasis-90-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-90-hovered
);
$db-burgundy-on-bg-basic-emphasis-90-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-90-pressed
);
$db-burgundy-on-bg-basic-emphasis-80-default: var(
	--db-burgundy-on-bg-basic-emphasis-80-default
);
$db-burgundy-on-bg-basic-emphasis-80-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-80-hovered
);
$db-burgundy-on-bg-basic-emphasis-80-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-80-pressed
);
$db-burgundy-on-bg-basic-emphasis-70-default: var(
	--db-burgundy-on-bg-basic-emphasis-70-default
);
$db-burgundy-on-bg-basic-emphasis-70-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-70-hovered
);
$db-burgundy-on-bg-basic-emphasis-70-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-70-pressed
);
$db-burgundy-on-bg-basic-emphasis-60-default: var(
	--db-burgundy-on-bg-basic-emphasis-60-default
);
$db-burgundy-on-bg-basic-emphasis-60-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-60-hovered
);
$db-burgundy-on-bg-basic-emphasis-60-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-60-pressed
);
$db-burgundy-on-bg-basic-emphasis-50-default: var(
	--db-burgundy-on-bg-basic-emphasis-50-default
);
$db-burgundy-on-bg-basic-emphasis-50-hovered: var(
	--db-burgundy-on-bg-basic-emphasis-50-hovered
);
$db-burgundy-on-bg-basic-emphasis-50-pressed: var(
	--db-burgundy-on-bg-basic-emphasis-50-pressed
);
$db-burgundy-bg-inverted-contrast-max-default: var(
	--db-burgundy-bg-inverted-contrast-max-default
);
$db-burgundy-bg-inverted-contrast-max-hovered: var(
	--db-burgundy-bg-inverted-contrast-max-hovered
);
$db-burgundy-bg-inverted-contrast-max-pressed: var(
	--db-burgundy-bg-inverted-contrast-max-pressed
);
$db-burgundy-bg-inverted-contrast-high-default: var(
	--db-burgundy-bg-inverted-contrast-high-default
);
$db-burgundy-bg-inverted-contrast-high-hovered: var(
	--db-burgundy-bg-inverted-contrast-high-hovered
);
$db-burgundy-bg-inverted-contrast-high-pressed: var(
	--db-burgundy-bg-inverted-contrast-high-pressed
);
$db-burgundy-bg-inverted-contrast-low-default: var(
	--db-burgundy-bg-inverted-contrast-low-default
);
$db-burgundy-bg-inverted-contrast-low-hovered: var(
	--db-burgundy-bg-inverted-contrast-low-hovered
);
$db-burgundy-bg-inverted-contrast-low-pressed: var(
	--db-burgundy-bg-inverted-contrast-low-pressed
);
$db-burgundy-on-bg-inverted-default: var(--db-burgundy-on-bg-inverted-default);
$db-burgundy-on-bg-inverted-hovered: var(--db-burgundy-on-bg-inverted-hovered);
$db-burgundy-on-bg-inverted-pressed: var(--db-burgundy-on-bg-inverted-pressed);
$db-burgundy-origin-default: var(--db-burgundy-origin-default);
$db-burgundy-origin-hovered: var(--db-burgundy-origin-hovered);
$db-burgundy-origin-pressed: var(--db-burgundy-origin-pressed);
$db-burgundy-on-origin-default: var(--db-burgundy-on-origin-default);
$db-burgundy-on-origin-hovered: var(--db-burgundy-on-origin-hovered);
$db-burgundy-on-origin-pressed: var(--db-burgundy-on-origin-pressed);

// vibrant
$db-burgundy-bg-vibrant-default: var(--db-burgundy-bg-vibrant-default);
$db-burgundy-bg-vibrant-hovered: var(--db-burgundy-bg-vibrant-hovered);
$db-burgundy-bg-vibrant-pressed: var(--db-burgundy-bg-vibrant-pressed);

// on-vibrant
$db-burgundy-on-bg-vibrant-default: var(--db-burgundy-on-bg-vibrant-default);
$db-burgundy-on-bg-vibrant-hovered: var(--db-burgundy-on-bg-vibrant-hovered);
$db-burgundy-on-bg-vibrant-pressed: var(--db-burgundy-on-bg-vibrant-pressed);
