@use "../helpers";

@mixin set-component-variables($size) {
	/* stylelint-disable-next-line at-rule-prelude-no-invalid,layer-name-pattern */
	@layer #{helpers.$layer-variables} {
		/* Those variables are only for components to calculate heights and change icons */
		// stylelint-disable-next-line no-invalid-position-declaration
		--db-icon-font-weight: var(--db-base-body-icon-weight-#{$size});
		// stylelint-disable-next-line no-invalid-position-declaration
		--db-icon-font-size: var(--db-base-body-icon-font-size-#{$size});
	}
}

@mixin set-font-size($size) {
	font: var(--db-type-body-#{$size});
}

@mixin set-headline-variables($size) {
	/* stylelint-disable-next-line at-rule-prelude-no-invalid,layer-name-pattern */
	@layer #{helpers.$layer-variables} {
		/* Those variables are only for components to calculate heights and change icons */
		// stylelint-disable-next-line no-invalid-position-declaration
		--db-icon-font-weight: var(--db-base-headline-icon-weight-#{$size});
		// stylelint-disable-next-line no-invalid-position-declaration
		--db-icon-font-size: var(--db-base-headline-icon-font-size-#{$size});
	}
}

@mixin set-headline-size($size) {
	font: var(--db-type-headline-#{$size});
}

$font-sizes: "3xl", "2xl", "xl", "lg", "md", "sm", "xs", "2xs", "3xs";

/**
	Generates 3 types of placeholders, e.g:
	- %db-component-variables-md
	- %db-font-size-md
	- %db-overwrite-font-size-md
 */
@mixin generate-font-sizes() {
	@each $font-size in $font-sizes {
		%db-component-variables-#{$font-size} {
			@include set-component-variables($font-size);
		}

		%db-font-size-#{$font-size} {
			@include set-font-size($font-size);
		}

		%db-overwrite-font-size-#{$font-size} {
			@include set-font-size($font-size);
			@include set-component-variables($font-size);
		}

		%db-overwrite-headline-size-#{$font-size} {
			@include set-headline-size($font-size);
			@include set-headline-variables($font-size);
		}
	}
}

@include generate-font-sizes;
