/*
 * SPDX-FileCopyrightText: 2025 DB Systel GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use "../default.assets-paths" as assets-paths;

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 300;
	src: url("#{assets-paths.$fonts-path}OpenSans-Light-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	src: url("#{assets-paths.$fonts-path}OpenSans-Regular-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 500;
	src: url("#{assets-paths.$fonts-path}OpenSans-Medium-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 600;
	src: url("#{assets-paths.$fonts-path}OpenSans-SemiBold-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 700;
	src: url("#{assets-paths.$fonts-path}OpenSans-Bold-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: "OpenSans Head";
	font-style: normal;
	font-weight: 300;
	src: url("#{assets-paths.$fonts-path}OpenSans-Light-EU.woff2")
		format("woff2");
}

@font-face {
	font-family: "OpenSans Head";
	font-style: normal;
	font-weight: 900;
	src: url("#{assets-paths.$fonts-path}OpenSans-ExtraBold-EU.woff2")
		format("woff2");
}
