@if (navItem) {
	<db-navigation-item [backbuttontext]="getBackButtonText()">
		@if (navItem.subNavigation) {
			<ng-container slot="subNavigation" sub-navigation>
				@for (item of navItem.subNavigation; track item.label) {
					<app-nav-item [navitem]="item" />
				}
			</ng-container>
		}
		<ng-container *dbnavigationcontent>
			@if (navItem.component) {
				<a
					[routerlink]="navItem.path"
					[routerLinkActiveOptions]="{ exact: true }"
					ariacurrentwhenactive="page"
					queryParamsHandling="merge"
					routerlinkactive="active"
				>
					{{ navItem.label }}
				</a>
			}
			@if (!navItem.component) {
				{{ navItem.label }}
			}
		</ng-container>
	</db-navigation-item>
}
