@if (navItem) {
	<db-navigation-item [backButtonText]="getBackButtonText()">
		@if (navItem.subNavigation) {
			<ng-container slot="subNavigation" sub-navigation>
				@for (item of navItem.subNavigation; track item.label) {
					<app-nav-item [navItem]="item" />
				}
			</ng-container>
		}
		<ng-container *dbNavigationContent>
			@if (navItem.component) {
				<a
					[routerLink]="navItem.path"
					[routerLinkActiveOptions]="{ exact: true }"
					ariaCurrentWhenActive="page"
					queryParamsHandling="merge"
					routerLinkActive="active"
				>
					{{ navItem.label }}
				</a>
			}
			@if (!navItem.component) {
				{{ navItem.label }}
			}
		</ng-container>
	</db-navigation-item>
}
