@if (navItem.subNavigation) {
	<db-navigation-item-group [text]="navItem.label">
		@for (item of navItem.subNavigation; track item.label) {
			<app-nav-item [navItem]="item" />
		}
	</db-navigation-item-group>
} @else {
	<db-navigation-item>
		@if (navItem.component) {
			<a
				[routerLink]="navItem.path"
				[routerLinkActiveOptions]="{ exact: true }"
				ariaCurrentWhenActive="page"
				routerLinkActive="active"
				queryParamsHandling="merge"
			>
				{{ navItem.label }}
			</a>
		}
	</db-navigation-item>
}
