@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/next/component";
@use "../../styles/internal/form-components";

[data-generation="next"] .db-accordion-item,
.db-accordion-item[data-generation="next"] {
	@include helpers.display(flex);
	flex-direction: column;
	gap: var(--db-component-gap);

	&:has(> details[open]) {
		border-color: var(--db-border);
	}

	> details {
		@extend %default-material;
		@extend %font;
		@extend %default-border;

		&[open] {
			.db-accordion-item-content {
				padding: component.$component-content-padding-block
					component.$component-content-padding-inline;
				block-size: auto;
				/* stylelint-disable-next-line declaration-property-value-no-unknown, db-ux/use-sizing */
				block-size: calc-size(auto, size);
			}

			> summary::after {
				transform: form-components.$dropdown-icon-transform;
			}
		}

		.db-accordion-item-summary-content {
			@extend %content;
		}

		> summary {
			@extend %next-icon;
			@extend %dropdown-icon;
			@extend %component;

			gap: var(--db-component-gap);
			justify-content: space-between;
			list-style: none;

			@include helpers.display(flex);

			@include helpers.hover {
				background-color: var(--db-bg-hovered);
			}

			@include helpers.active {
				background-color: var(--db-bg-pressed);
			}
		}

		.db-accordion-item-content {
			@extend %content;
			block-size: 0;
			overflow: hidden;
		}

		@media (prefers-reduced-motion: no-preference) {
			.db-accordion-item-content {
				transition: block-size
					#{variables.$db-transition-straight-emotional};
			}
		}
	}
}
