@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/next/component";
@use "../../styles/internal/form-components";

[data-generation="next"] .db-accordion-item,
.db-accordion-item[data-generation="next"] {
	@include helpers.display(flex);
	flex-direction: column;
	inline-size: 100%;
	gap: var(
		--db-layout-same-content-elements
	); // We use this for the divider coming from db-accordion

	&:has(> details[aria-disabled="true"]) {
		@extend %disabled;

		pointer-events: none;
	}

	> details {
		@extend %default-material;
		@extend %default-border;

		&[open] {
			.db-accordion-item-content {
				block-size: auto;
				/* stylelint-disable-next-line declaration-property-value-no-unknown, db-ux/use-sizing */
				block-size: calc-size(auto, size);
			}

			.db-accordion-item-header-containerless-component::after {
				transform: form-components.$dropdown-icon-transform;
			}
		}

		.db-accordion-item-header {
			@extend %layout;
			list-style: none;
			border-radius: var(--db-border-radius);
			inline-size: 100%;

			@include helpers.display(flex);

			@include helpers.hover {
				background-color: var(--db-bg-hovered);
			}

			@include helpers.active {
				background-color: var(--db-bg-pressed);
			}

			.db-accordion-item-header-containerless-component {
				@extend %containerless-component;
				@extend %dropdown-icon;
				@extend %next-icon;

				inline-size: 100%;
				font-weight: bold;
				align-items: center;

				&:not(:has(:first-child))::after,
				:first-child {
					margin-inline-start: auto;
				}
			}
		}

		.db-accordion-item-content {
			@extend %layout;
			@include helpers.display(flex);

			flex-direction: column;
			block-size: 0;
			overflow: hidden;
			inline-size: 100%;
		}

		@media (prefers-reduced-motion: no-preference) {
			.db-accordion-item-content {
				transition: block-size
					#{variables.$db-transition-straight-emotional};
			}
		}
	}
}
