@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/animation";
@use "../../styles/internal/form-components";
@use "../../styles/internal/component";

.db-accordion-item {
	position: relative;
	inline-size: 100%;
	border-radius: component.$card-border-radius;
	list-style-type: "";

	> details {
		&[open] {
			> summary + div {
				block-size: auto;
				/* stylelint-disable-next-line declaration-property-value-no-unknown */
				block-size: calc-size(auto, size);
			}

			> summary::after {
				transform: form-components.$dropdown-icon-transform;
			}
		}

		&[aria-disabled="true"] {
			pointer-events: none;
			opacity: variables.$db-opacity-md;
		}

		@media screen and (prefers-reduced-motion: no-preference) {
			> summary + div {
				transition: block-size
					#{variables.$db-transition-straight-emotional};
			}
		}

		> summary + div {
			block-size: 0;
			overflow: hidden;
			padding: variables.$db-spacing-fixed-md;
			padding-block-end: variables.$db-spacing-fixed-lg;
		}

		> summary {
			@extend %dropdown-icon;
			@extend %db-overwrite-font-size-md;
			@extend %default-interactive-component;
			@extend %default-card;

			list-style: none;

			@include helpers.display(flex);

			justify-content: space-between;
			padding: variables.$db-spacing-fixed-md;
			gap: variables.$db-spacing-fixed-md;

			&::-webkit-details-marker {
				display: none;
			}

			&::after {
				inset-inline-end: variables.$db-spacing-fixed-sm;
			}

			&:focus-visible {
				border-radius: variables.$db-border-radius-xs;
			}
		}
	}
}
