<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
	[signalForms]="signalForm.value().value()"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-textarea
			(change)="handlePlainChange($event)"
			[value]="plain"
			label="Plain"
			message="Description"
			name="textarea-name"
			placeholder="Placeholder"
		/>
		<db-textarea
			[(ngModel)]="ngModel"
			label="ngModel"
			message="Description"
			name="textarea-name"
			placeholder="Placeholder"
		/>
		<db-textarea
			[formControl]="formControl"
			label="formControl"
			message="Description"
			name="textarea-name"
			placeholder="Placeholder"
		/>
		<db-textarea
			[formField]="signalForm.value"
			label="signalForms"
			message="Description"
			placeholder="Placeholder"
		/>
	</fieldset>
</app-form-wrapper>
