@use "../../styles/internal/navigation-item";

.db-navigation-item {
	@extend %navigation-item;

	a {
		@extend %navigation-item-interactive-element;

		text-decoration: none;

		&:focus-visible {
			// We need to increase the z-index on focus-visible for the outline and box-shadow to appear above the indicator
			z-index: 1;
		}
	}

	.db-tooltip {
		// We don't show the tooltip unless user uses DBShell with controlPanelDesktopPosition="left"
		// and collapsed navigation
		--db-show-popover-visibility: hidden;
	}
}
