@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/form-components";

.db-radio {
	@include form-components.set-default-check-element;


	@include form-components.get-validity(radio) {
		@include form-components.get-validity-color-checkbox("valid");
	}

	@include form-components.get-validity(radio, "invalid") {
		@include form-components.get-validity-color-checkbox("invalid");
	}

	input {
		border-radius: variables.$db-border-radius-full;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: border-width variables.$db-transition-duration-fast
				variables.$db-transition-timing-functional;
		}

		&:checked {
			&:not([data-size="small"]) {
				border-width: calc(
					(
							#{form-components.$font-size-height} -
								#{variables.$db-sizing-2xs}
						) /
						2
				);
			}

			&[data-size="small"] {
				border-width: calc(
					(
							#{form-components.$font-size-height} -
								#{variables.$db-sizing-3xs}
						) /
						2
				);
			}
		}

		&:focus-visible {
			// Overwrite default border-radius
			border-radius: variables.$db-border-radius-full;
		}
	}
}
