@use "@db-ui/foundations/build/scss/colors";

%dialog-container {
	position: fixed;
	inset: 0;
	z-index: 9995;
}

dialog {
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 9996;
	color: inherit;

	&[data-backdrop] {
		@extend %dialog-container;
	}

	&:not([data-backdrop="none"]) {
		&::backdrop {
			background-color: var(
				--db-current-color-enabled,
				var(--db-neutral-on-bg-enabled, #242629)
			);
			opacity: 0.64;
		}

		&[data-backdrop="invisible"] {
			&::backdrop {
				opacity: 0;
			}
		}

		&[data-backdrop="weak"] {
			&::backdrop {
				opacity: 0.32;
			}
		}
	}
}
