@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;

%db-puls {
	&::after {
		content: "";
		position: absolute;
		border-radius: $default-border-radius;

		@media screen and (max-width: $db-screens-m) {
			border-inline-start: $default-border-radius solid $db-colors-primary-enabled;
			inset-inline-start: calc(-1 * #{$db-spacing-fixed-xs});
			transition: height 0.15s $db-transition-emotional-timing;
			block-size: 0;
			inset-block-start: 50%;
			transform: translate(0, -50%);
		}

		@media screen and (min-width: $db-screens-m) {
			border-block-end: $default-border-radius solid
				$db-colors-primary-enabled;
			inset-block-end: calc(-1 * #{$db-spacing-fixed-xs});
			transition: width 0.15s $db-transition-emotional-timing;
			inline-size: 0;
			inset-inline-start: 50%;
			transform: translate(-50%, 0);
		}
	}
}

%show-db-puls {
	&::after {
		@media screen and (max-width: $db-screens-m) {
			block-size: 100%;
		}

		@media screen and (min-width: $db-screens-m) {
			inline-size: 100%;
		}
	}
}
