@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;

.db-puls {
	position: absolute;
	border-radius: $default-border-radius;

	@media screen and (max-width: $db-screens-m) {
		border-left: $default-border-radius solid $db-colors-primary-enabled;
		left: calc(-1 * #{$db-spacing-fixed-xs});
		transition: height 0.15s $db-transition-emotional-timing;
		height: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	@media screen and (min-width: $db-screens-m) {
		border-bottom: $default-border-radius solid $db-colors-primary-enabled;
		bottom: calc(-1 * #{$db-spacing-fixed-xs});
		transition: width 0.15s $db-transition-emotional-timing;
		width: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

%show-db-puls {
	.db-puls {
		@media screen and (max-width: $db-screens-m) {
			height: 100%;
		}

		@media screen and (min-width: $db-screens-m) {
			width: 100%;
		}
	}
}
