/* This is a predefined beginner friendly bundle with default asset-paths (../assets) */

// Bundle all components
@forward "./index";

// Bundle foundation defaults
@forward "@db-ux/core-foundations/build/styles/relative";

// Bundle optionals
@forward "component-animations";
@forward "wc-workarounds";
@forward "@db-ux/core-foundations/build/styles/helpers/classes/all";
@forward "@db-ux/core-foundations/build/styles/density/classes/all";
@forward "@db-ux/core-foundations/build/styles/fonts/classes/all";
@forward "@db-ux/core-foundations/build/styles/colors/classes/all";
@forward "@db-ux/core-foundations/build/styles/materials/classes/all";
@forward "@db-ux/core-foundations/build/styles/weights/classes/all";
@forward "@db-ux/core-foundations/build/styles/contrasts/classes/all";
