@use "internal/custom-elements";

// Web Components workaround
@each $custom-element in custom-elements.$custom-elements {
	#{$custom-element} {
		display: contents;
		border-radius: inherit; // We need this for overlay loading-indicator
	}
}

db-notification {
	inline-size: inherit;
}
