@use "internal/custom-elements";

// Web Components workaround
@each $custom-element in custom-elements.$custom-elements {
	#{$custom-element} {
		display: contents;
	}
}

db-notification {
	inline-size: inherit;
}

db-navigation-item-group {
	button {
		// workaround for angular flash of unstyled content
		appearance: none;
		// stylelint-disable-next-line db-ux/use-border-width, db-ux/use-border-color
		border: none;
		padding: 0;
		background-color: transparent;
	}
}
