.DS_Store
node_modules
npm-debug.log
.history
.idea
**/build/
**/dist/
build-old/
out/
dependencyGraph.json
source/_meta/_head.mustache
source/_meta/_foot.mustache

!e2e/.env
.env
**/*/.env

# vim files
*.swp
*.swo
tags
ctags.tmp
[._]*.un~

packages/components/src/**/*.css
packages/components/src/**/*.css.map

/output/**/src
/output/**/dist
/output/**/playwright*
/output/**/test-results

/showcases/**/results

/build-showcases/
/build-outputs/
!/build-outputs/package.json

.cache
**/playwright-report
/.parcel-cache/
/output/docs.json
showcases/patternhub/public/iframe-resizer/*

**/test-results/
**/recordings/

/__snapshots__/**/*-win32.png
/packages/foundations/scss/_normalize.scss
/packages/foundations/assets/icons/tmp/
/packages/foundations/assets/icons/fonts/**/index.html
/packages/foundations/assets/icons/fonts/**/index.css
/packages/foundations/assets/icons/fonts/**/font-face.css
/packages/foundations/assets/icons/fonts/**/info.json
/packages/foundations/assets/icons/fonts/**/*.eot
/packages/foundations/assets/icons/fonts/**/*.svg
/packages/foundations/assets/icons/fonts/**/*.ttf
/packages/foundations/assets/icons/fonts/**/*.woff
/packages/foundations/assets/icons/fonts/**/*.json

/output/stencil/.stencil
/output/stencil/loader
/output/stencil/www
**/.angular
/packages/foundations/assets/icons/functional/fonts/all/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/all/db-ux.json
/packages/foundations/assets/icons/functional/fonts/all/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/all/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/all/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/all/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/all/font-face.css
/packages/foundations/assets/icons/functional/fonts/all/index.css
/packages/foundations/assets/icons/functional/fonts/all/index.html
/packages/foundations/assets/icons/functional/fonts/all/info.json
/packages/foundations/assets/icons/functional/fonts/default/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default/font-face.css
/packages/foundations/assets/icons/functional/fonts/default/index.css
/packages/foundations/assets/icons/functional/fonts/default/index.html
/packages/foundations/assets/icons/functional/fonts/default/info.json
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_12/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_12/index.css
/packages/foundations/assets/icons/functional/fonts/default_12/index.html
/packages/foundations/assets/icons/functional/fonts/default_12/info.json
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_14/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_14/index.css
/packages/foundations/assets/icons/functional/fonts/default_14/index.html
/packages/foundations/assets/icons/functional/fonts/default_14/info.json
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_16/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_16/index.css
/packages/foundations/assets/icons/functional/fonts/default_16/index.html
/packages/foundations/assets/icons/functional/fonts/default_16/info.json
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_20/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_20/index.css
/packages/foundations/assets/icons/functional/fonts/default_20/index.html
/packages/foundations/assets/icons/functional/fonts/default_20/info.json
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_24/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_24/index.css
/packages/foundations/assets/icons/functional/fonts/default_24/index.html
/packages/foundations/assets/icons/functional/fonts/default_24/info.json
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_28/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_28/index.css
/packages/foundations/assets/icons/functional/fonts/default_28/index.html
/packages/foundations/assets/icons/functional/fonts/default_28/info.json
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_32/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_32/index.css
/packages/foundations/assets/icons/functional/fonts/default_32/index.html
/packages/foundations/assets/icons/functional/fonts/default_32/info.json
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_48/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_48/index.css
/packages/foundations/assets/icons/functional/fonts/default_48/index.html
/packages/foundations/assets/icons/functional/fonts/default_48/info.json
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.json
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/default_64/font-face.css
/packages/foundations/assets/icons/functional/fonts/default_64/index.css
/packages/foundations/assets/icons/functional/fonts/default_64/index.html
/packages/foundations/assets/icons/functional/fonts/default_64/info.json
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled/index.css
/packages/foundations/assets/icons/functional/fonts/filled/index.html
/packages/foundations/assets/icons/functional/fonts/filled/info.json
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_12/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_12/index.css
/packages/foundations/assets/icons/functional/fonts/filled_12/index.html
/packages/foundations/assets/icons/functional/fonts/filled_12/info.json
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_14/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_14/index.css
/packages/foundations/assets/icons/functional/fonts/filled_14/index.html
/packages/foundations/assets/icons/functional/fonts/filled_14/info.json
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_16/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_16/index.css
/packages/foundations/assets/icons/functional/fonts/filled_16/index.html
/packages/foundations/assets/icons/functional/fonts/filled_16/info.json
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_20/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_20/index.css
/packages/foundations/assets/icons/functional/fonts/filled_20/index.html
/packages/foundations/assets/icons/functional/fonts/filled_20/info.json
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_24/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_24/index.css
/packages/foundations/assets/icons/functional/fonts/filled_24/index.html
/packages/foundations/assets/icons/functional/fonts/filled_24/info.json
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_28/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_28/index.css
/packages/foundations/assets/icons/functional/fonts/filled_28/index.html
/packages/foundations/assets/icons/functional/fonts/filled_28/info.json
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_32/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_32/index.css
/packages/foundations/assets/icons/functional/fonts/filled_32/index.html
/packages/foundations/assets/icons/functional/fonts/filled_32/info.json
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_48/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_48/index.css
/packages/foundations/assets/icons/functional/fonts/filled_48/index.html
/packages/foundations/assets/icons/functional/fonts/filled_48/info.json
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.json
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/filled_64/font-face.css
/packages/foundations/assets/icons/functional/fonts/filled_64/index.css
/packages/foundations/assets/icons/functional/fonts/filled_64/index.html
/packages/foundations/assets/icons/functional/fonts/filled_64/info.json
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted/index.css
/packages/foundations/assets/icons/functional/fonts/inverted/index.html
/packages/foundations/assets/icons/functional/fonts/inverted/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_12/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_12/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_12/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_12/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_14/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_14/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_14/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_14/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_16/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_16/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_16/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_16/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_20/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_20/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_20/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_20/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_24/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_24/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_24/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_24/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_28/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_28/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_28/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_28/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_32/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_32/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_32/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_32/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_48/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_48/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_48/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_48/info.json
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.eot
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.json
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.svg
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.symbol.svg
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.ttf
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff
/packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
/packages/foundations/assets/icons/functional/fonts/inverted_64/font-face.css
/packages/foundations/assets/icons/functional/fonts/inverted_64/index.css
/packages/foundations/assets/icons/functional/fonts/inverted_64/index.html
/packages/foundations/assets/icons/functional/fonts/inverted_64/info.json
