assets/fonts/**/sources/
public/
pnpm-lock.yaml
build/
node_modules
output
build-outputs
build-showcases
packages/foundations/scripts/generate-icon-fonts/styles/**
**/__snapshots__
showcases/nuxt-showcase/.nuxt
showcases/patternhub/.next
