@mixin init($variant) {
	[data-semantic="#{$variant}"],
	[data-color="#{$variant}"],
	.db-color-#{$variant} {
		@extend %db-#{$variant}-variables;
	}
}

// TODO: We don't need those anymore ⬇️
@mixin init-on-background-colors($color) {
	[data-on-bg-color="#{$color}"],
	.db-on-bg-color-#{$color} {
		color: var(--db-adaptive-on-bg-basic-#{$color}-default);
	}
}

@mixin init-background-colors($background-color) {
	[data-bg-color="#{$background-color}"],
	.db-bg-color-#{$background-color} {
		background-color: var(--db-adaptive-bg-#{$background-color}-default);
	}
}
