<app-default-component
	title="DBSwitch"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-switch
			[showRequiredAsterisk]="exampleProps?.showRequiredAsterisk"
			[visualAid]="exampleProps?.visualAid"
			[checked]="exampleProps?.checked"
			[disabled]="exampleProps?.disabled"
			[required]="exampleProps?.required"
			[showLabel]="exampleProps?.showLabel"
			[variant]="exampleProps?.variant"
			[size]="exampleProps?.size"
			[icon]="exampleProps?.icon"
			[iconTrailing]="exampleProps?.iconTrailing"
			[iconLeading]="exampleProps?.iconLeading"
			[validation]="exampleProps?.validation"
			[invalidMessage]="exampleProps?.invalidMessage"
			[validMessage]="exampleProps?.validMessage"
			[message]="exampleProps?.message"
			[showMessage]="exampleProps?.showMessage"
			[label]="exampleProps?.label"
		>
			<!-- eslint-disable-next-line -->
			{{
				exampleProps?.label ? exampleProps?.label : exampleName
			}}</db-switch
		>
		@if (
			exampleProps?.showLabel !== undefined &&
			exampleProps?.showLabel !== null &&
			!exampleProps?.showLabel
		) {
			<db-infotext semantic="informational" icon="none">
				{{ exampleName }}
			</db-infotext>
		}
	</ng-template>
</app-default-component>
