<app-default-component
	title="DBSelect"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-select
			[showRequiredAsterisk]="exampleProps?.showRequiredAsterisk"
			[label]="exampleProps?.label"
			[placeholder]="exampleProps?.placeholder"
			[variant]="exampleProps?.variant"
			[showLabel]="exampleProps?.showLabel"
			[options]="exampleProps?.options"
			[disabled]="exampleProps?.disabled"
			[icon]="exampleProps?.icon"
			[required]="exampleProps?.required"
			[value]="exampleProps?.value"
			[message]="exampleProps?.message"
			[showMessage]="exampleProps?.showMessage"
			[invalidMessage]="exampleProps?.invalidMessage"
			[validMessage]="exampleProps?.validMessage"
			[validation]="exampleProps?.validation"
			[showEmptyOption]="exampleProps?.showEmptyOption"
		></db-select>
	</ng-template>
</app-default-component>
