@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/materials/classes/all";
@use "../../styles/internal/component";

@mixin accordion-subsequent-item-selector() {
	// angular workaround
	db-accordion-item + db-accordion-item .db-accordion-item,
	.db-accordion-item + .db-accordion-item {
		@content;
	}
}

/*
The styling for the spacings between the items is defined in the accordion, where they meet.
The spacings are not part of the styling of the accordion items themselves.
 */
.db-accordion {
	padding: 0;
	margin: 0;
	list-style-type: "";

	&[data-variant="divider"],
	&:not([data-variant]) {
		@include accordion-subsequent-item-selector {
			// One space each before and after the divider results in a double spacing
			margin-block-start: calc(2 * #{variables.$db-spacing-fixed-sm});

			@include helpers.divider($position: "top");

			// Moves the divider to the vertical center of the double spacing
			&::before {
				inset-block-start: calc(-1 * #{variables.$db-spacing-fixed-sm});
			}
		}

		&:not([data-material]) {
			.db-accordion-item {
				@extend [data-material="transparent"];
			}
		}
	}

	&[data-variant="card"] {
		@include accordion-subsequent-item-selector {
			margin-block-start: variables.$db-spacing-fixed-sm;
		}
	}
}
