@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "../../styles/internal/component";

$small-section-padding-inline: max(
	calc(
		#{variables.$db-spacing-fixed-md} +
			(100vw - #{screen-sizes.$db-breakpoint-sm}) / 2
	),
	#{variables.$db-spacing-fixed-md}
);
$medium-section-padding-inline: max(
	calc(
		#{variables.$db-spacing-fixed-md} +
			(100vw - #{screen-sizes.$db-breakpoint-md}) / 2
	),
	#{variables.$db-spacing-fixed-md}
);
$large-section-padding-inline: max(
	calc(
		#{variables.$db-spacing-fixed-md} +
			(100vw - #{screen-sizes.$db-breakpoint-lg}) / 2
	),
	#{variables.$db-spacing-fixed-md}
);

.db-section {
	&:not([data-width]),
	&[data-width="full"] {
		padding-inline: variables.$db-spacing-fixed-md;
	}

	&[data-width="small"] {
		padding-inline: $small-section-padding-inline;
	}

	&[data-width="medium"] {
		padding-inline: $medium-section-padding-inline;
	}

	&[data-width="large"] {
		padding-inline: $large-section-padding-inline;
	}

	@include component.get-data-spacing(
		"padding-block",
		component.$responsive-spacings
	);
}
