<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-custom-select
			(optionselected)="handlePlainChange($event)"
			[options]="options"
			[values]="plain"
			label="Plain"
		>
		</db-custom-select>
		<db-custom-select
			[options]="options"
			label="ngModel"
			[(ngModel)]="ngModel"
		>
		</db-custom-select>
		<db-custom-select
			[formcontrol]="formControl"
			[options]="options"
			label="formControl"
		>
		</db-custom-select>
	</fieldset>
</app-form-wrapper>
