@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/form-components";
@use "../../styles/internal/icon-passing";
@use "../navigation-item-group/navigation-item-group-menu-popover";
@use "../navigation-item-group/navigation-item-group-menu-tree";

%popover-navigation {
	.db-navigation-item {
		@include icon-passing.icon-passing;
	}

	.db-navigation-item-group {
		@include icon-passing.icon-passing(
			variables.$db-spacing-fixed-sm,
			variables.$db-spacing-fixed-xs
		);

		// MOBILE Sliding
		@include screen-sizes.screen-min-max(
			(
				max: "sm"
			)
		) {
			.db-navigation-item-group-expand-button {
				/* Remove the highlight here because we have an overlay for sub-navigations */
				-webkit-tap-highlight-color: transparent;

				// show/hide sub-navigation by click
				&[aria-expanded="true"] {
					~ .db-navigation-item-group-menu {
						visibility: visible;

						@media screen and (prefers-reduced-motion: no-preference) {
							transition: visibility 0ms linear 0ms;
							animation: show-right-to-left
								#{variables.$db-transition-straight-show};
						}

						.db-navigation-item-group-menu {
							inset-block: 0;
						}
					}
				}

				&:not(&[aria-expanded="true"]) {
					@media screen and (prefers-reduced-motion: no-preference) {
						~ .db-navigation-item-group-menu {
							transition: visibility 0ms linear 410ms; // hide animation is 0.4s
							animation: hide-right-to-left
								#{variables.$db-transition-straight-hide};
						}
					}
				}
			}
		}

		// DESKTOP: show sub-navigation on hover
		@include screen-sizes.screen-min-max(
			(
				min: "sm"
			)
		) {
			.db-navigation-item-group-expand-button {
				&::after {
					@media screen and (prefers-reduced-motion: no-preference) {
						transition: form-components.$dropdown-icon-transition;
					}
				}

				&:is(:hover, :focus-visible):not(
						:has(
							~ .db-navigation-item-group-menu[data-force-close="true"]
						)
					) {
					~ .db-navigation-item-group-menu {
						visibility: visible;
					}
				}
			}
		}

		.db-navigation-item-group-expand-button {
			// default icon for navigation
			@include icons.set-icon("chevron_right", "after");
		}

		.db-navigation-item-group-menu {
			@extend %db-navigation-item-group-menu-popover;
		}
	}
}

%tree-navigation {
	.db-navigation-item {
		&:not([data-icon]) {
			&::before {
				content: none;
			}

			a {
				@include icons.set-icon("intermediary_stop");
			}
		}

		&[data-icon] {
			@include icon-passing.icon-passing;
		}
	}

	a,
	button {
		justify-content: flex-start;
	}

	.db-navigation-item-group {
		display: flex;
		flex-direction: column;

		&::before {
			content: none;
		}

		.db-navigation-item-group-expand-button {
			@include icons.set-icon("chevron_right");

			&[aria-expanded="true"] {
				&::before {
					transform: rotate(90deg);
					pointer-events: none;

					@media screen and (prefers-reduced-motion: no-preference) {
						transition: form-components.$dropdown-icon-transition;
					}
				}

				~ .db-navigation-item-group-menu {
					visibility: visible;
					block-size: auto;
					/* stylelint-disable-next-line declaration-property-value-no-unknown */
					block-size: calc-size(auto, size);
				}
			}
		}

		.db-navigation-item-group-menu {
			@extend %db-navigation-item-group-menu-tree;
		}
	}

	&[data-show-tree-line="true"] {
		.db-navigation-item-group {
			.db-navigation-item-group-menu {
				@include helpers.divider("left");
			}
		}
	}
}

.db-navigation {
	inline-size: 100%;
	position: relative;

	@include screen-sizes.screen("md") {
		inline-size: auto;
	}

	> menu {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		gap: variables.$db-spacing-fixed-sm;
	}

	&:not([data-variant]),
	&[data-variant="popover"] {
		@extend %popover-navigation;
	}

	&[data-variant="tree"] {
		@extend %tree-navigation;
	}
}
