@use "sass:map";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/form-components";
@use "../../styles/internal/component";
@use "../../styles/internal/select-components";
@use "../../styles/internal/select-dropdown-components";

.db-select-placeholder {
	@extend %select-absolute-placeholder;
}

.db-select {
	--db-form-component-padding-inline-end: #{select-components.$select-icon-padding};
	--db-form-component-min-inline-size: #{variables.$db-sizing-xl};

	// shared from form-components
	@extend %select-icon;
	@extend %select-placeholder;
	@include form-components.set-default-form-component(select);

	// increased inline size for elements with icons
	&[data-icon]:not([data-show-icon="false"]) {
		--db-form-component-min-inline-size: #{variables.$db-sizing-2xl};
	}

	select {
		text-indent: select-components.$has-before-padding;
	}

	&[data-hide-label="true"] {
		--db-label-visible-height: 0;
		--db-label-visible-spacing: 1;
	}

	// Most likely this wouldn't work on MacOS, but we're still progressively enhancing Windows by this
	option {
		background-color: colors.$db-adaptive-bg-basic-level-1-default;
		color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
	}

	optgroup {
		background-color: colors.$db-adaptive-bg-basic-level-3-default;
	}

	&:has(> select option:checked:not(.placeholder)) {
		[id$="-placeholder"] {
			display: none;
		}
	}

	// enable customized styling
	@supports (appearance: base-select) {
		select,
		/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
		::picker(select) {
			/* stylelint-disable-next-line declaration-property-value-no-unknown */
			appearance: base-select;
		}

		/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
		&::picker-icon {
			display: none;
		}

		/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
		:is(::picker(select)) {
			@extend %select-dropdown-container;
			@extend %select-list-container;
		}

		option {
			@extend %select-list-item;

			justify-content: space-between;

			// change order of the included text and pseudo-element within this flexbox item, to make sure the icon is always on the right
			flex-direction: row-reverse;

			&:checked {
				font-weight: 700;
			}

			&:not(:checked) {
				@extend %select-list-item-interaction;
			}

			/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
			:is(&::checkmark) {
				@extend %icon;
				@include icons.icon-content("check");
			}
		}
	}
}
