@use "sass:map";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "../../styles/internal/form-components";
@use "../../styles/internal/select-components";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/materials/classes/all";

.db-select-placeholder {
	@extend %select-absolute-placeholder;
}

.db-select {
	--db-form-component-padding-inline-end: #{select-components.$select-icon-padding};
	--db-form-component-min-inline-size: #{variables.$db-sizing-xl};

	// shared from form-components
	@extend %select-icon;
	@extend %select-placeholder;
	@include form-components.set-default-form-component(select);

	// increased inline size for elements with icons
	&[data-icon]:not([data-show-icon="false"]) {
		--db-form-component-min-inline-size: #{variables.$db-sizing-2xl};
	}

	select {
		text-indent: select-components.$has-before-padding;
	}

	&[data-hide-label="true"] {
		--db-label-visible-height: 0;
		--db-label-visible-spacing: 1;
	}

	// Most likely this wouldn't work on MacOS, but we're still progressively enhancing Windows by this
	option,
	optgroup {
		@extend [data-material="filled"];

		background-color: variables.$db-global-bg-color-default;
		color: variables.$db-global-on-bg-color-default;
	}

	&:has(> select option:checked:not(.placeholder)) {
		[id$="-placeholder"] {
			@include helpers.display(none);
		}
	}
}
