@use "sass:map";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "../../styles/internal/form-components";
@use "../../styles/internal/component";
@use "../../styles/select-components";

.db-select {
	--db-form-component-padding-inline-end: #{select-components.$select-icon-padding};
	// shared from form-components
	@extend %select-icon;
	@extend %select-placeholder;

	min-inline-size: calc(
		4 * #{variables.$db-sizing-md} + var(--db-form-has-before) *
			#{variables.$db-sizing-md}
	);

	@include form-components.set-default-form-component(select);

	select {
		text-indent: select-components.$has-before-padding;
	}

	// Most likely this wouldn't work on MacOS, but we're still progressively enhancing Windows by this
	option {
		background-color: colors.$db-adaptive-bg-basic-level-1-default;
		color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
	}


	&:has(> select option:checked:not([hidden])) {
		[id$="-placeholder"] {
			display: none;
		}
	}
}
