@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "../../styles/internal/control-panel-desktop";

%fade-in-loading-fonts {
	&[data-fade-in="true"] {
		opacity: 0;

		&:not([data-fonts-loaded]),
		&[data-fonts-loaded="true"] {
			opacity: 1;
		}

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: opacity variables.$db-transition-straight-emotional;
		}
	}
}

body {
	overflow: hidden;
}

.db-shell {
	@extend %fade-in-loading-fonts;

	block-size: 100vh;
	inline-size: 100vw;
	display: grid;

	&[data-control-panel-desktop-position="left"] {
		grid-template-columns: [control-panel] min-content [main] 1fr;

		> .db-control-panel-desktop {
			@extend %control-panel-desktop-vertical-orientation;
		}
	}

	&[data-control-panel-desktop-position="top"] {
		grid-template-rows: [control-panel] min-content [main] 1fr;

		> .db-control-panel-desktop {
			@extend %control-panel-desktop-horizontal-orientation;
		}
	}

	> main {
		overflow-y: auto;
	}

	> main,
	> header {
		max-inline-size: 100vw;
	}

	@include screen-sizes.screen-min-max(
		(
			min: "sm"
		)
	) {
		.db-control-panel-mobile {
			display: none;
		}
	}

	@include screen-sizes.screen-min-max(
		(
			max: "sm"
		)
	) {
		.db-control-panel-desktop {
			display: none;
		}
	}
}
