@use "sass:map";

.border-color-special {
	border: variables.$db-border-width-sm solid
		var(
			--db-check-element-border-color,
			#{colors.$db-adaptive-on-bg-basic-emphasis-100-default}
		);
}

.wrong {
	margin: 20px;
	border-radius: 4px;
	border: 1px solid red;
	width: 100px;
	height: 50px;
	block-size: 200px;
	inline-size: 300px;
}

.right {
	margin: calc(var(--db-spacing-fixed-xl) + var(--db-sizing-sm));
	border-radius: var(--db-border-radius-md);
	border: var(--db-border-width-md) solid
		var(--db-adaptive-on-bg-basic-emphasis-70);
	width: var(--db-sizing-md);
	height: 100%;
	block-size: var(--db-screen-sm);
	inline-size: var(--db-container-lg);
}

.no-variables {
	margin: var(--test);
	padding: $default-icon-margin-end;
	border-top-left-radius: $custom-radius;
	border-top-right-radius: var(--custom-radius);
	border: var(--custom-border) solid
		var(--db-adaptive-on-bg-basic-emphasis-70);
	width: $custom-width;
}

.map {
	padding-block: map.get($spacing, "block");
}

.allow-calc {
	margin: calc(
		var(--db-type-body-font-size-2xs) + #{variables.$db-spacing-fixed-3xs}
	);
}
