@use "sass:map";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/button-components";
@use "../../styles/internal/component";
@use "@db-ux/core-foundations/build/styles/materials";
@use "@db-ux/core-foundations/build/styles/contrasts";
@use "../../styles/internal/text-components";
@use "../../styles/internal/alternate-components";

$interactive-selectors: "label, button:not(.db-tab-remove-button), a";

// get button and link tags
@mixin get-interactive-selectors() {
	&:not(:has(dbbutton)) button:not(.db-tab-remove-button),
	dbbutton:not(.db-tab-remove-button) > button,
	db-button > button,
	a {
		@content;
	}
}

%no-text {
	&[data-no-text="true"] {
		--icon-margin-after: 0;

		@include icons.is-icon-text-replace;

		padding: 0;
		gap: 0;

		label {
			@include icons.is-icon-text-replace;
		}
	}

	&:not([data-no-text="true"]) {
		padding-inline: variables.$db-spacing-fixed-2xs;

		&:has(.db-tab-remove-button) {
			padding-inline-end: 0;
		}
	}
}

%db-tag {
	--db-icon-margin-end: 0;

	@extend %db-overwrite-font-size-sm;
	@extend %default-button;
	@extend %default-text-component;
	@extend %no-text;

	padding-block: 0;
	block-size: variables.$db-sizing-sm;
	min-inline-size: variables.$db-sizing-sm;
	inline-size: fit-content;
	position: relative;
	gap: variables.$db-spacing-fixed-2xs;

	&:not(:has(input:checked)) {
		&:not([data-material]) {
			@extend %material-filled;
			@extend %apply-global-colors;
		}

		&:not([data-contrast-text]) {
			@extend %contrast-text-min;

			.db-tab-remove-button,
			.db-button,
			.db-link,
			.db-checkbox,
			.db-radio {
				@extend %contrast-text-min;
			}
		}

		&:not([data-contrast-visual]) {
			@extend %contrast-visual-min;
		}
	}

	&[data-emphasis="strong"]:not(:has(input)) {
		&:not([data-material]) {
			@extend %material-vibrant;
			@extend %apply-global-colors;
		}
	}

	&:has(input:checked) {
		@extend %setup-alternate;

		&:not([data-material-aternate]) {
			@extend %material-vibrant;
			@extend %apply-global-colors;
		}
	}

	&:not(:has(#{$interactive-selectors})),
	&:has(.db-tab-remove-button) {
		@extend %default-component;
	}

	&:has(#{$interactive-selectors}) {
		@extend %default-interactive-component;

		#{$interactive-selectors},
		input {
			text-decoration: unset;
			margin: unset;
			border: unset;
			background-color: transparent;
			padding: unset;
			font: inherit;
			appearance: none;
			transition: none;
			color: inherit;
			block-size: 100%;
			inline-size: 100%;
		}
	}

	@media (forced-colors: active) {
		&:not(:has(input:checked)) {
			border-style: dashed;
		}
	}
}

.db-tag {
	@extend %db-tag;

	&[data-show-check-state="true"] {
		label {
			--db-icon-margin-start: #{variables.$db-spacing-fixed-2xs};

			@include icons.set-icon("circle", "after");

			/* TODO: maybe we could get rid of an expensive :has selector by defining this icon on the input itself */
			&:has(input:checked) {
				@include icons.set-icon("check_circle", "after");
			}
		}
	}

	a,
	label {
		@include helpers.display(inline-flex);

		align-items: center;
	}

	input {
		@extend %a11y-visually-hidden;
	}

	&:has(:disabled),
	&[data-disabled="true"] {
		opacity: variables.$db-opacity-md;
		pointer-events: none;
	}

	&[data-overflow="true"] {
		max-inline-size: variables.$db-sizing-2xl;

		> * {
			inline-size: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.db-tab-remove-button {
		@extend %material-transparent;
		@extend %apply-global-colors;
	}
}
