@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/form-components";

.db-multi-select-list {
	all: unset;
	padding: variables.$db-spacing-fixed-sm;
	overflow-y: auto;

	/* (checkbox height + list-item padding) * 6 items + list padding */
	max-block-size: calc(
		6 *
			(
				(
						#{form-components.$font-size-height} - 2 *
							#{variables.$db-border-height-3xs}
					) +
					2 * #{variables.$db-spacing-fixed-sm}
			) +
			(#{variables.$db-spacing-fixed-sm} * 2)
	);

	> ul {
		all: unset;
		display: flex;
		flex-direction: column;

		&:has(span) {
			--db-multi-select-list-item-group-padding: 1;
		}
	}

	> legend {
		@extend %a11y-visually-hidden;
	}
}
