@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/multi-select-components";

.db-multi-select-list {
	padding: variables.$db-spacing-fixed-sm;
	overflow-y: auto;

	& > ul {
		all: unset;
		display: flex;
		flex-direction: column;
	}
}
