@use "@db-ui/foundations/build/scss/body-styles" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;

$variants: (
	"critical": (
		$db-colors-critical-enabled,
		$db-colors-critical-element-enabled
	),
	"information": (
		$db-colors-information-enabled,
		$db-colors-information-element-enabled
	),
	"warning": (
		$db-colors-warning-enabled,
		$db-colors-warning-element-enabled
	),
	"success": (
		$db-colors-success-enabled,
		$db-colors-success-element-enabled
	)
);

.db-infotext {
	@include body-style("sm");

	display: flex;

	.db-icon {
		@include body-style("sm");
		margin-inline-end: $db-spacing-fixed-2xs;

		&::before {
			--icon-font-family: var(--db-base-icon-font-family-filled);
			--icon-font-size: var(--db-base-icon-font-size);
		}
	}

	&[data-size="small"] {
		@include body-style("xs");

		.db-icon {
			@include body-style("xs");
		}
	}

	@each $name, $colors in $variants {
		&[data-variant="#{$name}"] {
			color: nth($colors, 1);

			.db-icon {
				color: nth($colors, 2);
			}
		}
	}
}
