@use "sass:map";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/contrasts";
@use "../../styles/internal/text-components";

.db-infotext {
	--db-icon-margin-end: #{variables.$db-spacing-fixed-2xs};

	@extend %default-text-component;

	@include helpers.display(flex);

	@include icons.has-no-icon {
		@include icons.to-filled-icon;
		@include icons.set-icon("information_circle");
	}

	&:not([data-size="small"]) {
		@extend %db-overwrite-font-size-sm;
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-xs;
	}

	color: variables.$db-on-bg-color-default;

	&::before {
		--db-icon-color: #{variables.$db-visual-color-default};
	}

	&:not([data-contrast-visual]) {
		@extend %contrast-visual-min;
	}

	&:not([data-contrast-text]) {
		@extend %contrast-text-min;
	}

	@each $name, $colors in colors.$variant-colors {
		&[data-semantic="#{$name}"] {
			@include icons.variant-icons($name);
		}
	}

	// Workaround for current stencil implementation for form-components
	&:has(> .db-infotext) {
		margin: 0;

		&::before {
			content: none;
		}
	}
}
