@mixin get-variables() {
	--spacing-fix-3xs: var(--db-spacing-fixed-3xs);
	--spacing-fix-2xs: var(--db-spacing-fixed-2xs);
	--spacing-fix-xs: var(--db-spacing-fixed-xs);
	--spacing-fix-sm: var(--db-spacing-fixed-sm);
	--spacing-fix-md: var(--db-spacing-fixed-md);
	--spacing-fix-lg: var(--db-spacing-fixed-lg);
	--spacing-fix-xl: var(--db-spacing-fixed-xl);
	--spacing-fix-2xl: var(--db-spacing-fixed-2xl);
	--spacing-fix-3xl: var(--db-spacing-fixed-3xl);
	--spacing-res-3xs: var(--db-spacing-responsive-3xs);
	--spacing-res-2xs: var(--db-spacing-responsive-2xs);
	--spacing-res-xs: var(--db-spacing-responsive-xs);
	--spacing-res-sm: var(--db-spacing-responsive-sm);
	--spacing-res-md: var(--db-spacing-responsive-md);
	--spacing-res-lg: var(--db-spacing-responsive-lg);
	--spacing-res-xl: var(--db-spacing-responsive-xl);
	--spacing-res-2xl: var(--db-spacing-responsive-2xl);
	--spacing-res-3xl: var(--db-spacing-responsive-3xl);
	--spacing-siz-3xs: var(--db-sizing-3xs);
	--spacing-siz-2xs: var(--db-sizing-2xs);
	--spacing-siz-xs: var(--db-sizing-xs);
	--spacing-siz-sm: var(--db-sizing-sm);
	--spacing-siz-md: var(--db-sizing-md);
	--spacing-siz-lg: var(--db-sizing-lg);
	--spacing-siz-xl: var(--db-sizing-xl);
	--spacing-siz-2xl: var(--db-sizing-2xl);
	--spacing-siz-3xl: var(--db-sizing-3xl);
	--spacing-screen-xs: var(--db-screen-xs);
	--spacing-screen-sm: var(--db-screen-sm);
	--spacing-screen-md: var(--db-screen-md);
	--spacing-screen-lg: var(--db-screen-lg);
	--spacing-screen-xl: var(--db-screen-xl);
	--spacing-container-3xs: var(--db-container-3xs);
	--spacing-container-2xs: var(--db-container-2xs);
	--spacing-container-xs: var(--db-container-xs);
	--spacing-container-sm: var(--db-container-sm);
	--spacing-container-md: var(--db-container-md);
	--spacing-container-lg: var(--db-container-lg);
	--spacing-container-xl: var(--db-container-xl);
	--spacing-container-2xl: var(--db-container-2xl);
	--spacing-container-3xl: var(--db-container-3xl);
	--gap-3xs: var(--db-spacing-fixed-3xs);
	--gap-2xs: var(--db-spacing-fixed-2xs);
	--gap-xs: var(--db-spacing-fixed-xs);
	--gap-sm: var(--db-spacing-fixed-sm);
	--gap-md: var(--db-spacing-fixed-md);
	--gap-lg: var(--db-spacing-fixed-lg);
	--gap-xl: var(--db-spacing-fixed-xl);
	--gap-2xl: var(--db-spacing-fixed-2xl);
	--gap-3xl: var(--db-spacing-fixed-3xl);
	--border: var(--db-border-width-3xs);
	--border-3xs: var(--db-border-width-3xs);
	--border-2xs: var(--db-border-width-2xs);
	--border-xs: var(--db-border-width-xs);
	--border-sm: var(--db-border-width-sm);
	--border-md: var(--db-border-width-md);
	--border-lg: var(--db-border-width-lg);
	--border-xl: var(--db-border-width-xl);
	--border-2xl: var(--db-border-width-2xl);
	--border-3xl: var(--db-border-width-3xl);
	--radius: var(--db-border-radius-xs);
	--radius-3xs: var(--db-border-radius-3xs);
	--radius-2xs: var(--db-border-radius-2xs);
	--radius-xs: var(--db-border-radius-xs);
	--radius-sm: var(--db-border-radius-sm);
	--radius-md: var(--db-border-radius-md);
	--radius-lg: var(--db-border-radius-lg);
	--radius-xl: var(--db-border-radius-xl);
	--radius-2xl: var(--db-border-radius-2xl);
	--radius-3xl: var(--db-border-radius-3xl);
	--radius-full: var(--db-border-radius-full);
	--shadow: var(--db-elevation-md);
	--shadow-sm: var(--db-elevation-sm);
	--shadow-md: var(--db-elevation-md);
	--shadow-lg: var(--db-elevation-lg);
}
