/* The prefix for variables are predefined by Tailwind, stylelint would throw an error */
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@theme {
	/* stylelint-disable-next-line custom-property-pattern */
	--color-*: initial; /* 	Color utilities like */

	/* Basic-Level */
	--color-adaptive-bg-basic-level-1-default: var(
		--db-adaptive-bg-basic-level-1-default
	);
	--color-adaptive-bg-basic-level-1-hovered: var(
		--db-adaptive-bg-basic-level-1-hovered
	);
	--color-adaptive-bg-basic-level-1-pressed: var(
		--db-adaptive-bg-basic-level-1-pressed
	);
	--color-adaptive-bg-basic-level-2-default: var(
		--db-adaptive-bg-basic-level-2-default
	);
	--color-adaptive-bg-basic-level-2-hovered: var(
		--db-adaptive-bg-basic-level-2-hovered
	);
	--color-adaptive-bg-basic-level-2-pressed: var(
		--db-adaptive-bg-basic-level-2-pressed
	);
	--color-adaptive-bg-basic-level-3-default: var(
		--db-adaptive-bg-basic-level-3-default
	);
	--color-adaptive-bg-basic-level-3-hovered: var(
		--db-adaptive-bg-basic-level-3-hovered
	);
	--color-adaptive-bg-basic-level-3-pressed: var(
		--db-adaptive-bg-basic-level-3-pressed
	);

	/* Transparent */
	--color-adaptive-bg-basic-transparent-full-default: var(
		--db-adaptive-bg-basic-transparent-full-default
	);
	--color-adaptive-bg-basic-transparent-semi-default: var(
		--db-adaptive-bg-basic-transparent-semi-default
	);
	--color-adaptive-bg-basic-transparent-full-hovered: var(
		--db-adaptive-bg-basic-transparent-full-hovered
	);
	--color-adaptive-bg-basic-transparent-full-pressed: var(
		--db-adaptive-bg-basic-transparent-full-pressed
	);
	--color-adaptive-bg-basic-transparent-semi-hovered: var(
		--db-adaptive-bg-basic-transparent-semi-hovered
	);
	--color-adaptive-bg-basic-transparent-semi-pressed: var(
		--db-adaptive-bg-basic-transparent-semi-pressed
	);

	/* Inverted */
	--color-adaptive-bg-inverted-contrast-max-default: var(
		--db-adaptive-bg-inverted-contrast-max-default
	);
	--color-adaptive-bg-inverted-contrast-max-hovered: var(
		--db-adaptive-bg-inverted-contrast-max-hovered
	);
	--color-adaptive-bg-inverted-contrast-max-pressed: var(
		--db-adaptive-bg-inverted-contrast-max-pressed
	);
	--color-adaptive-bg-inverted-contrast-high-default: var(
		--db-adaptive-bg-inverted-contrast-high-default
	);
	--color-adaptive-bg-inverted-contrast-high-hovered: var(
		--db-adaptive-bg-inverted-contrast-high-hovered
	);
	--color-adaptive-bg-inverted-contrast-high-pressed: var(
		--db-adaptive-bg-inverted-contrast-high-pressed
	);
	--color-adaptive-bg-inverted-contrast-low-default: var(
		--db-adaptive-bg-inverted-contrast-low-default
	);
	--color-adaptive-bg-inverted-contrast-low-hovered: var(
		--db-adaptive-bg-inverted-contrast-low-hovered
	);
	--color-adaptive-bg-inverted-contrast-low-pressed: var(
		--db-adaptive-bg-inverted-contrast-low-pressed
	);

	/* On Colors */

	--color-adaptive-on-bg-basic-emphasis-100-default: var(
		--db-adaptive-on-bg-basic-emphasis-100-default
	);
	--color-adaptive-on-bg-basic-emphasis-100-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-100-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-100-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-100-pressed
	);
	--color-adaptive-on-bg-basic-emphasis-90-default: var(
		--db-adaptive-on-bg-basic-emphasis-90-default
	);
	--color-adaptive-on-bg-basic-emphasis-90-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-90-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-90-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-90-pressed
	);
	--color-adaptive-on-bg-basic-emphasis-80-default: var(
		--db-adaptive-on-bg-basic-emphasis-80-default
	);
	--color-adaptive-on-bg-basic-emphasis-80-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-80-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-80-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-80-pressed
	);
	--color-adaptive-on-bg-basic-emphasis-70-default: var(
		--db-adaptive-on-bg-basic-emphasis-70-default
	);
	--color-adaptive-on-bg-basic-emphasis-70-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-70-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-70-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-70-pressed
	);
	--color-adaptive-on-bg-basic-emphasis-60-default: var(
		--db-adaptive-on-bg-basic-emphasis-60-default
	);
	--color-adaptive-on-bg-basic-emphasis-60-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-60-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-60-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-60-pressed
	);
	--color-adaptive-on-bg-basic-emphasis-50-default: var(
		--db-adaptive-on-bg-basic-emphasis-50-default
	);
	--color-adaptive-on-bg-basic-emphasis-50-hovered: var(
		--db-adaptive-on-bg-basic-emphasis-50-hovered
	);
	--color-adaptive-on-bg-basic-emphasis-50-pressed: var(
		--db-adaptive-on-bg-basic-emphasis-50-pressed
	);

	/* On Inverted */
	--color-adaptive-on-bg-inverted-default: var(
		--db-adaptive-on-bg-inverted-default
	);
	--color-adaptive-on-bg-inverted-hovered: var(
		--db-adaptive-on-bg-inverted-hovered
	);
	--color-adaptive-on-bg-inverted-pressed: var(
		--db-adaptive-on-bg-inverted-pressed
	);

	/* On Origin */
	--color-adaptive-on-origin-default: var(--db-adaptive-on-origin-default);
	--color-adaptive-on-origin-hovered: var(--db-adaptive-on-origin-hovered);
	--color-adaptive-on-origin-pressed: var(--db-adaptive-on-origin-pressed);
	--color-adaptive-origin-default: var(--db-adaptive-origin-default);
	--color-adaptive-origin-hovered: var(--db-adaptive-origin-hovered);
	--color-adaptive-origin-pressed: var(--db-adaptive-origin-pressed);
}
