<app-default-component
	title="DBBreadcrumb"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-breadcrumb
			[size]="exampleProps?.size"
			[separator]="exampleProps?.separator"
			[maxItems]="exampleProps?.maxItems"
			[items]="exampleProps?.children"
			[ariaLabel]="exampleProps?.ariaLabel"
			[ellipsisAriaLabel]="exampleProps?.ellipsisAriaLabel"
			[className]="exampleProps?.className"
			[id]="exampleProps?.id"
		></db-breadcrumb>
	</ng-template>
</app-default-component>
