@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/form-components";
@use "../../styles/multi-select-components";

.db-multi-select-header {
	display: flex;
	background-color: colors.$db-adaptive-bg-basic-level-2-default;
	padding-block: variables.$db-spacing-fixed-xs;
	padding-inline-start: calc(
		#{variables.$db-spacing-fixed-sm} + #{variables.$db-spacing-fixed-sm}
	);
	padding-inline-end: variables.$db-spacing-fixed-2xs;
	border-start-start-radius: variables.$db-border-radius-xs;
	border-start-end-radius: variables.$db-border-radius-xs;
	justify-content: space-between;
	gap: variables.$db-spacing-fixed-md;
	align-items: center;
	text-wrap: nowrap;

	@include helpers.divider("bottom");

	.db-input {
		display: none;
	}

	.db-button {
		flex-shrink: 0;
	}

	&:not(:has(.db-input)) {
		.db-checkbox {
			.db-tooltip {
				display: none;
			}
		}
	}

	&[data-variant="search"] {
		padding-block: variables.$db-spacing-fixed-sm;

		.db-checkbox {
			label {
				font-size: 0;
			}
		}

		.db-input {
			display: flex;
			inline-size: 100%;
		}
	}
}
