<app-default-component
	title="DBNavigationItem"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<ul class="nav-item-list">
			@if (exampleProps?.areaPopup) {
				<db-navigation-item-group
					[icon]="exampleProps?.icon"
					[showIcon]="exampleProps?.showIcon"
					[width]="exampleProps?.width"
					[disabled]="exampleProps?.disabled"
					[active]="exampleProps?.active"
					[wrap]="exampleProps?.wrap"
					(click)="showAlert(exampleName)"
				>
					{{ exampleName }}

					<db-navigation-item-group
						groupTitle="Also a navigation item with longer label"
						[icon]="exampleProps?.icon"
						[showIcon]="exampleProps?.showIcon"
					>
						<db-navigation-item
							[icon]="exampleProps?.icon"
							[showIcon]="exampleProps?.showIcon"
						>
							<a href="#">Navigation-Item 2</a>
						</db-navigation-item>
					</db-navigation-item-group>
					<db-navigation-item
						[icon]="exampleProps?.icon"
						[showIcon]="exampleProps?.showIcon"
					>
						<a href="#">Navigation-Item 1</a>
					</db-navigation-item>
				</db-navigation-item-group>
			} @else {
				<db-navigation-item
					[icon]="exampleProps?.icon"
					[showIcon]="exampleProps?.showIcon"
					[width]="exampleProps?.width"
					[disabled]="exampleProps?.disabled"
					[active]="exampleProps?.active"
					[wrap]="exampleProps?.wrap"
				>
					<a href="#">{{ exampleName }}</a>
				</db-navigation-item>
			}
		</ul>
	</ng-template>
</app-default-component>
