@use "sass:string";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/control-panel-desktop";
@use "../../styles/internal/custom-elements";
@use "../../styles/internal/form-components";

.db-shell-sub-navigation {
	grid-area: sub-navigation;
	overflow: hidden;

	> .db-shell-sub-navigation-button {
		grid-area: button;
		display: flex;

		@media screen and (prefers-reduced-motion: no-preference) {
			.db-button::before {
				transition: transform
					#{variables.$db-transition-straight-functional};
			}
		}
	}

	.db-control-panel-navigation {
		grid-area: navigation;
	}
}

@mixin sub-navigation-top {
	#{string.unquote(custom-elements.$shell-sub-navigation)} {
		@include helpers.divider("bottom", after);

		.db-control-panel-navigation {
			--db-overflow-scroll-button-inset-inline-start: calc(
				#{variables.$db-spacing-fixed-sm} / 2
			);
			--db-overflow-scroll-button-inset-block: #{variables.$db-spacing-fixed-sm};

			display: grid;

			@include control-panel-desktop.horizontal-navigation;

			> menu {
				/* workaround for showing correct scrolling and focus */
				padding-inline: calc(#{variables.$db-spacing-fixed-sm} / 2);
				margin-inline: calc(#{variables.$db-spacing-fixed-sm} / 2);
				/* stylelint-disable-next-line db-ux/use-spacings */
				padding-block: var(--db-overflow-scroll-button-inset-block);
			}
		}

		> .db-shell-sub-navigation-button {
			display: none;
		}
	}
}

@mixin sub-navigation-left {
	#{string.unquote(custom-elements.$shell-sub-navigation)} {
		display: grid;

		@include helpers.divider("right", after);

		.db-control-panel-navigation {
			max-inline-size: screen-sizes.$db-breakpoint-xs;
			padding: variables.$db-spacing-fixed-md;
		}

		/* jscpd:ignore-start */
		&[data-open="false"] {
			inline-size: auto;
			/* stylelint-disable-next-line declaration-property-value-no-unknown */
			inline-size: calc-size(auto, size);
			grid-template-areas: "button";
			grid-template-rows: [button] 1fr;

			/* jscpd:ignore-end */

			.db-control-panel-navigation {
				display: none;
			}

			> .db-shell-sub-navigation-button {
				justify-content: center;

				.db-button {
					block-size: 100%;
					border-radius: 0;

					&::before {
						transform: form-components.$dropdown-icon-transform;
					}
				}
			}
		}

		&[data-open="true"] {
			grid-template-areas:
				"navigation"
				"button";
			grid-template-rows:
				[navigation] 1fr
				[button] auto;

			/// Sets the inline-size (width) of the sub-navigation
			inline-size: var(
				--db-shell-sub-navigation-inline-size,
				#{variables.$db-container-xs}
			);

			.db-control-panel-navigation {
				overflow: hidden auto;

				@include control-panel-desktop.vertical-navigation(false);

				> menu {
					padding-inline: 0;
				}
			}

			> .db-shell-sub-navigation-button {
				padding-block: variables.$db-spacing-fixed-xs;
				padding-inline: variables.$db-spacing-fixed-lg;
				justify-content: flex-end;
				margin-block-start: auto;

				@include helpers.divider("top");
			}
		}
	}
}

@mixin sub-navigation-mobile {
	#{string.unquote(custom-elements.$shell-sub-navigation)} {
		> .db-shell-sub-navigation-button {
			display: none;
		}

		.db-control-panel-navigation-item-group {
			// We don't allow complex sub-navigation in mobile
			// Users should add a custom implementation for this scenario or
			// They should use another mobile navigation
			display: none !important;
		}

		.db-control-panel-navigation-item {
			inline-size: fit-content;
			white-space: nowrap;
		}

		.db-control-panel-navigation {
			--db-overflow-scroll-button-inset-block: #{variables.$db-spacing-fixed-xs};
			--db-overflow-scroll-button-inset-inline-start: 0;

			display: grid;

			@include control-panel-desktop.horizontal-navigation(false);

			> menu {
				padding-block: variables.$db-spacing-fixed-xs;

				/* workaround for showing correct scrolling and focus */
				padding-inline-start: calc(
					#{variables.$db-spacing-fixed-sm} / 2
				);
				margin-inline-start: calc(
					#{variables.$db-spacing-fixed-sm} / 2
				);
			}

			&[data-variant="tree"] {
				// If a users passes tree, we hide the circle icon
				.db-control-panel-navigation-item a {
					&::before {
						display: none;
					}
				}
			}
		}
	}
}
