@keyframes popover-animation {
	0% {
		opacity: 0;
		transform: translate(
			var(--db-popover-center-x, var(--db-popover-translate-x, 0%)),
			var(--db-popover-center-y, var(--db-popover-translate-y, 0%))
		);
	}

	100% {
		opacity: 1;
		transform: translate(
			var(--db-popover-center-x, 0%),
			var(--db-popover-center-y, 0%)
		);
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes wobbling {
	50% {
		inset-inline-start: 100%;
		transform: translateX(
			calc(
				-100% - var(
						--db-loading-indicator-progress-bar-segment-padding,
						2px
					)
			)
		);
	}
}
