@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";

.db-page-document {
	block-size: 100%;
	overflow: hidden;
}

@mixin header-footer-style {
	> :is(.db-header, .db-footer, header, footer) {
		@include helpers.display(flex);

		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.db-page {
	&[data-fade-in="true"] {
		&:not([fadein="true"]) {
			opacity: 0;
		}

		&:not([data-fonts-loaded]),
		&[data-fonts-loaded="true"] {
			opacity: 1;
		}

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: opacity variables.$db-transition-straight-emotional;
		}
	}

	&[data-variant="fixed"] {
		@include header-footer-style;

		block-size: 100%;
		min-block-size: 100%;

		@include helpers.display(flex);

		flex-direction: column;

		/* workaround for angular */
		> :is(db-header, dbheader, dbfooter, db-footer) {
			@include header-footer-style;
		}

		> .db-main {
			@include helpers.display(flex);

			flex-direction: column;
			overflow: auto;
			flex: 1 1 auto;
			inline-size: 100%;
		}
	}
}
