<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-input
			(change)="handlePlainChange($event)"
			[value]="plain"
			icon="x_placeholder"
			label="Plain"
			message="Description"
			name="input-name"
			placeholder="Placeholder"
		/>
		<db-input
			[(ngModel)]="ngModel"
			icon="x_placeholder"
			label="ngModel"
			message="Description"
			name="input-name"
			placeholder="Placeholder"
		/>
		<db-input
			[formControl]="formControl"
			icon="x_placeholder"
			label="formControl"
			message="Description"
			name="input-name"
			placeholder="Placeholder"
		/>
	</fieldset>
</app-form-wrapper>
