<app-form-wrapper
	[plain]="plain"
	[model]="ngModel"
	[control]="formControl.value"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-input
			label="Plain"
			placeholder="Placeholder"
			message="Description"
			icon="x_placeholder"
			name="input-name"
			[value]="plain"
			(change)="handlePlainChange($event)"
		/>
		<db-input
			label="ngModel"
			placeholder="Placeholder"
			message="Description"
			icon="x_placeholder"
			name="input-name"
			[(ngModel)]="ngModel"
		/>
		<db-input
			label="formControl"
			placeholder="Placeholder"
			message="Description"
			icon="x_placeholder"
			name="input-name"
			[formControl]="formControl"
		/>
	</fieldset>
</app-form-wrapper>
