<app-form-wrapper
	[control]="formControl.value"
	[model]="ngModel"
	[plain]="plain"
	[signalForms]="signalForm.checked().value()"
>
	<fieldset>
		<legend>Different form approaches</legend>
		<db-switch
			(change)="handlePlainChange($event)"
			[checked]="plain"
			label="Plain"
			name="switch"
		></db-switch>
		<db-switch
			[(ngModel)]="ngModel"
			label="ngModel"
			name="switch"
		></db-switch>
		<db-switch
			[formControl]="formControl"
			label="formControl"
			name="switch"
		></db-switch>
		<db-switch
			[formField]="signalForm.checked"
			label="signalForms"
		></db-switch>
	</fieldset>
</app-form-wrapper>
