---
import type { DefaultComponentExample } from '../../../../shared/default-component-data.ts';
import { DBCard } from '@components';
interface Props {
	name?: string;
	examples?: DefaultComponentExample[];
	role?: string | null;
}
const { name, role, examples } = Astro.props;
---

<DBCard className="variants-card">
	<div role={role} aria-label={role ? name : undefined} class="variants-list">
		{
			examples?.map((example) => (
				<div style={example.style} class={example.className} data-density={example.density}>
					<Fragment
						set:html={Astro.slots.render('default', [
							{
								...example.props,
								id: example.props?.id ?? example.name,
								children: example.name,
							},
						])}
					/>
				</div>
			))
		}
	</div>
</DBCard>
