@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";

.db-footer-content {
	background-color: colors.$db-adaptive-bg-basic-level-1-default;
	border-block-start: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
	inline-size: 100%;
	padding: variables.$db-spacing-fixed-lg;
}
