<app-default-component
	title="DBBrand"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-control-panel-brand>
			@if (exampleProps?.customLogo) {
				<img
					src="./assets/images/placeholder.jpg"
					alt="this is a fancy placeholder logo"
				/>
			}
			{{ exampleName }}
		</db-control-panel-brand>
	</ng-template>
</app-default-component>
