<db-page variant="fixed" documentOverflow="auto" [fadeIn]="true">
	<db-header
		header
		[drawerOpen]="drawerOpen"
		(toggle)="onToggle($event)"
		drawerHeaderText="Showcase"
	>
		<db-brand brand>Showcase</db-brand>
		<db-navigation *dbNavigation aria-label="main-navigation">
			@for (item of navigationItems; track item.label) {
				<app-page-nav-item [navItem]="item"> </app-page-nav-item>
			}
		</db-navigation>
		<ng-container *dbMetaNavigation>
			<db-select
				(change)="onChange($event)"
				[(ngModel)]="density"
				label="Density"
				variant="floating"
			>
				@for (t of densities; track t) {
					<option>
						{{ t }}
					</option>
				}
			</db-select>
			<db-select
				(change)="onChange($event)"
				[(ngModel)]="color"
				label="Color"
				variant="floating"
			>
				@for (c of colors; track c) {
					<option>
						{{ c }}
					</option>
				}
			</db-select>
		</ng-container>
		<ng-container primary-action>
			<db-button [noText]="true" icon="magnifying_glass" variant="ghost"
				>Search</db-button
			>
		</ng-container>
		<ng-container *dbSecondaryAction>
			<db-switch [checked]="shell" (change)="onShellToggle()">
				Shell
			</db-switch>
			<db-button [noText]="true" icon="x_placeholder" variant="ghost">
				Notification
			</db-button>
			<db-button [noText]="true" icon="x_placeholder" variant="ghost">
				Help
			</db-button>
		</ng-container>
	</db-header>
	<div [attr.data-density]="density" [class]="'db-' + color">
		<router-outlet></router-outlet>
	</div>
</db-page>
