<app-default-component
	title="DBNavigation"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<div>
			<db-infotext
				[id]="getId(exampleName)"
				size="small"
				semantic="informational"
				icon="none"
			>
				{{ exampleName }}
			</db-infotext>
			<db-navigation [attr.aria-labelledby]="getId(exampleName)">
				<db-navigation-item-group text="Navi-Item 1">
					<db-navigation-item-group text="Sub-Navi-Item 1">
						<db-navigation-item [active]="true">
							<a href="#">Sub-Sub-Navi-Item 1</a>
						</db-navigation-item>
						<db-navigation-item>
							<a href="#">Sub-Sub-Navi-Item 2</a>
						</db-navigation-item>
					</db-navigation-item-group>
					<db-navigation-item>
						<a href="#">Sub-Navi-Item 2</a>
					</db-navigation-item>
				</db-navigation-item-group>
				<db-navigation-item icon="x_placeholder">
					<a href="#">Navi-Item 2</a>
				</db-navigation-item>
				<db-navigation-item [disabled]="true">
					<a href="#">Navi-Item 3</a>
				</db-navigation-item>
			</db-navigation>
		</div>
	</ng-template>
</app-default-component>
