@use "sass:map";
@use "@db-ux/core-foundations/build/styles/materials";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/variables";

%setup-alternate {
	@each $material in materials.$materials {
		&[data-material-aternate="#{$material}"] {
			@extend %material-#{$material};
			@extend %apply-global-colors;
		}
	}

	@each $weight in (normal, bold) {
		&[data-weight-alternate="#{$weight}"] {
			font-weight: $weight;
		}
	}

	&[data-text-opacity-alternate="weak"] {
		color: helpers.get-on-color-weak(variables.$db-on-bg-color-default);
	}
}
