@use "@db-ux/core-foundations/build/styles/helpers/display";

%default-button {
	font-weight: 700;
	white-space: nowrap; // we don't want to break buttons
	justify-content: center;
	text-align: center;

	@include display.display(inline-flex);

	align-items: center; // Centering the content vertically and horizontally
	vertical-align: top; // Alignment of inline-flex buttons with different content
}
