@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/variables";

%default-button {
	white-space: nowrap; // we don't want to break buttons
	justify-content: center;
	text-align: center;

	@include helpers.display(inline-flex);

	align-items: center; // Centering the content vertically and horizontally
	vertical-align: top; // Alignment of inline-flex buttons with different content

	&:not([data-weight]) {
		// TODO: we can remove this when we do breaking-changes for material
		font-weight: bold;
	}
}
