@use "@db-ux/core-foundations/build/styles/helpers";

%default-button {
	font-weight: 700;
	overflow-wrap: break-word; // Multiple lines support
	white-space: pre-line; // Multiple lines support
	justify-content: center;
	text-align: center;

	@include helpers.display(inline-flex);

	align-items: center; // Centering the content vertically and horizontally
	vertical-align: top; // Alignment of inline-flex buttons with different content
}
