@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";

$min-mobile-header-height: calc(
	#{variables.$db-sizing-md} + 2 * #{variables.$db-spacing-fixed-xs}
);
$component-border: variables.$db-border-width-3xs solid
	colors.$db-adaptive-on-bg-basic-emphasis-60-default;

%default-adaptive-border {
	border: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-100-default;
}

%transparent-border {
	border: variables.$db-border-width-3xs solid transparent;
}

%component-border {
	// stylelint-disable-next-line db-ux/use-border-width, db-ux/use-border-color
	border: $component-border;
}

%form-component-border {
	border: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-70-default;
}

%default-interactive-component {
	@extend %default-adaptive-border;

	border-radius: variables.$db-border-radius-xs;
}

%default-card {
	@extend %component-border;

	/* stylelint-disable-next-line db-ux/use-border-radius */
	border-radius: var(
		--default-card-border-radius,
		#{variables.$db-border-radius-sm}
	);
}

$responsive-spacings: (
	"default": variables.$db-spacing-responsive-md,
	"large": variables.$db-spacing-responsive-lg,
	"medium": variables.$db-spacing-responsive-md,
	"small": variables.$db-spacing-responsive-sm,
	"none": 0
);
$default-spacings: (
	"default": variables.$db-spacing-fixed-sm,
	"large": variables.$db-spacing-fixed-lg,
	"medium": variables.$db-spacing-fixed-md,
	"small": variables.$db-spacing-fixed-sm,
	"none": 0
);

@mixin get-data-spacing($type: padding, $spacings: $default-spacings) {
	@each $name, $spacing in $spacings {
		@if $name == "default" {
			&:not([data-spacing]) {
				#{$type}: $spacing;
			}

			/* stylelint-disable-next-line at-rule-empty-line-before */
		} @else {
			&[data-spacing="#{$name}"] {
				#{$type}: $spacing;
			}
		}
	}
}
