@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";

$min-mobile-header-height: calc(
	#{variables.$db-sizing-md} + 2 * #{variables.$db-spacing-fixed-xs}
);

$component-border: variables.$db-border-width-3xs solid
	variables.$db-global-border-color-default;
$card-border-radius: var(
	--default-card-border-radius,
	#{variables.$db-border-radius-sm}
);

%component-border {
	// stylelint-disable-next-line db-ux/use-border-width, db-ux/use-border-color
	border: $component-border;
}

%default-component {
	@extend %component-border;

	background-color: variables.$db-global-bg-color-default;
	color: variables.$db-global-on-bg-color-default;
	border-radius: variables.$db-border-radius-xs;
}

%default-interactive-component {
	@extend %default-component;

	@include helpers.hover {
		background-color: variables.$db-global-bg-color-hovered;
	}

	@include helpers.active {
		background-color: variables.$db-global-bg-color-pressed;
	}
}

%default-swap-component {
	background-color: variables.$db-global-swap-bg-color-default;
	color: variables.$db-global-swap-on-bg-color-default;
	border-color: variables.$db-global-swap-on-bg-color-default;

	@include helpers.hover {
		background-color: variables.$db-global-swap-bg-color-hovered;
	}

	@include helpers.active {
		background-color: variables.$db-global-swap-bg-color-pressed;
	}
}

%default-card {
	@extend %component-border;

	/* stylelint-disable-next-line db-ux/use-border-radius */
	border-radius: $card-border-radius;
}

$responsive-spacings: (
	"default": variables.$db-spacing-responsive-md,
	"large": variables.$db-spacing-responsive-lg,
	"medium": variables.$db-spacing-responsive-md,
	"small": variables.$db-spacing-responsive-sm,
	"none": 0
);
$default-spacings: (
	"default": variables.$db-spacing-fixed-sm,
	"large": variables.$db-spacing-fixed-lg,
	"medium": variables.$db-spacing-fixed-md,
	"small": variables.$db-spacing-fixed-sm,
	"none": 0
);

@mixin get-data-spacing($type: padding, $spacings: $default-spacings) {
	@each $name, $spacing in $spacings {
		@if $name == "default" {
			&:not([data-spacing]) {
				#{$type}: $spacing;
			}

			/* stylelint-disable-next-line at-rule-empty-line-before */
		} @else {
			&[data-spacing="#{$name}"] {
				#{$type}: $spacing;
			}
		}
	}
}
