@use "sass:string";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "../../styles/internal/form-components";
@use "../../styles/internal/component";
@use "../../styles/internal/navigation-item";
@use "../../styles/internal/db-puls";
@use "../../styles/internal/scrollbar";

$navigation-child-selector: "> .db-control-panel-desktop-scroll-container > .db-navigation";
$meta-child-selector: "> .db-control-panel-desktop-scroll-container > .db-control-panel-meta-navigation";

@mixin navigation-child {
	#{string.unquote($navigation-child-selector)} {
		@content;
	}
}

@mixin navigation-items {
	> .db-navigation-item,
	> .db-navigation-item-group {
		@content;
	}
}

%control-panel-desktop-horizontal-orientation {
	border-block-end: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
	grid-template-areas:
		"meta meta meta meta meta meta"
		". . navigation . . ."
		". brand navigation primary secondary ."
		". . navigation . . .";
	grid-template-rows:
		[meta] auto
		[padding-top] #{variables.$db-spacing-fixed-md}
		[others] auto
		[padding-bottom] #{variables.$db-spacing-fixed-md};
	grid-template-columns:
		[padding-left] #{variables.$db-spacing-fixed-lg}
		[brand] max-content
		[navigation] 1fr
		[primary] max-content
		[secondary] max-content
		[padding-right] #{variables.$db-spacing-fixed-lg};

	> .db-control-panel-desktop-scroll-container {
		display: contents;
	}

	> .db-control-panel-brand {
		padding-inline-end: variables.$db-spacing-fixed-lg;
	}

	> .db-control-panel-primary-actions,
	> .db-control-panel-secondary-actions {
		block-size: variables.$db-sizing-md;
	}

	> .db-control-panel-primary-actions {
		margin-inline-start: variables.$db-spacing-fixed-sm;
	}

	> .db-control-panel-desktop-button {
		display: none;
	}

	&:has(
			> .db-control-panel-primary-actions,
			#{string.unquote($navigation-child-selector)}
		) {
		> .db-control-panel-secondary-actions {
			padding-inline-start: variables.$db-spacing-fixed-sm;
			@include helpers.divider("left");
		}
	}

	&:has(#{string.unquote($navigation-child-selector)}) {
		> .db-control-panel-brand {
			@include helpers.divider("right", "after");
		}
	}

	&:has(.db-control-panel-secondary-actions) {
		> .db-control-panel-primary-actions {
			margin-inline-end: variables.$db-spacing-fixed-sm;
		}
	}

	&[data-width="small"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-sm;
	}

	&[data-width="medium"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-md;
	}

	&[data-width="large"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-lg;
	}

	@include navigation-child {
		--db-overflow-scroll-button-inset-block: #{variables.$db-spacing-fixed-md};
		--db-overflow-scroll-button-inset-inline-start: calc(
			#{variables.$db-spacing-fixed-lg} / 2
		);

		@extend %overflow-scroll-buttons;
		display: grid;

		&:has(.overflow-scroll-left-button) {
			> menu {
				&::before {
					content: "";
				}
			}
		}

		&:has(.overflow-scroll-right-button) {
			> menu {
				&::after {
					content: "";
				}
			}
		}

		&:has(.db-button) {
			> menu {
				@extend %overflow-scroll-button-backgrounds;

				&::before,
				&::after {
					block-size: 100%;
					inset-block: 0;
					flex: none;
				}
			}
		}

		> menu {
			overflow: auto hidden;
			scrollbar-gutter: stable both-edges;
			scroll-snap-type: x mandatory;
			flex-direction: row;
			padding-block: variables.$db-spacing-fixed-md;

			/* workaround for showing correct scrolling and focus */
			padding-inline-start: calc(#{variables.$db-spacing-fixed-lg} / 2);
			margin-inline-start: calc(#{variables.$db-spacing-fixed-lg} / 2);

			@supports (scrollbar-width: none) {
				scrollbar-width: none;
			}

			&::-webkit-scrollbar {
				display: none;
			}

			@include navigation-items {
				@extend %db-puls;
				@include db-puls.set-db-puls-horizontal();

				@include navigation-item.active-navigation-item {
					@include db-puls.show-db-puls-horizontal();
				}
			}

			> .db-navigation-item-group {
				&:is(button),
				> button {
					&::after {
						--db-icon-after: "chevron_down";
					}
				}

				> .db-navigation-item-group-menu {
					inset-block-start: calc(
						100% + #{variables.$db-spacing-fixed-md}
					);

					&::before {
						content: "";
						position: absolute;
						inset-inline-start: 0;
						inline-size: 100%;
						// #{$db-spacing-fixed--3xs} for shadows
						block-size: calc(
							#{variables.$db-spacing-fixed-3xs} + #{variables.$db-spacing-fixed-md}
						);
						inset-block-start: calc(
							-1 * #{variables.$db-spacing-fixed-md} - #{variables.$db-spacing-fixed-3xs}
						);
					}
				}
			}
		}
	}
}

%control-panel-desktop-vertical-orientation {
	border-inline-end: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
	block-size: 100%;
	grid-template-areas:
		"."
		"brand"
		"scroll"
		"primary"
		"secondary"
		"button";
	grid-template-rows:
		[padding-top] #{variables.$db-spacing-fixed-md}
		[brand] auto
		[scroll] 1fr
		[primary] auto
		[secondary] auto
		[button] auto;

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: inline-size #{variables.$db-transition-straight-functional};

		> .db-control-panel-desktop-button {
			.db-button {
				&::before {
					transition: transform
						variables.$db-transition-straight-functional;
				}
			}
		}
	}

	&[data-open="false"] {
		inline-size: fit-content;
		/* stylelint-disable-next-line declaration-property-value-no-unknown */
		inline-size: calc-size(fit-content, size);

		> .db-control-panel-primary-actions,
		> .db-control-panel-secondary-actions,
		#{string.unquote($meta-child-selector)} {
			display: none;
		}

		@include navigation-child {
			> menu {
				@include navigation-items {
					--db-icon-margin-end: 0;
					inline-size: variables.$db-sizing-md;
					aspect-ratio: 1;
					justify-content: center;
					align-items: center;

					&::before {
						position: initial;
					}

					a {
						font-size: 0;
						position: absolute;
						inset: 0;
					}
				}

				> .db-navigation-item {
					.db-tooltip {
						// We show tooltip for collapsed state
						--db-show-popover-visibility: visible;
					}
				}
			}
		}

		&:has(
				#{string.unquote($navigation-child-selector)}
					> menu
					> .db-navigation-item-group
			) {
			#{string.unquote($navigation-child-selector)} {
				display: none;
			}

			> .db-control-panel-brand {
				&::after {
					display: none;
				}
			}
		}

		> .db-control-panel-brand {
			font-size: 0;
			gap: 0;
			place-self: center;
		}

		> .db-control-panel-desktop-button {
			justify-content: center;

			.db-button {
				&::before {
					transform: form-components.$dropdown-icon-transform;
				}
			}
		}
	}

	&[data-open="true"] {
		inline-size: var(
			--db-control-panel-desktop-inline-size,
			#{screen-sizes.$db-breakpoint-xs}
		);
	}

	> .db-control-panel-desktop-button {
		grid-area: button;
		padding-block: variables.$db-spacing-fixed-xs;
		display: flex;
		justify-content: end;

		@include helpers.divider("top");
	}

	> .db-control-panel-brand,
	> .db-control-panel-primary-actions,
	> .db-control-panel-secondary-actions,
	> .db-control-panel-desktop-button {
		padding-inline: variables.$db-spacing-fixed-lg;
	}

	> .db-control-panel-brand,
	> .db-control-panel-primary-actions,
	> .db-control-panel-secondary-actions {
		margin-block-end: variables.$db-spacing-fixed-md;
	}

	> .db-control-panel-desktop-scroll-container {
		display: grid;
		overflow: hidden auto;
		grid-area: scroll;
		grid-template-areas: "navigation" "meta";

		> .db-control-panel-meta-navigation {
			margin-block-start: auto;
			@include helpers.divider("top");
		}
	}

	&:has(
			.db-control-panel-brand,
			.db-control-panel-primary-actions,
			#{string.unquote($navigation-child-selector)},
			#{string.unquote($meta-child-selector)}
		) {
		> .db-control-panel-secondary-actions {
			padding-block-start: variables.$db-spacing-fixed-sm;
			@include helpers.divider("top");
		}
	}

	&:has(#{string.unquote($navigation-child-selector)}) {
		> .db-control-panel-brand {
			@include helpers.divider("bottom", "after");

			&::after {
				inset-block-end: calc(-1 * #{variables.$db-spacing-fixed-md});
			}
		}
	}

	&:has(
			.db-control-panel-brand,
			#{string.unquote($navigation-child-selector)},
			#{string.unquote($meta-child-selector)}
		) {
		> .db-control-panel-primary-actions {
			padding-block-start: variables.$db-spacing-fixed-sm;
			@include helpers.divider("top");
		}
	}

	@include navigation-child {
		padding-block: variables.$db-spacing-fixed-md;

		> .overflow-scroll-left-button,
		> .overflow-scroll-right-button {
			display: none;
		}

		> menu {
			flex-direction: column;
			padding-inline: variables.$db-spacing-fixed-lg;

			@include navigation-items {
				@extend %db-puls;
				@include db-puls.set-db-puls-vertical();

				@include navigation-item.active-navigation-item {
					@include db-puls.show-db-puls-vertical();
				}
			}

			> .db-navigation-item-group {
				> .db-navigation-item-group-menu {
					inset-inline-start: calc(
						100% + #{variables.$db-spacing-fixed-md}
					);

					@include navigation-item.navigation-item-group-menu-triangle-vertical;
				}
			}
		}
	}
}
