@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "../../styles/internal/form-components";
@use "../../styles/internal/component";
@use "../../styles/internal/navigation-item";
@use "../../styles/internal/db-puls";

%control-panel-desktop-horizontal-orientation {
	border-block-end: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
	grid-template-areas:
		"meta meta meta meta meta meta"
		". . navigation . . ."
		". brand navigation primary secondary ."
		". . navigation . . .";
	grid-template-rows: auto #{variables.$db-spacing-fixed-md} auto #{variables.$db-spacing-fixed-md};
	grid-template-columns: #{variables.$db-spacing-fixed-lg} max-content 1fr max-content max-content #{variables.$db-spacing-fixed-lg};

	> .db-control-panel-brand {
		margin-inline-end: variables.$db-spacing-fixed-lg;
	}

	> .db-control-panel-primary-actions {
		margin-inline-start: variables.$db-spacing-fixed-sm;
	}

	> .db-control-panel-desktop-button {
		display: none;
	}

	&:has(.db-control-panel-primary-actions, .db-navigation) {
		> .db-control-panel-secondary-actions {
			padding-inline-start: variables.$db-spacing-fixed-sm;
			@include helpers.divider("left");
		}
	}

	&:has(.db-control-panel-brand) {
		> .db-navigation {
			padding-inline-start: variables.$db-spacing-fixed-lg;

			@include helpers.divider("left");
		}
	}

	&:has(.db-control-panel-secondary-actions) {
		> .db-control-panel-primary-actions {
			margin-inline-end: variables.$db-spacing-fixed-sm;
		}
	}

	&[data-width="small"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-sm;
	}

	&[data-width="medium"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-md;
	}

	&[data-width="large"] {
		margin-inline: auto;
		max-inline-size: screen-sizes.$db-breakpoint-lg;
	}

	> .db-navigation {
		overflow: auto hidden;
		> menu {
			flex-direction: row;
			padding-block: variables.$db-spacing-fixed-md;

			> .db-navigation-item,
			> .db-navigation-item-group {
				@extend %db-puls;
				@include db-puls.set-db-puls-horizontal();

				@include navigation-item.active-navigation-item {
					@include db-puls.show-db-puls-horizontal();
				}
			}

			> .db-navigation-item-group {
				&:is(button),
				> button {
					&::after {
						--db-icon-after: "chevron_down";
					}
				}

				> .db-navigation-item-group-menu {
					inset-block-start: calc(
						100% + #{variables.$db-spacing-fixed-md}
					);

					&::before {
						content: "";
						position: absolute;
						inset-inline-start: 0;
						inline-size: 100%;
						// #{$db-spacing-fixed--3xs} for shadows
						block-size: calc(
							#{variables.$db-spacing-fixed-3xs} + #{variables.$db-spacing-fixed-md}
						);
						inset-block-start: calc(
							-1 * #{variables.$db-spacing-fixed-md} - #{variables.$db-spacing-fixed-3xs}
						);
					}
				}
			}
		}
	}
}

%control-panel-desktop-vertical-orientation {
	border-inline-end: variables.$db-border-width-3xs solid
		colors.$db-adaptive-on-bg-basic-emphasis-60-default;
	block-size: 100%;
	grid-template-areas:
		". . ."
		". brand ."
		"navigation navigation navigation"
		". primary ."
		". secondary ."
		". . ."
		"meta meta meta"
		"button button button";
	grid-template-rows: #{variables.$db-spacing-fixed-md} auto 1fr auto auto #{variables.$db-spacing-fixed-md} auto auto;

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: inline-size #{variables.$db-transition-straight-functional};

		> .db-control-panel-desktop-button {
			.db-button {
				&::before {
					transition: transform
						variables.$db-transition-straight-functional;
				}
			}
		}
	}

	&[data-open="false"] {
		grid-template-columns: #{variables.$db-spacing-fixed-lg} min-content #{variables.$db-spacing-fixed-lg};

		inline-size: fit-content;
		/* stylelint-disable-next-line declaration-property-value-no-unknown */
		inline-size: calc-size(fit-content, size);

		> .db-control-panel-primary-actions,
		> .db-control-panel-secondary-actions,
		> .db-control-panel-meta-navigation {
			display: none;
		}

		> .db-navigation {
			.db-navigation-item,
			.db-navigation-item-group {
				--db-icon-margin-end: 0;
				inline-size: variables.$db-sizing-md;
				aspect-ratio: 1;
				justify-content: center;
				align-items: center;

				&::before {
					position: initial;
				}

				a {
					font-size: 0;
					position: absolute;
					inset: 0;
				}
			}

			.db-navigation-item {
				.db-tooltip {
					// We show tooltip for collapsed state
					--db-show-popover-visibility: visible;
				}
			}
		}

		&:has(> .db-navigation > menu > .db-navigation-item-group) {
			> .db-navigation {
				display: none;
			}

			> .db-control-panel-brand {
				&::after {
					display: none;
				}
			}
		}

		> .db-control-panel-brand {
			font-size: 0;
			gap: 0;
			place-self: center;
		}

		> .db-control-panel-desktop-button {
			justify-content: center;

			.db-button {
				&::before {
					transform: form-components.$dropdown-icon-transform;
				}
			}
		}
	}

	&[data-open="true"] {
		grid-template-columns: #{variables.$db-spacing-fixed-lg} 1fr #{variables.$db-spacing-fixed-lg};
		inline-size: var(
			--db-control-panel-desktop-inline-size,
			#{screen-sizes.$db-breakpoint-xs}
		);
	}

	> .db-control-panel-desktop-button {
		grid-area: button;
		padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-lg;
		display: flex;
		justify-content: end;

		@include helpers.divider("top");
	}

	> .db-control-panel-meta-navigation {
		@include helpers.divider("top");
	}

	> .db-control-panel-brand {
		margin-block-end: variables.$db-spacing-fixed-md;
	}

	> .db-control-panel-primary-actions {
		margin-block-start: variables.$db-spacing-fixed-sm;
	}

	&:has(.db-control-panel-primary-actions, .db-navigation) {
		> .db-control-panel-secondary-actions {
			padding-block-start: variables.$db-spacing-fixed-sm;
			@include helpers.divider("top");
		}
	}

	&:has(.db-navigation) {
		> .db-control-panel-brand {
			@include helpers.divider("bottom", "after");

			&::after {
				inset-block-end: calc(-1 * #{variables.$db-spacing-fixed-md});
			}
		}
	}

	&:has(.db-control-panel-secondary-actions) {
		> .db-control-panel-primary-actions {
			margin-block-end: variables.$db-spacing-fixed-sm;
		}
	}

	> .db-navigation {
		overflow: hidden auto;
		padding-block-start: variables.$db-spacing-fixed-md;
		> menu {
			flex-direction: column;
			padding-inline: variables.$db-spacing-fixed-lg;

			> .db-navigation-item,
			> .db-navigation-item-group {
				@extend %db-puls;
				@include db-puls.set-db-puls-vertical();

				@include navigation-item.active-navigation-item {
					@include db-puls.show-db-puls-vertical();
				}
			}

			> .db-navigation-item-group {
				> .db-navigation-item-group-menu {
					inset-inline-start: calc(
						100% + #{variables.$db-spacing-fixed-md}
					);

					@include navigation-item.navigation-item-group-menu-triangle-vertical;
				}
			}
		}
	}
}
