@use "sass:map";
@use "sass:string";
@use "sass:list";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/materials/classes/all";
@use "@db-ux/core-foundations/build/styles/appearances";
@use "component";
@forward "../visually-hidden";

// https://developer.mozilla.org/en-US/docs/Web/CSS/:read-only
$valid-read-only-form-fields: input, textarea;

// https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing
$valid-field-sizing-form-fields: input, textarea;
$dropdown-icon-transition: transform variables.$db-transition-straight-emotional;
$dropdown-icon-transform: rotate(-180deg);
$font-size-height: var(--db-icon-font-size);
$icon-size-sm: var(--db-base-body-icon-font-size-sm);
$label-size-height-xs: var(--db-base-body-icon-font-size-xs);
$label-size-height-2xs: var(--db-base-body-icon-font-size-2xs);
$floating-label-size-calc: calc(
	#{variables.$db-spacing-fixed-3xs} + #{variables.$db-spacing-fixed-2xs} +
		#{$label-size-height-2xs}
);

// font-size label which is 2xs + smallest spacing
$floating-label-padding-block-start: calc(
	var(--db-type-body-font-size-2xs) + #{variables.$db-spacing-fixed-3xs}
);
$icon-inline-block-start: calc(
	(#{variables.$db-spacing-fixed-xs} + #{$label-size-height-xs}) *
		var(--db-label-visible-above, 1) + #{variables.$db-sizing-md} / 2
);
$input-types:
	"button", "checkbox", "color", "date", "datetime-local", "email", "file",
	"hidden", "image", "month", "number", "password", "radio", "range", "reset",
	"search", "submit", "tel", "text", "time", "url", "week";
$check-border-size: min(#{variables.$db-border-width-2xs}, 2px);
$db-min-inline-size: var(
	--db-form-component-min-inline-size,
	#{variables.$db-sizing-lg}
);

%dropdown-icon {
	@include icons.set-icon("chevron_down", "after");

	&::after {
		pointer-events: none;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: $dropdown-icon-transition;
		}
	}
}

%helper-message {
	> db-infotext > .db-infotext,
	> .db-infotext {
		margin-block-start: variables.$db-spacing-fixed-2xs;

		&:is([data-semantic="successful"], [data-semantic="critical"]) {
			@include helpers.display(none);
		}
	}
}

@mixin placeholder-content($selector) {
	#{$selector}::placeholder,
	[id$="-placeholder"] {
		@content;
	}

	// Workaround until the :blank pseudo-class is widely supported; then prefer targeting that pseudo-class.
	#{$selector} {
		&:is(
				[type="date"],
				[type="datetime-local"],
				[type="month"],
				[type="week"],
				[type="time"]
			):not(:user-valid)::-webkit-datetime-edit {
			@content;
		}
	}
}

@mixin set-floating-label-overwrites($selector) {
	&[data-variant="floating"] {
		> label {
			@extend %db-overwrite-font-size-md;

			opacity: variables.$db-opacity-xl;
			position: absolute;
			z-index: 2;
			inset-block-start: calc(
				(#{variables.$db-sizing-md} - #{$font-size-height}) / 2
			);
			inset-inline: var(
					--db-form-component-padding-inline-start,
					#{variables.$db-spacing-fixed-sm}
				)
				var(
					--db-form-component-padding-inline-end,
					#{variables.$db-spacing-fixed-sm}
				);
			pointer-events: none;
			font-style: italic;
		}

		[id$="-placeholder"] {
			@extend %db-overwrite-font-size-sm;

			inset-block-start: calc(
				50% - 0.5em + #{variables.$db-spacing-fixed-3xs}
			);
		}

		@include placeholder-content($selector) {
			transition: none;
			opacity: 0;
		}

		#{$selector} {
			@extend %db-overwrite-font-size-sm;

			@if $selector == textarea {
				padding-block-start: $floating-label-size-calc;
				/* stylelint-disable-next-line at-rule-empty-line-before */
			} @else {
				/* stylelint-disable-next-line db-ux/use-spacings */
				padding-block-start: var(--db-base-body-icon-font-size-2xs);
			}
		}

		&:has(
			#{$selector}:focus-within,
			#{$selector}:is(input, textarea):not(:placeholder-shown),
			> select option:checked:not(.placeholder),
			input[type="checkbox"]:checked,
			input[type="radio"]:checked
		) {
			> label {
				@extend %db-overwrite-font-size-2xs;

				inset-block-start: variables.$db-spacing-fixed-2xs;
				opacity: 1;
				font-style: normal;
				color: variables.$db-icon-color-default;
			}

			@include placeholder-content($selector) {
				opacity: variables.$db-opacity-xl;
				font-family: var(--db-font-family-sans);
				font-style: italic;

				@if $selector == select or $selector == summary {
					/* stylelint-disable-next-line db-ux/use-spacings */
					padding-block-start: var(--db-base-body-icon-font-size-2xs);
				}

				@media screen and (prefers-reduced-motion: no-preference) {
					transition: opacity
						#{variables.$db-transition-straight-emotional};
				}
			}
		}
	}
}

@mixin get-validity-message($key: "valid") {
	> db-infotext > .db-infotext,
	> .db-infotext {
		@if $key == "valid" {
			&[data-semantic="successful"] {
				@include helpers.display(flex);
			}
			/* stylelint-disable-next-line at-rule-empty-line-before */
		} @else {
			&[data-semantic="critical"] {
				@include helpers.display(flex);
			}
		}

		&:not([data-semantic]) {
			@include helpers.display(none);
		}
	}
}

@mixin get-validity-color($selector, $key: "valid") {
	$variant: "successful";

	@if $key != "valid" {
		$variant: "critical";
	}

	@extend %db-#{$variant}-variables;

	@include get-validity-message($key);
}

// This doesn't contain text, search and password, because they don't have an auto-validation
$input-valid-types:
	"color", "date", "datetime-local", "email", "file", "hidden", "month",
	"number", "range", "tel", "time", "url", "week";

@function get-validations($selector, $key) {
	$validations: ":required";

	@if $selector == input {
		/* We use all client side form-validation for input here */
		// https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation#using_built-in_form_validation
		$validations: ":required, [minlength], [maxlength], [pattern]";

		@each $type in $input-valid-types {
			$validations: $validations + ", [type=#{$type}]";
		}
		/* stylelint-disable-next-line at-rule-empty-line-before */
	} @else if $selector == textarea {
		/* We use all client side form-validation for textarea here */
		$validations: ":required, [minlength], [maxlength]";
	}

	$has-selectors: "&:has(#{$selector}:not([data-custom-validity]):is(#{$validations}):user-#{$key}),";

	@return string.unquote(string.slice($has-selectors, 1, -2));
}

@mixin get-validity($selector, $key: "valid") {
	$user: "";

	@if $selector == check or $selector == switch {
		$user: "user-";
	}

	@if $selector == check or $selector == radio or $selector == switch {
		$selector: input;

		&:has(
			#{$selector}:not([data-custom-validity]):required:#{$user}#{$key}
		) {
			@content;
		}
		/* stylelint-disable-next-line at-rule-empty-line-before */
	} @else {
		@if $selector == summary {
			$selector: select;
		}

		#{get-validations($selector,$key)} {
			@content;
		}
	}

	// If data-custom-validity is set we overwrite the selectors above
	&:has(#{$selector}[data-custom-validity="#{$key}"]),
	&[data-custom-validity="#{$key}"] {
		@content;
	}
}

@mixin set-required-label($selector) {
	&:has(#{$selector}:required),
	&[data-required="true"] {
		&:is(label),
		> label {
			&::after {
				// We're using 1px instead of a token here on purpose, as this is an edge case
				/* stylelint-disable-next-line db-ux/use-spacings */
				padding-inline-start: 1px;

				@include icons.icon-content("*");
			}
		}
	}
}

@mixin set-default-form-component($selector) {
	@extend %db-overwrite-font-size-sm;
	@extend %helper-message;

	// base inline size for inputs without icons
	min-inline-size: $db-min-inline-size;

	&:not([data-material]) {
		// Old default for form-components
		@extend [data-material="semitransparent"];
	}

	/* stylelint-disable-next-line block-no-redundant-nested-style-rules */
	& {
		--db-form-has-before: 0;

		// we use absolute icons
		position: relative;
		flex-direction: column;

		@include helpers.display(flex);
	}

	&[data-variant="floating"],
	&[data-hide-label="true"] {
		--db-label-visible-above: 0;
	}

	&:not([data-hide-asterisk="true"]) {
		@include set-required-label($selector);
	}

	@include set-floating-label-overwrites($selector);

	@include get-validity($selector) {
		&:has(
			> .db-infotext[data-semantic="successful"],
			> db-infotext > .db-infotext[data-semantic="successful"]
		) {
			@include get-validity-color($selector, "valid");
		}
	}

	@include get-validity($selector, "invalid") {
		@include get-validity-color($selector, "invalid");
	}

	@include placeholder-content($selector) {
		opacity: variables.$db-opacity-xl;
		font-family: var(--db-font-family-sans);
		font-style: italic;
	}

	#{$selector} {
		@extend %db-overwrite-font-size-md;
		@extend %default-interactive-component;

		caret-color: variables.$db-icon-color-default;
		appearance: none;
		max-inline-size: 100%;
		inline-size: 100%;
		min-inline-size: $db-min-inline-size;

		/* stylelint-disable-next-line db-ux/use-spacings */
		padding-inline: var(
				--db-form-component-padding-inline-start,
				#{variables.$db-spacing-fixed-sm}
			)
			var(
				--db-form-component-padding-inline-end,
				#{variables.$db-spacing-fixed-sm}
			);

		@if list.index($valid-field-sizing-form-fields, $selector) {
			/* see https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing */
			&[data-field-sizing="content"] {
				field-sizing: content;
			}

			&[data-field-sizing="fixed"] {
				field-sizing: fixed;
			}
		}

		@if list.index($valid-read-only-form-fields, $selector) {
			&:not(:disabled):read-only {
				// TODO: What do we do with read-only state?
				background-color: var(
					--db-#{$selector}-read-only,
					#{colors.$db-adaptive-bg-basic-transparent-full-default}
				) !important;
			}
		}
	}

	// label
	> label {
		@extend %db-overwrite-font-size-xs;

		padding-block-end: variables.$db-spacing-fixed-xs;
		color: variables.$db-on-bg-color-default;
		max-inline-size: 25ch;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition: font-size variables.$db-transition-straight-emotional;
		}
	}

	&[data-hide-label="true"] {
		> label {
			@extend %a11y-visually-hidden;

			padding: 0;
		}
	}

	// disabled
	&:has(
		#{$selector}:disabled,
		#{$selector}[data-disabled="true"],
		#{$selector}[aria-disabled="true"]
	) {
		// Decided against cursor: not-allowed, compare to e.g. https://phabricator.wikimedia.org/T121960
		opacity: variables.$db-opacity-md;
		pointer-events: none;
	}

	// icons
	&::after,
	&::before {
		position: absolute;
		pointer-events: none;
		inset-block-start: $icon-inline-block-start;
		color: variables.$db-on-bg-color-default;
		transform: translateY(-50%);
		z-index: 1;
	}

	&::before {
		margin-inline-end: variables.$db-spacing-fixed-sm;
		inset-inline-start: variables.$db-spacing-fixed-sm;
	}

	&::after {
		margin-inline-start: variables.$db-spacing-fixed-sm;
		inset-inline-end: variables.$db-spacing-fixed-sm;
	}

	@if $selector == input or $selector == select or $selector == summary {
		#{$selector} {
			block-size: variables.$db-sizing-md;
			text-overflow: ellipsis;
		}
	}
}

// CHECKBOX & RADIO

@mixin get-validity-color-checkbox($key: "valid") {
	$variant: successful;

	@if $key != "valid" {
		$variant: critical;
	}

	--db-check-element-border-color: var(
		--db-#{$variant}-on-bg-basic-emphasis-70-default
	);
	--db-adaptive-on-bg-basic-emphasis-100-default: var(
		--db-#{$variant}-on-bg-basic-emphasis-80-default
	);
	--db-adaptive-on-bg-basic-emphasis-100-hovered: var(
		--db-#{$variant}-on-bg-basic-emphasis-80-hovered
	);
	--db-adaptive-on-bg-basic-emphasis-100-pressed: var(
		--db-#{$variant}-on-bg-basic-emphasis-80-pressed
	);
	--db-adaptive-on-bg-inverted-default: var(
		--db-#{$variant}-on-bg-inverted-default
	);

	@include get-validity-message($key);

	input {
		&:not(:checked) {
			--db-adaptive-bg-basic-transparent-full-default: var(
				--db-#{$variant}-bg-basic-transparent-full-default
			);
			--db-adaptive-bg-basic-transparent-full-hovered: var(
				--db-#{$variant}-bg-basic-transparent-full-hovered
			);
			--db-adaptive-bg-basic-transparent-full-pressed: var(
				--db-#{$variant}-bg-basic-transparent-full-pressed
			);
		}

		&:checked {
			--db-adaptive-bg-basic-transparent-full-default: var(
				--db-#{$variant}-bg-inverted-contrast-low-default
			);
			--db-adaptive-bg-basic-transparent-full-hovered: var(
				--db-#{$variant}-bg-inverted-contrast-low-hovered
			);
			--db-adaptive-bg-basic-transparent-full-pressed: var(
				--db-#{$variant}-bg-inverted-contrast-low-pressed
			);
		}
	}
}

@mixin set-default-check-element() {
	@extend %db-overwrite-font-size-md;

	&:not([data-hide-asterisk="true"]) {
		@include set-required-label(input);
	}

	&:not([data-material]) {
		@extend [data-material="transparent"];

		input {
			// TODO: Remove this when braking change happens
			border-color: variables.$db-on-bg-color-default;
		}
	}

	&:has(input:disabled) {
		opacity: variables.$db-opacity-md;
	}

	:has(input:checked) {
		--db-is-alternate: 1;
	}

	:has(
		input[type="checkbox"]:not(:disabled),
		input[type="radio"]:not(:disabled)
	) {
		&:hover {
			&:is(label),
			> label {
				color: variables.$db-on-bg-color-hovered;
			}

			input {
				background-color: variables.$db-bg-color-pressed;
			}
		}

		&:active {
			&:is(label),
			> label {
				color: variables.$db-on-bg-color-pressed;
			}

			input {
				background-color: variables.$db-bg-color-pressed;
			}
		}
	}

	&:is(label),
	> label {
		@include helpers.display(flex);

		align-items: flex-start;
		position: relative;
		color: variables.$db-on-bg-color-default;
	}

	input {
		@extend %default-component;

		place-content: center center;
		appearance: none;
		aspect-ratio: 1;
		block-size: $font-size-height;
		inline-size: $font-size-height;
		padding: 0;
		margin-inline-end: var(--db-spacing-fixed-xs);
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;

		input {
			margin-inline-end: variables.$db-spacing-fixed-2xs;
		}
	}

	&[data-hide-label="true"] {
		font-size: 0;

		input {
			margin-inline-end: 0;
		}
	}
}
