@use "@db-ux/core-foundations/build/styles/variables";

$interactive-button-selectors: "label,button,a";

@mixin icon-passing(
	$inline-start: variables.$db-spacing-fixed-sm,
	$gap: variables.$db-spacing-fixed-xs
) {
	&[data-icon-leading]:not([data-show-icon-leading="false"]),
	&[data-icon]:not([data-show-icon="false"]) {
		&::before {
			position: absolute;
			inset-block-start: calc(50% - 0.5em);
			inset-inline-start: var(
				--db-icon-passing-inset-inline-start,
				#{$inline-start}
			);
			pointer-events: none;
			z-index: 1;
		}

		> :is(#{$interactive-button-selectors}),
		> * > :is(#{$interactive-button-selectors}) {
			/* stylelint-disable-next-line db-ux/use-spacings */
			padding-inline-start: var(
				--db-icon-passing-padding-inline-start,
				calc(#{$inline-start} + #{$gap} + 1lh)
			);
		}
	}
}

@mixin icon-passing-trailing($inline-end: variables.$db-spacing-fixed-sm) {
	&[data-icon-trailing]:not([data-show-icon-trailing="false"]) {
		&::after {
			position: absolute;
			inset-block-start: calc(50% - 0.5em);
			inset-inline-end: $inline-end;
			pointer-events: none;
			z-index: 1;
		}

		> :is(#{$interactive-button-selectors}),
		> * > :is(#{$interactive-button-selectors}) {
			padding-inline-end: calc(
				#{$inline-end} + #{variables.$db-spacing-fixed-xs} + 1lh
			);
		}
	}
}
