@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/icons";

@mixin icon-passing(
	$inline-start: variables.$db-spacing-fixed-sm,
	$block-start: calc(50% - 0.5em)
) {
	&[data-icon]:not([data-show-icon="false"]) {
		&::before {
			position: absolute;
			inset-block-start: var(
				--db-icon-passing-inset-block-start,
				#{$block-start}
			);
			inset-inline-start: var(
				--db-icon-passing-inset-inline-start,
				#{$inline-start}
			);
			pointer-events: none;
			z-index: 1;
		}

		a,
		button,
		label {
			/* stylelint-disable-next-line db-ux/use-spacings */
			padding-inline-start: var(
				--db-icon-passing-padding-inline-start,
				calc(
					#{$inline-start} + #{icons.$default-icon-margin-end} +
						var(--db-icon-font-size)
				)
			);
		}
	}
}
