@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/icons";

$interactive-button-selectors: "label,button,a:not(label)";

@mixin icon-passing($inline-start: variables.$db-spacing-fixed-sm) {
	&[data-icon-leading]:not([data-show-icon-leading="false"]),
	&[data-icon]:not([data-show-icon="false"]) {
		&::before {
			position: absolute;
			inset-block-start: calc(50% - 0.5em);
			inset-inline-start: $inline-start;
			pointer-events: none;
			z-index: 1;
		}

		#{$interactive-button-selectors} {
			--db-padding-inline-start: calc(
				#{$inline-start} + #{icons.$default-icon-margin-end} +
					var(--db-icon-font-size)
			);

			/* stylelint-disable-next-line db-ux/use-spacings */
			padding-inline-start: var(--db-padding-inline-start);
		}
	}
}

@mixin icon-passing-trailing($inline-end: variables.$db-spacing-fixed-sm) {
	&[data-icon-trailing]:not([data-show-icon-trailing="false"]) {
		&::after {
			position: absolute;
			inset-block-start: calc(50% - 0.5em);
			inset-inline-end: $inline-end;
			pointer-events: none;
			z-index: 1;
		}

		#{$interactive-button-selectors} {
			padding-inline-end: calc(
				#{$inline-end} + #{icons.$default-icon-margin-end} +
					var(--db-icon-font-size)
			);
		}
	}
}
