@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/colors";

$indicator-background: linear-gradient(
	135deg,
	var(--db-pride-red, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		16.7%,
	var(--db-pride-orange, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		0,
	var(--db-pride-orange, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		33.4%,
	var(--db-pride-yellow, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		0,
	var(--db-pride-yellow, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		50.1%,
	var(--db-pride-green, #{colors.$db-brand-on-bg-basic-emphasis-70-default}) 0,
	var(--db-pride-green, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		66.8%,
	var(--db-pride-blue, #{colors.$db-brand-on-bg-basic-emphasis-70-default}) 0,
	var(--db-pride-blue, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		83.5%,
	var(--db-pride-violet, #{colors.$db-brand-on-bg-basic-emphasis-70-default})
		0
);

@mixin set-indicator-horizontal() {
	&::after {
		block-size: variables.$db-border-width-xs;
		inline-size: 0;
		transform: translate(-50%, 0);
		inset-inline-start: 50%;
		inset-block: auto calc(-1 * #{variables.$db-spacing-fixed-xs});
	}
}

@mixin set-indicator-vertical() {
	&::after {
		block-size: 0;
		inline-size: variables.$db-border-width-xs;
		transform: translate(0, -50%);
		inset-block: var(--indicator-vertical-inset-block-start, 50%) auto;
		inset-inline-start: calc(-1 * #{variables.$db-spacing-fixed-xs});
	}
}

%indicator {
	&::after {
		content: "";
		position: absolute;
		border-radius: variables.$db-border-radius-xs;
		background: $indicator-background;

		@media screen and (prefers-reduced-motion: no-preference) {
			transition:
				height variables.$db-transition-duration-fast
					variables.$db-transition-timing-emotional,
				width variables.$db-transition-duration-fast
					variables.$db-transition-timing-emotional;
		}
	}
}

%indicator-auto {
	@extend %indicator;
	@include set-indicator-vertical;

	@include screen-sizes.screen("md") {
		@include set-indicator-horizontal;
	}
}

@mixin show-indicator-horizontal() {
	&::after {
		block-size: variables.$db-border-width-xs;
		inline-size: 100%;

		@media (forced-colors: active) {
			border: calc(#{variables.$db-border-width-xs} - 1px) solid
				colors.$db-adaptive-on-bg-basic-emphasis-100-default;
		}
	}
}

@mixin show-indicator-vertical() {
	&::after {
		block-size: var(--indicator-vertical-block-size, 100%);
		inline-size: variables.$db-border-width-xs;

		@media (forced-colors: active) {
			border: calc(#{variables.$db-border-width-xs} - 1px) solid
				colors.$db-adaptive-on-bg-basic-emphasis-100-default;
		}
	}
}

%show-indicator-auto {
	@include show-indicator-vertical;

	@include screen-sizes.screen("md") {
		@include show-indicator-horizontal;
	}
}
