@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/animation";
@use "./component";

%db-link-height {
	@include helpers.display(inline-block);

	&:not([data-wrap="true"]) {
		block-size: variables.$db-sizing-sm;
	}
}

%db-default-link {
	@extend %default-fg-transition;
	@extend %db-link-height;

	color: variables.$db-on-bg-color-default;

	@include helpers.hover {
		color: variables.$db-on-bg-color-hovered;

		&[data-text-opacity="weak"] {
			color: helpers.get-on-color-weak(variables.$db-on-bg-color-hovered);
		}
	}

	@include helpers.active {
		color: variables.$db-on-bg-color-pressed;

		&[data-text-opacity="weak"] {
			color: helpers.get-on-color-weak(variables.$db-on-bg-color-pressed);
		}
	}

	inline-size: fit-content;

	// Link underline
	// TODO: We should evaluate whether we could move this declaration to the @font-face declarations even already
	text-underline-position: from-font;
	text-decoration-thickness: helpers.px-to-rem($pxValue: 1);
	text-decoration-line: underline;

	&:not([data-wrap="true"], [data-variant="inline"]) {
		white-space: nowrap;
	}

	&[data-variant="inline"] {
		@include helpers.display(inline);
	}

	&:focus-visible {
		border-radius: variables.$db-border-radius-xs;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		opacity: variables.$db-opacity-md;
		pointer-events: none;
	}
}
