@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/materials/classes/all";
@use "./component";

%db-link-height {
	@include helpers.display(inline-block);

	&:not([data-wrap="true"]) {
		block-size: variables.$db-sizing-sm;
	}
}

%db-default-link {
	@extend %default-fg-transition;
	@extend %db-link-height;

	color: var(
		--db-global-on-bg-color-default,
		#{colors.$db-adaptive-on-bg-basic-emphasis-100-default}
	);

	@include helpers.hover {
		color: var(
			--db-global-on-bg-color-hovered,
			#{colors.$db-adaptive-on-bg-basic-emphasis-100-hovered}
		);
	}

	@include helpers.active {
		color: var(
			--db-global-on-bg-color-pressed,
			#{colors.$db-adaptive-on-bg-basic-emphasis-100-pressed}
		);
	}

	inline-size: fit-content;

	// Link underline
	// TODO: We should evaluate whether we could move this declaration to the @font-face declarations even already
	text-underline-position: from-font;
	text-decoration-thickness: helpers.px-to-rem($pxValue: 1);
	text-decoration-line: underline;

	&:not([data-wrap="true"], [data-variant="inline"]) {
		white-space: nowrap;
	}

	&[data-variant="inline"] {
		@include helpers.display(inline);
	}

	&:focus-visible {
		border-radius: variables.$db-border-radius-xs;
	}

	// "disabled" links
	&[aria-disabled="true"] {
		opacity: variables.$db-opacity-md;
		pointer-events: none;
	}
}
