@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "component";

$popover-gap-size: var(--db-popover-distance);
$popover-inset: calc(100% + #{$popover-gap-size} * var(--db-popover-gap, 0));
$popover-gap-inset: calc(-1 * #{$popover-gap-size});

%popover-center {
	&:not([data-placement], [data-corrected-placement]),
	&[data-placement="bottom"]:not([data-corrected-placement]),
	&[data-placement="top"]:not([data-corrected-placement]),
	&[data-corrected-placement="bottom"],
	&[data-corrected-placement="top"] {
		--db-popover-center-x: -50%;

		inset-inline-start: 50%;
	}

	&[data-corrected-placement="left"],
	&[data-corrected-placement="right"],
	&[data-placement="left"]:not([data-corrected-placement]),
	&[data-placement="right"]:not([data-corrected-placement]) {
		--db-popover-center-y: -50%;

		inset-block-start: 50%;
	}
}

%popover-placement {
	--db-popover-distance: #{variables.$db-spacing-fixed-2xs};

	// This pseudo-content is used to bridge the visible vertical offset in between the element that it triggering the tooltip and the tooltip itself
	&::before {
		content: "";
		position: absolute;
	}

	&:not([data-placement], [data-corrected-placement]),
	&[data-placement^="bottom"]:not([data-corrected-placement]),
	&[data-corrected-placement^="bottom"] {
		&::before {
			inset-block-end: 100%;
			inset-inline: 0;
			block-size: $popover-gap-size;
		}
	}

	&[data-placement^="top"]:not([data-corrected-placement]),
	&[data-corrected-placement^="top"] {
		&::before {
			inset-block-start: 100%;
			inset-inline: 0;
			block-size: $popover-gap-size;
		}
	}

	&[data-placement^="right"]:not([data-corrected-placement]),
	&[data-corrected-placement^="right"] {
		&::before {
			inset-inline-end: 100%;
			inset-block: 0;
			inline-size: $popover-gap-size;
		}
	}

	&[data-placement^="left"]:not([data-corrected-placement]),
	&[data-corrected-placement^="left"] {
		&::before {
			inset-inline-start: 100%;
			inset-block: 0;
			inline-size: $popover-gap-size;
		}
	}

	&[data-gap="true"] {
		--db-popover-gap: 1;
		--db-popover-distance: #{variables.$db-spacing-fixed-md};
	}

	&:is(.db-tooltip) {
		--db-popover-distance: #{variables.$db-spacing-fixed-sm};
	}

	/* This is for pure html css without using JS */
	&:not([data-corrected-placement]) {
		&[data-placement^="bottom"],
		&[data-placement^="top"] {
			&[data-placement$="end"] {
				inset-inline-end: 0;
			}

			&[data-placement$="start"] {
				inset-inline-start: 0;
			}
		}

		&[data-placement^="left"],
		&[data-placement^="right"] {
			&[data-placement$="end"] {
				inset-block-end: 0;
			}

			&[data-placement$="start"] {
				inset-block-start: 0;
			}
		}

		&:not([data-placement]),
		&[data-placement^="bottom"] {
			inset-block-start: $popover-inset;

			&::before {
				inset-inline-start: 0;
				inline-size: 100%;
				block-size: $popover-gap-size;
				inset-block-start: $popover-gap-inset;
			}
		}

		&[data-placement^="top"] {
			inset-block-end: $popover-inset;

			&::before {
				inset-inline-end: 0;
				inline-size: 100%;
				block-size: $popover-gap-size;
				inset-block-end: $popover-gap-inset;
			}
		}

		&[data-placement^="left"] {
			inset-inline-end: $popover-inset;

			&::before {
				inset-block-end: 0;
				block-size: 100%;
				inline-size: $popover-gap-size;
				inset-inline-end: $popover-gap-inset;
			}
		}

		&[data-placement^="right"] {
			inset-inline-start: $popover-inset;

			&::before {
				inset-block-start: 0;
				block-size: 100%;
				inline-size: $popover-gap-size;
				inset-inline-start: $popover-gap-inset;
			}
		}
	}
}

@mixin get-popover-show() {
	&:not([data-animation]),
	&[data-animation="false"] {
		opacity: 1;
		transform: translate(
			var(--db-popover-center-x, 0),
			var(--db-popover-center-y, 0)
		);
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		&[data-animation="true"] {
			animation: popover-animation
				#{variables.$db-transition-straight-emotional} normal both;

			&[data-delay="slow"] {
				animation-delay: variables.$db-transition-duration-extra-slow;
			}

			&[data-delay="fast"] {
				animation-delay: variables.$db-transition-duration-medium;
			}

			@include screen-sizes.screen-min-max(
				(
					max: "md"
				)
			) {
				// If we are in mobile and have no delay set we force some delay to avoid layout shift
				&:not([data-delay]) {
					animation-delay: variables.$db-transition-duration-medium;
				}
			}
		}
	}
}

%show-popover {
	visibility: var(--db-show-popover-visibility, visible);

	&:not([data-placement], [data-corrected-placement]),
	&[data-placement^="bottom"]:not([data-corrected-placement]),
	&[data-corrected-placement^="bottom"] {
		--db-popover-translate-y: -25%;

		@include get-popover-show;
	}

	&[data-placement^="top"]:not([data-corrected-placement]),
	&[data-corrected-placement^="top"] {
		--db-popover-translate-y: 25%;

		@include get-popover-show;
	}

	&[data-placement^="right"]:not([data-corrected-placement]),
	&[data-corrected-placement^="right"] {
		--db-popover-translate-x: -25%;

		@include get-popover-show;
	}

	&[data-placement^="left"]:not([data-corrected-placement]),
	&[data-corrected-placement^="left"] {
		--db-popover-translate-x: 25%;

		@include get-popover-show;
	}
}

%default-popover {
	@extend %default-card;
	@extend %popover-placement;

	position: absolute;
	background-color: colors.$db-adaptive-bg-basic-level-1-default;
	box-shadow: variables.$db-elevation-md;
	visibility: hidden;
	z-index: 1337;

	// revert this if popover is included in button
	white-space: normal;
	max-inline-size: min(
		#{variables.$db-container-xs},
		calc(100vw - 2 * #{variables.$db-spacing-fixed-md})
	);
	block-size: fit-content;
	inline-size: fit-content;

	&[data-width="fixed"] {
		inline-size: max-content;
		text-align: initial;
	}
}
