@use "../helpers/layer";

@function get-on-color($type: "text", $state: "default") {
	@return var(
		--db-on-bg-color-contrast-#{$type}-#{$state},
		// Fallback to max contrast if specific type is not defined
		var(--db-material-on-bg-color-contrast-#{$type}-max-#{$state})
	);
}

@function get-on-color-weak($color) {
	@return color(from #{$color} srgb r g b / 0.75);
}

@function get-bg-color($type: "bg", $state: "default") {
	@return var(--db-material-#{$type}-color-#{$state});
}

$states: ("default", "hovered", "pressed");

%apply-global-visual-color {
	@layer #{layer.$layer-appearance} {
		--db-visual-color-default: #{get-on-color("visual", "default")};
	}
}

%apply-global-on-bg-colors {
	@layer #{layer.$layer-appearance} {
		@each $state in $states {
			--db-on-bg-color-#{$state}: #{get-on-color("text", $state)};
		}
	}
}

%apply-global-bg-colors {
	@layer #{layer.$layer-appearance} {
		@each $state in $states {
			--db-bg-color-#{$state}: #{get-bg-color("bg", $state)};
		}
	}
}

%apply-global-colors {
	@layer #{layer.$layer-appearance} {
		--db-border-color-default: #{get-bg-color("border", "default")};
	}

	@extend %apply-global-visual-color;
	@extend %apply-global-on-bg-colors;
	@extend %apply-global-bg-colors;
}
