%grid-layout-link-variant-inline {
	// has link inline or overlay
	&:has(a) {
		&:not([data-link-variant="block"]) {
			// 1. only content (min. requirement)
			grid-template-areas: "content link";
			grid-template-columns: 1fr min-content;

			&:has(.db-button) {
				grid-template-columns: 1fr min-content min-content;
				grid-template-areas: "content link close";
			}

			// 2. headline
			&:has(header) {
				grid-template-columns: 1fr min-content;
				grid-template-areas:
					"head link"
					"content content";

				&:has(.db-button) {
					grid-template-columns: 1fr min-content min-content;
					grid-template-areas:
						"head link close"
						"content content content";
				}
			}

			// 3. icon or img
			&[data-icon],
			&[data-semantic]:not([data-semantic="adaptive"]),
			&:has(img) {
				grid-template-areas: "icon content link";
				grid-template-columns: min-content 1fr min-content;

				&:has(.db-button) {
					grid-template-columns: min-content 1fr min-content min-content;
					grid-template-areas: "icon content link close";
				}

				&:has(header) {
					grid-template-columns: min-content 1fr min-content;
					grid-template-areas:
						"icon head link"
						"icon content content";

					&:has(.db-button) {
						grid-template-columns: min-content 1fr min-content min-content;
						grid-template-areas:
							"icon head link close"
							"icon content content content";
					}
				}
			}
		}
	}
}
