@use "sass:map";
@use "@db-ux/core-foundations/build/styles/density";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "../../styles/internal/component";
@use "../../styles/internal/link-components";
@use "./notification-grid-default";
@use "./notification-grid-overlay";
@use "./notification-grid-non-overlay";

// Shared styles for heading elements
@mixin heading-reset {
	margin: 0;
	font: var(--db-type-body-md);
	font-weight: 700;

	&::before,
	&::after {
		--db-icon-font-size: var(--db-base-body-icon-font-size-md);
		--db-icon-font-weight: var(--db-base-body-icon-weight-md);
	}
}

// Link pseudo-element reset
@mixin link-pseudo-reset {
	&::before,
	&::after {
		content: none !important;
		margin: 0 !important;
	}
}

// Timestamp line-height adjustments
%timestamp-line-height-adjustments {
	&:has(span) {
		header,
		p,
		&::before,
		.db-button {
			/* stylelint-disable-next-line db-ux/use-spacings */
			margin-block-start: -2px;
		}
	}
}

.db-notification {
	@extend %component-border;
	@extend %grid-layout-default;
	@extend %timestamp-line-height-adjustments;
	@include helpers.display(grid);

	padding: variables.$db-spacing-fixed-md;
	gap: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-md;
	inline-size: inherit;
	background-color: colors.$db-adaptive-bg-basic-level-2-default;

	&::before {
		--db-icon-color: #{colors.$db-adaptive-on-bg-basic-emphasis-70-default};
	}

	// Link styles
	a {
		@extend %db-default-link;
		@include link-pseudo-reset;

		&[data-variant="brand"] {
			@extend %db-link-default-color;
		}

		&[data-size="small"] {
			@extend %db-overwrite-font-size-md;
		}
	}

	// Inline link positioning and sizing
	&[data-link-variant="inline"] a {
		grid-area: timestamp;
		white-space: nowrap;
		justify-self: end;

		@extend %db-overwrite-font-size-md;
	}

	// Hide timestamp when inline link present
	&[data-link-variant="inline"]:has(a) > span {
		display: none;
	}

	// Block link positioning
	&:not([data-link-variant="inline"]) a {
		grid-area: link;
		white-space: nowrap;
	}

	// Header styles
	header {
		grid-area: head;

		&,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include heading-reset;
		}
	}

	// Content styles
	p {
		@extend %db-overwrite-font-size-md;

		grid-area: content;
		margin: 0;
	}

	// Timestamp styles
	span {
		@extend %db-overwrite-font-size-sm;

		grid-area: timestamp;
		white-space: nowrap;
		justify-self: end;
	}

	// Close button positioning
	.db-button {
		grid-area: close;
	}

	// Image styles
	img {
		min-block-size: variables.$db-sizing-md;
		min-inline-size: variables.$db-sizing-md;
		max-block-size: variables.$db-sizing-md;
		max-inline-size: variables.$db-sizing-md;
		border-radius: variables.$db-border-radius-xs;
		object-fit: cover;
		grid-area: icon;
	}

	// Icon styles
	&[data-icon]::before,
	&::before {
		--db-icon-margin-end: 0;

		@include icons.to-filled-icon;

		grid-area: icon;
	}

	// Hide icon when showIcon is false
	&[data-show-icon="false"]::before {
		display: none;
	}

	// Hide icon when image present
	&:has(img)::before {
		content: none !important;
	}

	// Variant: overlay
	&[data-variant="overlay"] {
		@extend %grid-layout-variant-overlay;

		box-shadow: variables.$db-elevation-md;
	}

	// Variant: non-overlay with block links
	&:not([data-variant="overlay"]) {
		&[data-link-variant="block"],
		&:not([data-link-variant]):has(a) {
			@extend %grid-layout-variant-not-overlay;
		}
	}

	// Card styling for overlay and standalone
	&[data-variant="overlay"],
	&[data-variant="standalone"] {
		@extend %default-card;
	}

	// Semantic variants
	@each $name in colors.$variant-colors {
		&[data-semantic="#{$name}"] {
			@extend %db-#{$name}-variables;
			@include icons.variant-icons($name);

			&::before {
				@extend %icon;
			}
		}
	}
}
