%grid-layout-link-variant-inline {
	// Apply inline link layout only when:
	// - has link element
	// - not block link variant
	// - not overlay with timestamp (overlay + timestamp + inline link not allowed)
	&:has(a):not(
			[data-link-variant="block"],
			[data-variant="overlay"]:has(span)
		) {
		// 1. Basic content with inline link
		grid-template-areas: "content link";
		grid-template-columns: 1fr min-content;

		&:has(.db-button) {
			grid-template-columns: 1fr min-content min-content;
			grid-template-areas: "content link close";
		}

		// 2. headline
		&:has(header) {
			grid-template-columns: 1fr min-content;
			grid-template-areas:
				"head link"
				"content content";

			&:has(.db-button) {
				grid-template-columns: 1fr min-content min-content;
				grid-template-areas:
					"head link close"
					"content content content";
			}
		}

		// 3. icon or img
		&[data-icon],
		&[data-semantic]:not([data-semantic="adaptive"]),
		&:has(img) {
			grid-template-areas: "icon content link";
			grid-template-columns: min-content 1fr min-content;

			&:has(.db-button) {
				grid-template-columns: min-content 1fr min-content min-content;
				grid-template-areas: "icon content link close";
			}

			&:has(header) {
				grid-template-columns: min-content 1fr min-content;
				grid-template-areas:
					"icon head link"
					"icon content content";

				&:has(.db-button) {
					grid-template-columns: min-content 1fr min-content min-content;
					grid-template-areas:
						"icon head link close"
						"icon content content content";
				}
			}
		}
	}
}
