@use "sass:map";
@use "../variables";
@use "../materials";
@use "../../helpers/appearances";

@mixin init($material) {
	[data-material="#{$material}"] {
		@extend %material-#{$material};
		@extend %apply-global-colors;
	}
}
