@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/component";
@use "../../styles/internal/db-puls";
@use "../../styles/internal/form-components";

$with-icon-padding-calc: calc(
	#{variables.$db-spacing-fixed-xs} + #{variables.$db-spacing-fixed-sm} +
		#{form-components.$font-size-height}
);

.db-tab-item {
	position: relative;

	@include helpers.display(inline-flex);

	list-style-type: "";
	border-radius: variables.$db-border-radius-sm;

	&:has(details[disabled]),
	&:has(details[aria-disabled="true"]) {
		opacity: variables.$db-opacity-md;
	}

	details {
		position: absolute;
		appearance: none;
		inline-size: 100%;
		margin: 0;
		inset: 0;
		background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
		border-radius: variables.$db-border-radius-sm;
		z-index: -1;
		border-width: 0;

		/*
		focus must be set on details:
		- parent summary tag may use before AND after for displaying icons
		- placed on li.db-tab-item focus would get cut off partially by by overflow hidden (orientation vertical)
		 */
		&:focus-visible {
			outline: none;
			box-shadow: none;

			&::before {
				@extend %focus-placeholder;

				content: "";
				position: absolute;
				inset: 0;
				border-radius: variables.$db-border-radius-sm;
				z-index: 10;
				pointer-events: none;
			}
		}
	}

	summary {
		background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
		padding: variables.$db-spacing-fixed-xs;
		align-items: center;
		cursor: pointer;

		@include helpers.display(inline-block);

		white-space: nowrap;
		border-width: 0;
		border-radius: variables.$db-border-radius-sm;
		overflow: hidden;
		text-overflow: ellipsis;
		list-style: none; // Remove the disclosure triangle

		// Remove default marker/disclosure triangle in all browsers
		&::-webkit-details-marker {
			display: none;
		}

		&::marker {
			display: none;
		}

		@include helpers.hover {
			&:not(:has(details[disabled])) {
				background-color: colors.$db-adaptive-bg-basic-transparent-full-hovered;
			}

			&:has(details[disabled]),
			&:has(details[aria-disabled="true"]) {
				cursor: initial;
			}
		}

		&[data-icon] {
			padding-inline-start: $with-icon-padding-calc;

			&::before {
				position: absolute;
				transform: translateY(-50%);
				inset-block-start: 50%;
				inset-inline-start: calc(
					0% + #{variables.$db-spacing-fixed-xs}
				);
			}
		}

		&[data-icon-trailing] {
			padding-inline-end: $with-icon-padding-calc;

			&::after {
				position: absolute;
				transform: translateY(-50%);
				inset-block-start: 50%;
				inset-inline-end: calc(0% + #{variables.$db-spacing-fixed-xs});
			}
		}

		&:is([data-no-text], [data-no-text="true"]) {
			@include icons.is-icon-text-replace;

			padding: 0;
			inline-size: calc(
				#{$with-icon-padding-calc} - #{variables.$db-spacing-fixed-2xs}
			);
			block-size: calc(
				#{form-components.$font-size-height} +
					#{variables.$db-spacing-fixed-xs}
			);

			&::before {
				margin-inline-end: 0;
			}
		}
	}

	details[open] + summary,
	details[open] summary {
		font-weight: 700;
	}
}
