@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/db-puls";

.db-tab-item {
	@extend %db-puls;
	position: relative;
	background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
	padding-block: var(--db-tabs-item-padding, #{variables.$db-spacing-fixed-xs});
	padding-inline: variables.$db-spacing-fixed-xs;
	overflow: visible;

	@include helpers.display(flex);
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border: 0;
	border-radius: variables.$db-border-radius-sm;
	cursor: pointer;
	font-family: inherit;
	color: inherit;

	&[aria-selected="true"],
	&[data-active="true"] {
		font-weight: 700;
	}

	&:disabled {
		opacity: variables.$db-opacity-md;
		cursor: initial;
	}

	@include helpers.hover {
		&:not(:disabled) {
			background-color: colors.$db-adaptive-bg-basic-transparent-full-hovered;
		}
	}
}
