@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/component";
@use "../../styles/internal/db-puls";
@use "../../styles/internal/form-components";

$with-icon-padding-calc: calc(
	#{variables.$db-spacing-fixed-xs} + #{variables.$db-spacing-fixed-sm} +
		#{form-components.$font-size-height}
);

.db-tab-item {
	position: relative;

	@include helpers.display(inline-flex);

	list-style-type: "";
	border-radius: variables.$db-border-radius-sm;
	inline-size: 100%;

	&:has(button:disabled) {
		opacity: variables.$db-opacity-md;
	}

	.db-tab-button {
		background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
		padding: variables.$db-spacing-fixed-xs;

		@include helpers.display(flex);

		align-items: center;
		justify-content: center;
		gap: variables.$db-spacing-fixed-xs;
		white-space: nowrap;
		border: 0;
		border-radius: variables.$db-border-radius-sm;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		appearance: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		inline-size: 100%;

		@include helpers.hover {
			&:not(:disabled) {
				background-color: colors.$db-adaptive-bg-basic-transparent-full-hovered;
			}

			&:disabled {
				cursor: initial;
			}
		}

		&[aria-selected="true"] {
			font-weight: 700;
		}

		.db-tab-label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-inline-size: 0;
		}

		&:is([data-no-text], [data-no-text="true"]) {
			@include icons.is-icon-text-replace;

			padding: 0;
			justify-content: center;
			inline-size: calc(
				#{$with-icon-padding-calc} - #{variables.$db-spacing-fixed-2xs}
			);
			block-size: calc(
				#{form-components.$font-size-height} +
					#{variables.$db-spacing-fixed-xs}
			);
		}

		&:focus-visible {
			outline: none;
			box-shadow: none;

			&::before {
				@extend %focus-placeholder;

				content: "";
				position: absolute;
				inset: 0;
				border-radius: variables.$db-border-radius-sm;
				z-index: 10;
				pointer-events: none;
			}
		}
	}
}
