<app-default-component
	title="DBStack"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-stack>
			<db-infotext size="small" icon="none" semantic="informational">
				{{ exampleName }}
			</db-infotext>
			<db-stack
				[className]="
					(exampleProps.justifyContent ?? exampleProps.alignment)
						? 'stack-container'
						: ''
				"
				[gap]="exampleProps.gap"
				[alignment]="exampleProps.alignment"
				[wrap]="exampleProps.wrap"
				[variant]="exampleProps.variant"
				[direction]="exampleProps.direction"
				[justifyContent]="exampleProps.justifyContent"
			>
				<db-badge>Content 1</db-badge>
				@if (exampleProps.variant === "divider") {
					<db-divider />
				}
				<db-badge>Content 2</db-badge>
				@if (exampleProps.variant === "divider") {
					<db-divider />
				}
				<db-badge>Content 3</db-badge>
			</db-stack>
		</db-stack>
	</ng-template>
</app-default-component>
