@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/form-components";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/select-dropdown-components";

.db-custom-select-list {
	all: unset;

	@extend %select-list-container;

	padding: variables.$db-spacing-fixed-sm;
	overflow-y: auto;

	&::-webkit-scrollbar-button:single-button:vertical:decrement {
		border-start-end-radius: 0;
	}

	> ul {
		all: unset;
		display: flex;
		flex-direction: column;

		&:has(span) {
			--db-custom-select-list-item-group-padding: 1;
		}
	}

	> legend {
		@extend %a11y-visually-hidden;
	}
}
