@use "../../styles/internal/form-components";
@use "../../styles/internal/select-components";
@use "@db-ux/core-foundations/build/styles/helpers";

.db-custom-select-list {
	all: unset;

	@include select-components.select-list-styles;

	> ul {
		all: unset;
		display: flex;
		flex-direction: column;

		&:has(span) {
			--db-custom-select-list-item-group-padding: 1;
		}
	}

	> legend {
		@extend %a11y-visually-hidden;
	}
}
