@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/component" as *;
@use "../../styles/db-puls" as *;

.db-main-navigation {
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
	inline-size: 100%;

	@include screen("m") {
		-webkit-tap-highlight-color: inherit;
		inline-size: auto;
	}

	& > menu {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		gap: $db-spacing-fixed-sm;

		@include screen("m") {
			flex-direction: row;
		}

		.db-navigation-item {
			.db-navigation-item-expand-button:is(button),
			.db-navigation-item-expand-button > button {
				// overwrite for main-navigation items
				@include screen("m") {
					&::after {
						--icon-margin-before: #{$db-spacing-fixed-sm};
						--icon-glyph: "⌄";
					}
				}
			}

			// re overwrite for non main-navigation items
			& > menu {
				.db-navigation-item-expand-button:is(button),
				.db-navigation-item-expand-button > button {
					@include screen("m") {
						&::after {
							--icon-glyph: ">";
							--icon-margin-before: auto;
						}
					}
				}
			}

			&[aria-current="page"] {
				// add puls for main-navigation items
				@extend %show-db-puls;

				menu {
					// hide puls for non main-navigation items
					[aria-current="page"] {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}
