@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/db-puls";

.db-tab-bar {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.db-tab {
		margin-inline-end: variables.$db-spacing-fixed-sm;
		margin-block-end: variables.$db-spacing-fixed-2xs;
	}

	label[role="tab"]:last-of-type {
		margin-inline-end: 0;
	}

	article[role="tabpanel"] {
		display: none;
		flex-basis: 100%;
		order: 1;
		border-block-start: 3px solid rgb(183, 183, 183); //TODO richtige variable
	}
}
