@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/animation";
@use "../../styles/internal/form-components";

.db-multi-select-dropdown {
	@extend %db-neutral-variables;

	position: absolute;
	z-index: 2;
	box-shadow: variables.$db-elevation-md;
	inline-size: 100%;
	min-inline-size: min(
		calc(100vw - 2 * #{variables.$db-spacing-fixed-md}),
		calc(
			#{screen-sizes.$db-breakpoint-xs} - 2 *
				#{variables.$db-spacing-fixed-sm}
		)
	);
	max-inline-size: calc(100vw - 2 * #{variables.$db-spacing-fixed-sm});

	> div {
		@include helpers.divider("bottom", "after");

		&:has(.db-checkbox) {
			padding: variables.$db-spacing-fixed-xs
				variables.$db-spacing-fixed-sm;
		}

		&:has(.db-input) {
			padding: variables.$db-spacing-fixed-md
				calc(#{variables.$db-spacing-fixed-sm} * 2);
		}
	}

	> .db-infotext {
		padding: variables.$db-spacing-fixed-sm;

		&[data-icon="circular_arrows"] {
			&::before {
				@media screen and (prefers-reduced-motion: no-preference) {
					animation: rotate 1.5s linear 0s infinite normal none running;
				}
			}
		}
	}
}
