@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";

.db-drawer-footer {
	display: flex;
	flex-direction: column;
	gap: variables.$db-spacing-fixed-sm;
	padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-md;

	@include helpers.divider("top");
}
