@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/colors";
@use "../../styles/internal/component";
@use "../../styles/internal/navigation-item";
@use "control-panel-navigation-item-group-menu-non-tree";

%db-control-panel-navigation-item-group-menu-drilldown {
	@extend %db-control-panel-navigation-item-group-menu-non-tree;

	overflow: hidden auto;
	position: absolute;
	inset: 0;

	/* jscpd:ignore-start */

	// Mobile
	@include screen-sizes.screen-min-max(
		(
			max: "sm"
		)
	) {
		padding: variables.$db-spacing-fixed-2xs
			component.$drawer-content-padding-inline;
		inline-size: var(--db-drawer-width-horizontal, 100%);
		max-inline-size: var(
			--db-drawer-max-width,
			var(--db-drawer-max-width-horizontal)
		);
	}

	/* jscpd:ignore-end */

	// Desktop
	@include screen-sizes.screen-min-max(
		(
			min: "sm"
		)
	) {
		inline-size: calc(
			var(
					--db-control-panel-desktop-inline-size,
					#{variables.$db-container-xs}
				) -
				#{variables.$db-border-width-3xs} * 2
		); // Remove the border from fixed menu

		padding: variables.$db-spacing-fixed-sm;
	}
}
