@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/fonts";

.db-multi-select-list-item {
	display: flex;
	block-size: 100%;
	position: relative;
	padding: variables.$db-spacing-fixed-sm;
	background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
	border-radius: variables.$db-border-radius-xs;
	box-sizing: border-box;

	&:has(input[type="radio"]:checked) {
		--db-overwrite-cursor: default;
	}

	&:has(> label) {
		padding-inline-start: calc(
			#{variables.$db-spacing-fixed-sm} +
				#{variables.$db-spacing-fixed-sm} *
				var(--db-multi-select-list-item-group-padding, 0)
		);

		@include helpers.hover {
			background-color: colors.$db-adaptive-bg-basic-transparent-hovered;
		}

		@include helpers.active {
			background-color: colors.$db-adaptive-bg-basic-transparent-pressed;
		}
	}

	&:has(> label > input:focus-within) {
		@extend %focus-placeholder;
	}

	span {
		@extend %db-overwrite-font-size-md;
		color: colors.$db-adaptive-on-bg-basic-emphasis-80-default;
	}

	&:has(> span) {
		@include helpers.divider("bottom");
	}

	> label {
		inline-size: 100%;

		&:has(input:checked) {
			font-weight: 700;
		}

		&:has(input[type="radio"]) {
			gap: 0;
		}

		> input {
			&::after {
				position: absolute;
				content: "";
				inset-block: calc(-1 * #{variables.$db-spacing-fixed-xs});
				inset-inline: calc(-1 * #{variables.$db-spacing-fixed-xs});
			}

			&[type="radio"] {
				all: unset;
			}

			// We revert interaction states for checkbox
			@include helpers.hover {
				background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
			}

			@include helpers.active {
				background-color: colors.$db-adaptive-bg-basic-transparent-full-default;
			}

			/* We set focus on complete list element, we remove it from checkbox with this trick */
			&:focus-visible {
				outline: none !important;
			}
		}
	}
}
