@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/component";
@use "../../styles/internal/form-components";
@use "../../styles/internal/button-components";

$icon-padding: calc(
	#{form-components.$font-size-height} + #{variables.$db-spacing-fixed-sm} +
		#{variables.$db-spacing-fixed-xs}
);

.db-input {
	@include form-components.set-default-form-component(input);

	// increased inline size for elements with icons or specific input types that have icons
	&:is([data-icon], [data-icon-trailing]):not([data-show-icon="false"]),
	&:has(
		input[type="search"],
		input[type="date"],
		input[type="month"],
		input[type="week"],
		input[type="datetime-local"],
		input[type="time"]
	) {
		--db-form-component-min-inline-size: #{variables.$db-sizing-xl};
	}

	// even larger size when both - leading and trailing icons - are present
	&[data-icon][data-icon-trailing] {
		--db-form-component-min-inline-size: #{variables.$db-sizing-2xl};
	}

	// padding-inline-end according to current amount of icons
	&[data-icon]:not([data-show-icon="false"]),
	&:has(input[type="search"]) {
		--db-form-component-padding-inline-start: #{$icon-padding};
	}

	&[data-icon-trailing]:not([data-show-icon-trailing="false"]),
	&:has(input[type="search"]),
	&:has(datalist) {
		--db-form-component-padding-inline-end: #{$icon-padding};
	}

	&:has(input[type="search"]) {
		@include icons.set-icon("magnifying_glass");
		@include icons.set-icon("cross", "after");

		&::after {
			opacity: 0;

			@media screen and (prefers-reduced-motion: no-preference) {
				transition: opacity variables.$db-transition-duration-fast;
			}
		}

		&:has(input:not(:placeholder-shown)):has(
				input:hover,
				input:focus-visible
			) {
			&::after {
				opacity: 1;
			}
		}
	}

	// This @supports should exclude Mozilla Firefox
	// TODO: Reevaluate after Mozilla is supporting week and month input types
	@supports selector(::-webkit-calendar-picker-indicator) {
		&:has(input[type="date"]),
		&:has(input[type="week"]),
		&:has(input[type="datetime-local"]),
		&:has(input[type="month"]) {
			@include icons.set-icon("calendar", "after");
		}

		&:has(input[type="time"]) {
			@include icons.set-icon("clock", "after");
		}
	}

	&:has(input[type="file"]) {
		input {
			@extend %db-overwrite-font-size-sm;

			padding-block-start: variables.$db-spacing-fixed-xs;
		}

		&[data-variant="floating"] {
			input {
				@extend %db-overwrite-font-size-xs;

				padding-block-start: calc(
					#{variables.$db-spacing-fixed-md} +
						#{variables.$db-spacing-fixed-3xs}
				);

				&::file-selector-button {
					@extend %db-overwrite-font-size-xs;

					block-size: variables.$db-sizing-xs;
					padding: 0 variables.$db-spacing-fixed-xs;
					margin-inline-end: variables.$db-spacing-fixed-xs;
				}
			}
		}
	}

	&[data-variant="floating"] {
		input {
			&::-webkit-calendar-picker-indicator,
			&::-webkit-search-cancel-button {
				/* stylelint-disable-next-line db-ux/use-spacings */
				margin-block-end: var(--db-base-body-icon-font-size-2xs);
			}
		}
	}

	input {
		position: relative;

		&::-webkit-calendar-picker-indicator,
		&::-webkit-search-cancel-button {
			@extend %db-overwrite-font-size-sm;

			background-image: none;
			inline-size: icons.$default-icon-font-size;
			block-size: icons.$default-icon-font-size;
			padding: 0;
			cursor: pointer;
			/* stylelint-disable-next-line db-ux/use-spacings */
			margin-block-start: variables.$db-border-width-3xs;
			border-radius: variables.$db-border-radius-xs;

			&:focus-visible {
				@include helpers.get-focus-placeholder;
			}
		}

		&::-webkit-search-cancel-button {
			appearance: none;
			position: absolute;
			inset-inline-end: calc(
				#{variables.$db-spacing-fixed-sm} +
					#{variables.$db-border-width-3xs}
			);
		}

		&::file-selector-button {
			@extend %default-interactive-component;
			@extend %default-button;
			@extend %db-overwrite-font-size-sm;

			block-size: variables.$db-sizing-sm;
			padding: variables.$db-spacing-fixed-3xs
				variables.$db-spacing-fixed-sm;
			margin-inline-end: variables.$db-spacing-fixed-sm;
		}
	}

	&:has(datalist) {
		@extend %dropdown-icon;

		input {
			&::-webkit-calendar-picker-indicator {
				display: none !important;
			}
		}
	}
}
