@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/form-components";
@use "../../styles/multi-select-components";

.db-multi-select-form-field {
	--db-form-component-padding-inline-end: calc(
		#{form-components.$font-size-height} +
			#{variables.$db-spacing-fixed-md} +
			#{variables.$db-spacing-fixed-xs} / 2
	);

	&:is(summary) {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: variables.$db-spacing-fixed-sm;

		span {
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;
		}

		> div {
			display: flex;
			gap: variables.$db-spacing-fixed-sm;
		}

		> button {
			@include helpers.divider("right", "after");

			&::after {
				position: absolute;
				inset-inline-end: calc(-1 * #{variables.$db-spacing-fixed-xs});
			}
		}
	}
}
