@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/icons";
@use "../../styles/next/component";
@use "../../styles/internal/form-components";

%checkbox-materials {
	> label {
		color: var(--db-text-default);
	}

	input {
		&:not(:checked) {
			background-color: var(--db-bg-default);
			color: var(--db-text-default);
			border-color: var(--db-visual-default);

			&::before {
				color: var(--db-visual-default);
			}
		}

		&:checked {
			background-color: var(--db-active-bg-default);
			color: var(--db-active-text-default);
			border-color: var(--db-active-visual-default);

			&::before {
				color: var(--db-active-visual-default);
			}
		}
	}

	@include helpers.hover {
		> label {
			color: var(--db-text-hovered);
		}

		input {
			&:not(:checked) {
				background-color: var(--db-bg-hovered);
			}

			&:checked {
				background-color: var(--db-active-bg-hovered);
			}
		}
	}

	@include helpers.active {
		> label {
			color: var(--db-text-pressed);
		}

		input {
			&:not(:checked) {
				background-color: var(--db-bg-pressed);
			}

			:checked {
				background-color: var(--db-active-bg-pressed);
			}
		}
	}
}

[data-generation="next"] .db-checkbox,
.db-checkbox[data-generation="next"] {
	@extend %checkbox-materials;
	@extend %component;

	@include helpers.display(flex);
	flex-direction: column;
	gap: var(--db-component-gap);

	> db-infotext > .db-infotext,
	> .db-infotext {
		&:is([data-semantic="successful"], [data-semantic="critical"]) {
			@include helpers.display(none);
		}
	}

	@include form-components.get-validity(check) {
		&:has(.db-infotext[data-semantic="successful"]) {
			@include form-components.get-validity-message("valid");
		}
	}

	@include form-components.get-validity(check, "invalid") {
		@include form-components.get-validity-message("invalid");
	}

	&:not([data-hide-asterisk="true"]) {
		label {
			@include form-components.set-required-label(
				input,
				".db-checkbox-content"
			);
		}
	}

	&[data-hide-label="true"] {
		.db-checkbox-content {
			@extend %a11y-visually-hidden-text;
		}
	}

	&:is(label),
	> label {
		@include helpers.display(flex);

		align-items: flex-start;
		gap: var(--db-component-gap);
	}

	.db-checkbox-content {
		@extend %content;
	}

	input {
		@include helpers.display(flex);

		border: var(--db-border-width) solid var(--db-border);
		border-radius: var(--db-border-radius);
		align-items: center;
		justify-content: center;
		place-content: center center;
		appearance: none;
		aspect-ratio: 1;
		block-size: var(--db-content-height);
		inline-size: var(--db-content-height);

		&:checked {
			// Check icon
			@include icons.set-icon("check");
		}

		&:indeterminate {
			@include icons.set-icon("minus");
		}
	}
}
