@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/icons";
@use "../../styles/next/component";
@use "../../styles/internal/form-components";

%checkbox-materials {
	> label {
		color: var(--db-on-bg-default);
	}

	input {
		&:not(:checked) {
			background-color: var(--db-bg-default);
			color: var(--db-on-bg-default);
			border-color: var(--db-on-bg-default);

			&::before {
				color: var(--db-on-bg-default);
			}
		}

		&:checked {
			background-color: var(--db-active-bg-default);
			color: var(--db-active-on-bg-default);
			border-color: var(--db-active-on-bg-default);

			&::before {
				color: var(--db-active-on-bg-default);
			}
		}
	}

	&:not(:has(input:disabled)) {
		@include helpers.hover {
			> label {
				color: var(--db-on-bg-hovered);
			}

			input {
				&:not(:checked) {
					background-color: var(--db-bg-hovered);
				}

				&:checked {
					background-color: var(--db-active-bg-hovered);
				}
			}
		}

		@include helpers.active {
			> label {
				color: var(--db-on-bg-pressed);
			}

			input {
				&:not(:checked) {
					background-color: var(--db-bg-pressed);
				}

				:checked {
					background-color: var(--db-active-bg-pressed);
				}
			}
		}
	}
}

[data-generation="next"] .db-checkbox,
.db-checkbox[data-generation="next"] {
	@extend %checkbox-materials;

	@include helpers.display(flex);
	flex-direction: column;
	gap: var(--db-layout-grouped-content-elements);

	> db-infotext > .db-infotext,
	> .db-infotext {
		&:is([data-semantic="successful"], [data-semantic="critical"]) {
			@include helpers.display(none);
		}
	}

	@include form-components.get-validity(check) {
		&:has(.db-infotext[data-semantic="successful"]) {
			@include form-components.get-validity-message("valid");
		}
	}

	@include form-components.get-validity(check, "invalid") {
		@include form-components.get-validity-message("invalid");
	}

	&:not([data-hide-asterisk="true"]) {
		label {
			@include form-components.set-required-label(
				input,
				".db-checkbox-containerless-component"
			);
		}
	}

	&[data-hide-label="true"] {
		.db-checkbox-containerless-component {
			@extend %a11y-visually-hidden-text;
		}
	}

	&:is(label),
	> label {
		@include helpers.display(flex);

		align-items: center;
		gap: inherit;
	}

	.db-checkbox-containerless-component {
		@extend %containerless-component;
		@extend %default-fg-transition;

		color: inherit;
	}

	&:has(input:disabled) {
		@extend %disabled;
	}

	input {
		@extend %container-component;

		align-items: center;
		appearance: none;
		aspect-ratio: 1;
		position: relative;

		&::before {
			@extend %next-icon;

			position: absolute;
			inset-inline-start: 50%;
			transform: translateX(-50%);
		}

		&::after {
			// This Element fakes the content size
			content: "";
			aspect-ratio: 1;
			block-size: var(--db-content-height);
		}

		&:not(:checked) {
			// Empty icon
			@include icons.set-icon("empty");
		}

		&:checked {
			// Check icon
			@include icons.set-icon("check");
		}

		&:indeterminate {
			@include icons.set-icon("minus");
		}
	}
}
