@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/icon/icon-helpers";
@use "@db-ui/foundations/build/scss/tonality";
@use "@db-ui/foundations/build/scss/helpers/component";
@use "@db-ui/foundations/build/scss/color/color-variants";
@use "../../styles/form-components";

.db-checkbox {
	@extend %check-element;

	input {
		border-radius: component.$checkbox-border-radius;

		&::before {
			--db-icon-margin-end: 0;
			position: absolute;
			inset-inline: 0;
			inset-block: 0;
		}

		&:checked {
			@extend %db-bg-inverted-ia;

			// Check icon
			@include icon-helpers.icon("done");

			// The icon within the checkbox has the same dimensions as the checkbox itself and that for there can't be any border
			border-width: 0;
		}

		&:indeterminate {
			@include icon-helpers.icon("minus");
		}
	}
}
