@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/component";
@use "../../styles/internal/form-components";

%center-icon {
	&::before {
		--db-icon-margin-end: 0;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		block-size: calc(
			#{form-components.$font-size-height} - 2 *
				#{variables.$db-border-width-3xs}
		);
		inline-size: calc(
			#{form-components.$font-size-height} - 2 *
				#{variables.$db-border-width-3xs}
		);
	}
}

.db-checkbox {
	@extend %helper-message;
	@include form-components.set-default-check-element;

	@include form-components.get-validity(check) {
		&:has(.db-infotext[data-semantic="successful"]) {
			@include form-components.get-validity-color-checkbox("valid");
		}
	}

	@include form-components.get-validity(check, "invalid") {
		@include form-components.get-validity-color-checkbox("invalid");
	}

	input {
		@include helpers.display(flex);

		align-items: center;
		justify-content: center;

		&:checked {
			@extend %center-icon;

			// Check icon
			@include icons.set-icon("check");

			// The icon within the checkbox has the same dimensions as the checkbox itself and that for there can't be any border
			border-width: 0;
		}

		&:not(:checked) {
			border-radius: variables.$db-border-radius-2xs;
		}

		&:indeterminate {
			@extend %center-icon;
			@include icons.set-icon("minus");
		}

		@media (forced-colors: active) {
			&:indeterminate,
			&:checked {
				border-width: form-components.$check-border-size;

				&:not([data-show-icon-leading="false"])::before {
					align-content: center;
					font-size: calc(
						var(--db-icon-font-size) - 2 *
							#{form-components.$check-border-size}
					);
					padding: #{form-components.$check-border-size};
				}
			}
		}
	}
}
