<app-default-component
	title="DBCustomSelect"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		@if (exampleProps?.info) {
			<db-infotext size="small" semantic="informational">
				{{ exampleName }}
			</db-infotext>
		} @else if (exampleProps?.lineBreak) {
			<i class="line-break"></i>
		} @else {
			<db-custom-select
				[showRequiredAsterisk]="exampleProps?.showRequiredAsterisk"
				[listLabel]="getAriaLabel(exampleProps, exampleName)"
				[disabled]="exampleProps?.disabled"
				[showMessage]="exampleProps?.showMessage"
				[icon]="exampleProps?.icon"
				[showIcon]="exampleProps?.showIcon"
				[dropdownWidth]="exampleProps?.dropdownWidth"
				[showClearSelection]="exampleProps?.showClearSelection"
				[showSelectAll]="exampleProps?.showSelectAll"
				[showSearch]="exampleProps?.showSearch"
				[showLoading]="exampleProps?.showLoading"
				[showNoResults]="exampleProps?.showNoResults"
				[multiple]="exampleProps?.multiple"
				[loadingText]="exampleProps?.loadingText"
				[noResultsText]="
					exampleProps?.noResultsText ?? 'No matching filter'
				"
				[label]="exampleName"
				[options]="exampleProps?.options"
				[variant]="exampleProps?.variant"
				[message]="exampleProps?.message"
				[required]="exampleProps?.required"
				[placeholder]="exampleProps?.placeholder"
				[showLabel]="exampleProps?.showLabel"
				[placement]="exampleProps?.placement"
				[selectAllLabel]="'Select all'"
				[searchLabel]="'Search'"
				[searchValue]="exampleProps?.searchValue"
				[selectedLabels]="exampleProps?.selectedLabels"
				[selectedPrefix]="'Selected'"
				[transformSelectedLabels]="
					exampleProps?.transformSelectedLabels
						? getTransformSelectedLabels
						: undefined
				"
				[searchFilter]="
					exampleProps?.searchFilter ? getSearchFilter : undefined
				"
				[selectedType]="exampleProps?.selectedType"
				[formFieldWidth]="exampleProps?.formFieldWidth"
				[invalidMessage]="exampleProps?.invalidMessage"
				[validMessage]="exampleProps?.validMessage"
				[validation]="exampleProps?.validation"
				(optionSelected)="console.log($event)"
				[removeTagsTexts]="exampleProps?.removeTagsTexts"
			></db-custom-select>
		}
	</ng-template>
</app-default-component>
