@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/db-puls";
@use "../../styles/scrollbar";

%horizontal-puls {
	.db-tab input {
		@include db-puls.set-db-puls-horizontal;

		&:checked {
			@include db-puls.show-db-puls-horizontal;
		}
	}
}

%vertical-puls {
	.db-tab input {
		@include db-puls.set-db-puls-vertical;

		&:checked {
			@include db-puls.show-db-puls-vertical;
		}
	}
}

.db-tab-list {
	@extend %scrollbar;
	display: flex;
	gap: variables.$db-spacing-fixed-sm;
	scroll-behavior: smooth;
	position: relative;

	.db-tab {
		position: relative;

		& input {
			@extend %db-puls;
		}
	}

	&:not([aria-orientation="vertical"]) {
		@extend %horizontal-puls;
		overflow-x: auto;
		overflow-y: hidden;
		padding-block-end: variables.$db-spacing-fixed-sm;
		inline-size: 100%;

		&::before {
			@extend %adaptive-neutral-component;
			content: "";
			border-radius: variables.$db-border-radius-md;
			inline-size: 100%;
			block-size: variables.$db-border-height-lg;
			position: absolute;

			inset-block-end: calc(
				-1 * #{variables.$db-spacing-fixed-xs} + #{variables.$db-spacing-fixed-sm}
			);
		}
	}

	&[aria-orientation="vertical"] {
		@extend %vertical-puls;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: auto;
		padding-inline-start: variables.$db-spacing-fixed-sm;
		block-size: 100%;

		&::before {
			@extend %adaptive-neutral-component;
			content: "";
			border-radius: variables.$db-border-radius-md;
			inline-size: variables.$db-border-height-lg;
			block-size: 100%;
			position: absolute;

			inset-inline-start: calc(
				-1 * #{variables.$db-spacing-fixed-xs} + #{variables.$db-spacing-fixed-sm} +
					#{variables.$db-border-height-sm}
			);
		}
	}
}
