@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/scrollbar";

.db-tab-list {
	@extend %db-overwrite-font-size-md;

	position: relative;

	> ul {
		@extend %scrollbar;

		display: flex;
		gap: variables.$db-spacing-fixed-sm;
		scroll-behavior: smooth;
		padding: 0;
		margin: 0;
	}
}
