@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/db-puls";
@use "../../styles/scrollbar";
@use "../../styles/form-components";

%horizontal-pulse {
	.db-tab {
		@include db-puls.set-db-puls-horizontal;

		&::after {
			inset-block-end: calc(
				-1 * (#{variables.$db-spacing-fixed-2xs} + #{variables.$db-border-height-lg})
			);
		}

		&:has(input:checked) {
			@include db-puls.show-db-puls-horizontal;
		}
	}
}

%vertical-pulse {
	.db-tab {
		@include db-puls.set-db-puls-vertical;

		&:has(input:checked) {
			@include db-puls.show-db-puls-vertical;
		}
	}
}

.db-tab-list {
	position: relative;

	.db-tab-list-scroll-container {
		@extend %scrollbar;
		display: flex;
		gap: variables.$db-spacing-fixed-sm;
		scroll-behavior: smooth;
		padding: 0;
		margin: 0;

		.db-tab {
			@extend %db-puls;
			position: relative;

			//& input {
			//	@extend %db-puls;
			//}
		}
	}

	&:not([aria-orientation="vertical"]) {
		.db-tab-list-scroll-container {
			@extend %horizontal-pulse;
			overflow-x: auto;
			overflow-y: hidden;
			inline-size: 100%;

			.db-tab {
				margin-block-start: variables.$db-spacing-fixed-xs;
				margin-block-end: calc(
					2 * #{variables.$db-spacing-fixed-2xs} + #{variables.$db-border-height-lg}
				);
			}

			db-tab {
				&:first-of-type {
					.db-tab {
						margin-inline-start: variables.$db-spacing-fixed-xs;
					}
				}

				&:last-of-type {
					.db-tab {
						margin-inline-end: variables.$db-spacing-fixed-xs;
					}
				}
			}

			&:not(:has(db-tab)) {
				.db-tab {
					&:first-of-type {
						margin-inline-start: variables.$db-spacing-fixed-xs;
					}

					&:last-of-type {
						margin-inline-end: variables.$db-spacing-fixed-xs;
					}
				}
			}
		}

		&::before {
			@extend %adaptive-neutral-component;
			content: "";
			border-radius: variables.$db-border-radius-md;
			block-size: variables.$db-border-height-lg;
			position: absolute;
			inset-inline: variables.$db-spacing-fixed-xs;

			// todo
			/* 2x padding + 1x margin + text + 3x border  */
			inset-block-start: calc(
				3 * #{variables.$db-spacing-fixed-xs} + #{variables.$db-spacing-fixed-2xs} +
					#{form-components.$font-size-height}
			);
		}
	}

	&[aria-orientation="vertical"] {
		inline-size: var(--db-tab-list-vertical-width, auto);
		padding-inline-end: variables.$db-spacing-fixed-xs;

		.db-tab {
			margin-inline-start: calc(
				#{variables.$db-border-height-lg} + #{variables.$db-spacing-fixed-2xs}
			);
			// margin-inline-end: auto;
		}

		db-tab {
			&:first-of-type {
				.db-tab {
					margin-block-start: variables.$db-spacing-fixed-xs;
				}
			}

			&:last-of-type {
				.db-tab {
					margin-block-end: variables.$db-spacing-fixed-xs;
				}
			}
		}

		label {
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:has(input:focus-visible),
			&:hover {
				inline-size: auto;
				overflow: visible;
			}
		}

		//.db-tab:has(input:checked) {
		//	&::before {
		//		display: none;
		//	}
		//}

		.db-tab-list-scroll-container {
			@extend %vertical-pulse;
			flex-direction: column;
			block-size: 100%;

			&:not(:has(db-tab)) {
				.db-tab {
					&:first-of-type {
						margin-block-start: variables.$db-spacing-fixed-xs;
					}

					&:last-of-type {
						margin-block-end: variables.$db-spacing-fixed-xs;
					}
				}
			}
		}

		// track for pulse
		&::before {
			@extend %adaptive-neutral-component;
			content: "";
			border-radius: variables.$db-border-radius-md;
			inline-size: variables.$db-border-height-lg;
			inset-block: variables.$db-spacing-fixed-xs;
			position: absolute;
			inset-inline-start: 0;
		}
	}
}
