---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/navigation-item.json';
import type { DBNavigationItemProps } from '@components';
import { getPropsAsAttributes, getVariantsWithExamples } from '../../utils';

const exampleFn = ({
	children,
	icon,
	disabled,
	active,
	width,
	showIcon,
	wrap,
	areaPopup,
}: DBNavigationItemProps & { areaPopup: boolean }) => {
	const props = {
		icon,
		disabled,
		active,
		width,
		'show-icon': showIcon,
		wrap,
		text: areaPopup ? children : undefined,
	};

	const content = areaPopup
		? `
		<div slot="subNavigation">
			<db-navigation-item ${getPropsAsAttributes({ icon, 'show-icon': showIcon })} text="Also a navigation item with longer label">
				<div slot="subNavigation">
					<db-navigation-item ${getPropsAsAttributes({ icon, 'show-icon': showIcon })}>
						<a href="#">Navigation-Item 2</a>
					</db-navigation-item>
				</div>
			</db-navigation-item>
			<db-navigation-item ${getPropsAsAttributes({ icon, 'show-icon': showIcon })}>
				<a href="#">Navigation-Item 1</a>
			</db-navigation-item>
		</div>
	`
		: `<a href="#">${children}</a>`;

	return `
		<ul class="nav-item-list">
			<db-navigation-item ${getPropsAsAttributes(props)}>
				${content}
			</db-navigation-item>
		</ul>
	`;
};
const variants = getVariantsWithExamples<DBNavigationItemProps & { areaPopup: boolean }>(
	defaultComponentVariants,
	exampleFn,
);
---

<DefaultLayout>
	<DefaultComponent title="DBNavigationItem" variants={variants} />
</DefaultLayout>
