---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/navigation.json';
import type { DBNavigationProps } from '@components';
import VariantList from '../../components/default/VariantList.astro';
import type { DefaultComponentVariants } from '../../../../shared/default-component-data.ts';
import { DBNavigation, DBNavigationItem, DBInfotext } from '@components';
---

<DefaultLayout>
	<DefaultComponent title="DBNavigation" variants={defaultComponentVariants}>
		{
			(variant: DefaultComponentVariants) => (
				<VariantList {...variant}>
					{({ children }: DBNavigationProps) => {
						const labelID = `${children.replaceAll(/\W/g, '_').toLowerCase()}`;
						return (
							<>
								<DBInfotext id={labelID} size="small" semantic="informational" icon="none">
									{children}
								</DBInfotext>
								<DBNavigation aria-labelledby={labelID}>
									<DBNavigationItem text="Navi-Item 1">
										<DBNavigationItem slot="subNavigation" text="Sub-Navi-Item 1">
											<DBNavigationItem slot="subNavigation">
												<a href="#" aria-current="page">
													Sub-Sub-Navi-Item 1
												</a>
											</DBNavigationItem>
											<DBNavigationItem slot="subNavigation">
												<a href="#">Sub-Sub-Navi-Item 2</a>
											</DBNavigationItem>
										</DBNavigationItem>
										<DBNavigationItem slot="subNavigation">
											<a href="#">Sub-Navi-Item 2</a>
										</DBNavigationItem>
									</DBNavigationItem>
									<DBNavigationItem icon="x_placeholder">
										<a href="#">Navi-Item 2</a>
									</DBNavigationItem>
									<DBNavigationItem disabled>
										<a href="#">Navi-Item 3</a>
									</DBNavigationItem>
								</DBNavigation>
							</>
						);
					}}
				</VariantList>
			)
		}
	</DefaultComponent>
</DefaultLayout>
