---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/navigation-item.json';
import type { DBNavigationItemProps } from '@components';
import VariantList from '../../components/default/VariantList.astro';
import type { DefaultComponentVariants } from '../../../../shared/default-component-data.ts';
import { DBNavigationItem } from '@components';
---

<DefaultLayout>
	<DefaultComponent title="DBNavigationItem" variants={defaultComponentVariants}>
		{
			(variant: DefaultComponentVariants) => (
				<VariantList {...variant}>
					{({ children, areaPopup, ...props }: DBNavigationItemProps & { areaPopup: boolean }) => {
						if (areaPopup) {
							return (
								<ul class="nav-item-list">
									<DBNavigationItem text={children} {...props}>
										<div slot="subNavigation">
											<DBNavigationItem text="Also a navigation item with longer label">
												<div slot="subNavigation">
													<DBNavigationItem>
														<a href="#">Navigation-Item 2</a>
													</DBNavigationItem>
												</div>
											</DBNavigationItem>
											<DBNavigationItem>
												<a href="#">Navigation-Item 1</a>
											</DBNavigationItem>
										</div>
									</DBNavigationItem>
								</ul>
							);
						}

						return (
							<ul class="nav-item-list">
								<DBNavigationItem hideSubNavigation={true} {...props}>
									<a href="#">{children}</a>
								</DBNavigationItem>
							</ul>
						);
					}}
				</VariantList>
			)
		}
	</DefaultComponent>
</DefaultLayout>
