/* Color index - CSS version */
@import "_variables.css";
@import "_variables.speaking-colors.css";
@import "_variables.additional.css";
@import "_variables.additional-speaking-colors.css";
@import "_placeholder.css";
