@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/button-components";
@use "../../styles/internal/component";

@mixin ellipsis-content {
	content: "...";
	content: "..." / "";
}

@mixin control($suffix: "") {
	> :is(a, button)#{$suffix} {
		@content;
	}
}

.db-pagination-item {
	display: flex;
	align-items: center;
	justify-content: center;

	@include control {
		@extend %default-interactive-component;
		@extend %default-button;
		@extend %db-overwrite-font-size-md;

		position: relative;
		color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
		block-size: variables.$db-sizing-md;
		min-inline-size: variables.$db-sizing-md;
		padding: variables.$db-spacing-fixed-2xs;
		text-decoration: none;

		&::after {
			content: "";
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			translate: -50% -50%;
			inline-size: 100%;
			block-size: 100%;

			// stylelint-disable-next-line db-ux/use-sizing
			min-inline-size: max(24px, 1.5rem);
			// stylelint-disable-next-line db-ux/use-sizing
			min-block-size: max(24px, 1.5rem);
		}
	}

	&:is([data-variant="ghost"], [data-variant="filled"]) {
		@include control {
			@extend %transparent-border;
		}
	}

	&[data-variant="ghost"] {
		@include control {
			@extend %button-outlined-ghost-colors;

			font-weight: 400;
		}
	}

	&[data-variant="filled"] {
		@include control {
			--db-overwrite-cursor: default;

			cursor: default;
			font-weight: 700;
			background-color: colors.$db-adaptive-bg-basic-transparent-semi-default;
		}
	}

	@include control(':is(:disabled, [aria-disabled="true"])') {
		opacity: variables.$db-opacity-md;
	}

	&[data-ellipsis]::before,
	&[data-ellipsis]::after {
		@extend %db-overwrite-font-size-md;

		display: inline-block;
		min-inline-size: variables.$db-sizing-sm;
		text-align: center;
	}

	&[data-ellipsis~="wide-before"]::before {
		@include ellipsis-content;

		margin-inline-end: variables.$db-spacing-fixed-2xs;
	}

	&[data-ellipsis~="wide-after"]::after {
		@include ellipsis-content;

		margin-inline-start: variables.$db-spacing-fixed-2xs;
	}

	@include screen-sizes.screen("sm", "max") {
		&[data-ellipsis]::before,
		&[data-ellipsis]::after {
			content: none;
			margin-inline: 0;
		}

		&[data-ellipsis~="collapsed-before"]::before {
			@include ellipsis-content;

			margin-inline-end: variables.$db-spacing-fixed-2xs;
		}

		&[data-ellipsis~="collapsed-after"]::after {
			@include ellipsis-content;

			margin-inline-start: variables.$db-spacing-fixed-2xs;
		}
	}
}

.db-pagination[data-size="small"] .db-pagination-item {
	@include control {
		@extend %db-overwrite-font-size-sm;

		block-size: variables.$db-sizing-sm;
		min-inline-size: variables.$db-sizing-sm;
		padding: variables.$db-spacing-fixed-3xs;
	}

	&[data-variant="filled"] {
		@include control {
			font-weight: 700;
		}
	}

	&[data-ellipsis]::before,
	&[data-ellipsis]::after {
		@extend %db-overwrite-font-size-sm;

		min-inline-size: variables.$db-sizing-xs;
	}
}

.db-pagination .db-pagination-item {
	@include control("[data-icon]") {
		@include icons.is-icon-text-replace;

		padding: 0;

		&::before {
			margin: auto;
		}
	}
}
