@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/popover-component";
@use "../../styles/internal/component";

.db-popover {
	position: relative;
	display: flex;
	inline-size: fit-content;

	&:is([data-e2e-hover="true"], :hover, :focus-within) {
		> article:not([data-open="false"]) {
			@include popover-component.show-popover;
		}
	}

	> article {
		@extend %popover-center;
		@extend %default-popover;

		display: none;

		@include component.get-data-spacing();

		&[data-open="true"] {
			@include popover-component.show-popover;
		}
	}
}
