@forward "@db-ux/core-components/build/styles/rollup";
@forward "@db-ux/db-theme/build/styles/rollup";

/* stylelint-disable-next-line selector-id-pattern, selector-max-id */
#__next {
	block-size: 100%;
}
