<main>
	<h1>Angular</h1>
	<section class="db-bg-secondary">
		<db-infotext icon="account">Infotext</db-infotext>
		<db-infotext variant="warning">Infotext</db-infotext>
		<db-infotext variant="success">Infotext</db-infotext>
		<db-infotext variant="information">Infotext</db-infotext>
		<db-infotext size="small">Infotext</db-infotext>
	</section>
	<DBCard>
		<div style="display: flex; gap: 4px; align-items: center">
			<DBButton variant="secondary">Test</DBButton>
			<DBButton text="Test" icon="account"></DBButton>
			<DBIcon icon="account"></DBIcon>

			<section class="db-ui-expressive">
				<DBInput></DBInput>
			</section>

			<section class="db-ui-regular">
				<DBInput></DBInput>
			</section>

			<section class="db-ui-functional">
				<DBInput></DBInput>
			</section>
		</div>
	</DBCard>
</main>
