@use "../../helpers";
@use "../variables";
@use "../../helpers/layer";

@each $type in variables.$contrasts-types {
	@each $contrast in variables.$contrasts {
		%contrast-#{$type}-#{$contrast} {
			@layer #{layer.$layer-contrast} {
				@if ($type == "visual") {
					--db-on-bg-color-contrast-#{$type}-default: var(
						--db-material-on-bg-color-contrast-#{$type}-#{$contrast}-default
					);

					@extend %apply-global-visual-color;
				} @else {
					@each $state in helpers.$states {
						--db-on-bg-color-contrast-#{$type}-#{$state}: var(
							--db-material-on-bg-color-contrast-#{$type}-#{$contrast}-#{$state}
						);
					}

					@extend %apply-global-on-bg-colors;
				}
			}
		}
	}
}
