@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers/display";

.decision-tree {
	@include display.display(flex);
	flex-direction: column;
	gap: variables.$db-spacing-fixed-3xl;
	text-align: center;

	h2 {
		font: var(--db-type-headline-3xs);
		margin-block: var(--db-spacing-fixed-3xs);
	}

	.db-link {
		white-space: break-spaces;
	}

	.card-inner {
		margin-block: auto;
	}
}

.decision-tree-row {
	@include display.display(grid);
	justify-content: center;
	gap: variables.$db-spacing-fixed-md;

	&.grid-1-1-1 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.grid-1-1 {
		grid-template-columns: 1fr 1fr;
	}

	> .column-1-3 {
		grid-column: 1 / 3;
	}

	> a > div {
		block-size: 100%;
	}
}
