@use "@db-ux/core-foundations/build/styles/variables";

section.playground {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Two columns */
	gap: variables.$db-spacing-fixed-md; /* Optional spacing between items */

	h2 {
		grid-column: span 2;
	}

	a {
		text-decoration: none;

		strong {
			display: block;
		}

		img {
			width: 50px;
			float: left;
			margin-inline-end: variables.$db-spacing-fixed-sm;
		}
	}
}
