@use "@db-ux/core-foundations/build/styles/icons";

.db-icon {
	@include icons.is-icon-text-replace();

	/* Safari hack */
	@supports (-webkit-hyphens: none) {
		display: inline-block;

		&::before {
			block-size: auto;
		}
	}
}
