@use "@db-ux/core-foundations/build/styles/screen-sizes";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/icons";
@use "../../styles/internal/form-components";
@use "../../styles/internal/navigation-item";

@forward "navigation-item-group-menu";

.db-navigation-item-group {
	@extend %navigation-item;

	.db-navigation-item-group-expand-button {
		@include screen-sizes.screen("md", "max") {
			// show/hide sub-navigation by click
			&[aria-expanded="true"] {
				~ .db-navigation-item-group-menu {
					visibility: visible;

					@media screen and (prefers-reduced-motion: no-preference) {
						transition: visibility 0ms linear 0ms;
						animation: show-right-to-left #{variables.$db-transition-straight-show};
					}

					.db-navigation-item-group-menu {
						inset-block: 0;
					}
				}
			}

			&:not(&[aria-expanded="true"]) {
				@media screen and (prefers-reduced-motion: no-preference) {
					~ .db-navigation-item-group-menu {
						transition: visibility 0ms linear 410ms; // hide animation is 0.4s
						animation: hide-right-to-left #{variables.$db-transition-straight-hide};
					}
				}
			}
		}

		&:is(button),
		> button {
			@extend %navigation-item-interactive-element;

			// show sub-navigation on hover
			@include screen-sizes.screen("md") {
				&::after {
					@media screen and (prefers-reduced-motion: no-preference) {
						transition: form-components.$dropdown-icon-transition;
					}
				}

				&:is(:hover, :focus-visible),
				&:has(
						~ .db-navigation-item-group-menu:is(
								:hover,
								:focus-visible,
								:focus-within
							)
					) {
					~ .db-navigation-item-group-menu {
						visibility: visible;
					}

					&::after {
						transform: form-components.$dropdown-icon-transform;
					}
				}
			}

			// default icon for navigation
			@include icons.set-icon("chevron_right", "after");
		}
	}

	&:not([data-width="full"]) {
		@include screen-sizes.screen("md", "max") {
			.db-navigation-item-group-expand-button {
				&::after {
					--db-icon-margin-start: auto;
				}
			}
		}

		.db-navigation-item-group-expand-button {
			&::after {
				--db-icon-margin-start: #{variables.$db-spacing-fixed-sm};
			}
		}
	}

	&[data-width="full"] {
		.db-navigation-item-group-expand-button {
			&::after {
				--db-icon-margin-start: auto;
			}
		}
	}
}

.db-navigation-item-group-back-button {
	display: flex;
	font-weight: normal;
	background-color: colors.$db-adaptive-bg-basic-level-1-default;
	padding-block-end: variables.$db-spacing-fixed-md;
	margin-block-end: variables.$db-spacing-fixed-md;

	@include helpers.divider("bottom");
}
