@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/next/component";

[data-generation="next"] .db-button,
.db-button[data-generation="next"] {
	@extend %container-component;
	@extend %interactive-materials;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	@include component.set-default-content("button");


	&[data-width="full"]:not([data-no-text="true"]) {
		& {
			inline-size: 100%;
		}
	}

	&:is(:disabled, [aria-disabled="true"]) {
		@extend %disabled;
	}
}
