@charset "utf-8";
@use "@db-ux/core-foundations/build/styles/fonts";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/colors";
@use "@db-ux/core-foundations/build/styles/icons";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/internal/component";
@use "../../styles/internal/button-components";

// generic styles can be found in _button-components.scss
.db-button {
	@extend %default-interactive-component;
	@extend %default-button;
	@extend %db-overwrite-font-size-md;

max-inline-size: 100%;
	color: colors.$db-adaptive-on-bg-basic-emphasis-100-default;
	min-block-size: variables.$db-sizing-md;
	block-size: max-content;
	inline-size: fit-content;
	padding: variables.$db-spacing-fixed-2xs variables.$db-spacing-fixed-md;

	// disable text-decoration if someone wants to use the button for an <a> tag
	text-decoration: none;

	// Square icon only buttons
	&[data-no-text="true"] {
		@include icons.is-icon-text-replace;

		padding: 0;
		aspect-ratio: 1;
		inline-size: variables.$db-sizing-md;

		&::before {
			margin: auto;
		}
	}

	&[data-size="small"] {
		@extend %db-overwrite-font-size-sm;

		font-weight: 700;
		min-block-size: variables.$db-sizing-sm;

		&:not([data-no-text="true"]) {
			// stylelint-disable-next-line db-ux/use-spacings
			padding: 1px variables.$db-spacing-fixed-sm;

			&::before {
				margin-inline-end: variables.$db-spacing-fixed-2xs;
			}
		}

		// Square icon only buttons
		&[data-no-text="true"] {
			inline-size: variables.$db-sizing-sm;
		}
	}

	&[data-width="full"] {
		inline-size: 100%;
	}

	&[data-variant="brand"] {
		background-color: colors.$db-brand-origin-default;
		color: colors.$db-brand-on-origin-default;
		border-color: colors.$db-brand-on-bg-basic-emphasis-70-default;

		@include helpers.hover {
			background-color: colors.$db-brand-origin-hovered;
			border-color: colors.$db-brand-on-bg-basic-emphasis-70-default;
		}

		@include helpers.active {
			background-color: colors.$db-brand-origin-pressed;
			border-color: colors.$db-brand-on-bg-basic-emphasis-70-default;
		}
	}

	&[data-variant="filled"],
	&[data-variant="ghost"] {
		@extend %transparent-border;
	}

	&[data-variant="outlined"],
	&:not([data-variant]),
	&[data-variant=""],
	&[data-variant="ghost"] {
		background-color: colors.$db-adaptive-bg-basic-transparent-full-default;

		@include helpers.hover {
			background-color: colors.$db-adaptive-bg-basic-transparent-full-hovered;
		}

		@include helpers.active {
			background-color: colors.$db-adaptive-bg-basic-transparent-full-pressed;
		}
	}

	&[data-variant="filled"] {
		background-color: colors.$db-adaptive-bg-basic-transparent-semi-default;

		@include helpers.hover {
			background-color: colors.$db-adaptive-bg-basic-transparent-semi-hovered;
		}

		@include helpers.active {
			background-color: colors.$db-adaptive-bg-basic-transparent-semi-pressed;
		}
	}

	&:is(:disabled, [aria-disabled="true"]) {
		opacity: variables.$db-opacity-md;
	}

	// Workaround for current stencil implementation for header
	&:has(> .db-button) {
		margin: 0;
		padding: 0;
		block-size: variables.$db-sizing-md;

		&::before {
			content: none;
		}
	}
}
