@use "@db-ux/core-foundations/build/styles/helpers";
@use "../../styles/next/component";

[data-generation="next"] .db-button,
.db-button[data-generation="next"] {
	@extend %component;
	@extend %interactive-materials;

	display: inline-flex;
	gap: var(--db-component-gap);
	align-items: center;

	.db-button-content {
		@extend %content;
	}

	&[data-no-text="true"] {
		.db-button-content {
			@extend %a11y-visually-hidden-text;
		}
	}

	&[data-width="full"]:not([data-no-text="true"]) {
		&,
		.db-button-content {
			inline-size: 100%;
		}
	}
}
