@use "@db-ux/core-foundations/build/styles/variables";
@use "../../styles/internal/button-components";

// generic styles can be found in _button-components.scss
.db-button {
	@include button-components.set-basic-button;

	&:is(:disabled, [aria-disabled="true"]) {
		opacity: variables.$db-opacity-md;
	}

	// Workaround for current stencil implementation for header
	&:has(> .db-button) {
		margin: 0;
		padding: 0;
		block-size: variables.$db-sizing-md;

		&::before {
			content: none;
		}
	}
}
