@use "./default.assets-paths" as assets-paths;

@mixin get-images-light {
	--db-textarea-resizer-image: url("#{assets-paths.$images-path}light/resize_handle_corner.svg");
	--db-textarea-scrollbar-button-decrement: url("#{assets-paths.$images-path}light/chevron_down.svg");
	--db-textarea-scrollbar-button-increment: url("#{assets-paths.$images-path}light/chevron_up.svg");
	--db-logo-aspect-ratio: var(--db-logo-aspect-ratio-light, 1);
	--db-logo: var(
		--db-logo-light,
		url("#{assets-paths.$images-path}light/logo.svg")
	);
}

@mixin get-images-dark {
	--db-textarea-resizer-image: url("#{assets-paths.$images-path}dark/resize_handle_corner.svg");
	--db-textarea-scrollbar-button-decrement: url("#{assets-paths.$images-path}dark/chevron_down.svg");
	--db-textarea-scrollbar-button-increment: url("#{assets-paths.$images-path}dark/chevron_up.svg");
	--db-logo-aspect-ratio: var(--db-logo-aspect-ratio-dark, 1);
	--db-logo: var(
		--db-logo-dark,
		url("#{assets-paths.$images-path}light/logo.svg")
	);
}
