// Use sizing's for fixed heights/widths e.g. the db-button has always a fixed height
$db-sizing-3xs: var(--db-sizing-3xs);
$db-sizing-2xs: var(--db-sizing-2xs);
$db-sizing-xs: var(--db-sizing-xs);
$db-sizing-sm: var(--db-sizing-sm);
$db-sizing-md: var(--db-sizing-md);
$db-sizing-lg: var(--db-sizing-lg);
$db-sizing-xl: var(--db-sizing-xl);
$db-sizing-2xl: var(--db-sizing-2xl);
$db-sizing-3xl: var(--db-sizing-3xl);

// Use fixed spacings for all kind of distances (margin, padding, ...)
$db-spacing-fixed-3xs: var(--db-spacing-fixed-3xs);
$db-spacing-fixed-2xs: var(--db-spacing-fixed-2xs);
$db-spacing-fixed-xs: var(--db-spacing-fixed-xs);
$db-spacing-fixed-sm: var(--db-spacing-fixed-sm);
$db-spacing-fixed-md: var(--db-spacing-fixed-md);
$db-spacing-fixed-lg: var(--db-spacing-fixed-lg);
$db-spacing-fixed-xl: var(--db-spacing-fixed-xl);
$db-spacing-fixed-2xl: var(--db-spacing-fixed-2xl);
$db-spacing-fixed-3xl: var(--db-spacing-fixed-3xl);

// The primary use-case for responsive spacings are
// paddings/gaps in an application e.g. the <main> should have a responsive padding.
$db-spacing-responsive-3xs: var(--db-spacing-responsive-3xs);
$db-spacing-responsive-2xs: var(--db-spacing-responsive-2xs);
$db-spacing-responsive-xs: var(--db-spacing-responsive-xs);
$db-spacing-responsive-sm: var(--db-spacing-responsive-sm);
$db-spacing-responsive-md: var(--db-spacing-responsive-md);
$db-spacing-responsive-lg: var(--db-spacing-responsive-lg);
$db-spacing-responsive-xl: var(--db-spacing-responsive-xl);
$db-spacing-responsive-2xl: var(--db-spacing-responsive-2xl);
$db-spacing-responsive-3xl: var(--db-spacing-responsive-3xl);

// Elevation

$db-elevation-sm: var(--db-elevation-sm);
$db-elevation-md: var(--db-elevation-md);
$db-elevation-lg: var(--db-elevation-lg);

// Border

$db-border-width-3xs: var(--db-border-width-3xs);
$db-border-width-2xs: var(--db-border-width-2xs);
$db-border-width-xs: var(--db-border-width-xs);
$db-border-width-sm: var(--db-border-width-sm);
$db-border-width-md: var(--db-border-width-md);
$db-border-width-lg: var(--db-border-width-lg);
$db-border-width-xl: var(--db-border-width-xl);
$db-border-width-2xl: var(--db-border-width-2xl);
$db-border-width-3xl: var(--db-border-width-3xl);
$db-border-radius-3xs: var(--db-border-radius-3xs);
$db-border-radius-2xs: var(--db-border-radius-2xs);
$db-border-radius-xs: var(--db-border-radius-xs);
$db-border-radius-sm: var(--db-border-radius-sm);
$db-border-radius-md: var(--db-border-radius-md);
$db-border-radius-lg: var(--db-border-radius-lg);
$db-border-radius-xl: var(--db-border-radius-xl);
$db-border-radius-2xl: var(--db-border-radius-2xl);
$db-border-radius-3xl: var(--db-border-radius-3xl);
$db-border-radius-full: var(--db-border-radius-full);

// Opacity

$db-opacity-3xs: var(--db-opacity-3xs);
$db-opacity-2xs: var(--db-opacity-2xs);
$db-opacity-xs: var(--db-opacity-xs);
$db-opacity-sm: var(--db-opacity-sm);
$db-opacity-md: var(--db-opacity-md);
$db-opacity-lg: var(--db-opacity-lg);
$db-opacity-xl: var(--db-opacity-xl);
$db-opacity-2xl: var(--db-opacity-2xl);
$db-opacity-3xl: var(--db-opacity-3xl);
$db-opacity-full: var(--db-opacity-full);

// Transitions

$db-transition-duration-extra-slow: var(--db-transition-duration-extra-slow);
$db-transition-duration-slow: var(--db-transition-duration-slow);
$db-transition-duration-medium: var(--db-transition-duration-medium);
$db-transition-duration-fast: var(--db-transition-duration-fast);
$db-transition-duration-extra-fast: var(--db-transition-duration-extra-fast);
$db-transition-timing-emotional: var(--db-transition-timing-emotional);
$db-transition-timing-functional: var(--db-transition-timing-functional);
$db-transition-timing-show: var(--db-transition-timing-show);
$db-transition-timing-hide: var(--db-transition-timing-hide);
$db-transition-straight-emotional: var(--db-transition-straight-emotional);
$db-transition-straight-functional: var(--db-transition-straight-functional);
$db-transition-straight-show: var(--db-transition-straight-show);
$db-transition-straight-hide: var(--db-transition-straight-hide);

// Screen sizes

$db-screen-xs: var(--db-screen-xs);
$db-screen-sm: var(--db-screen-sm);
$db-screen-md: var(--db-screen-md);
$db-screen-lg: var(--db-screen-lg);
$db-screen-xl: var(--db-screen-xl);

// Container sizes

$db-container-3xs: var(--db-container-3xs);
$db-container-2xs: var(--db-container-2xs);
$db-container-xs: var(--db-container-xs);
$db-container-sm: var(--db-container-sm);
$db-container-md: var(--db-container-md);
$db-container-lg: var(--db-container-lg);
$db-container-xl: var(--db-container-xl);
$db-container-2xl: var(--db-container-2xl);
$db-container-3xl: var(--db-container-3xl);
