// If this library is used as an npm dependency, and the source files should be included rather than css, this corrects the paths.
@use "default.assets-paths" as assets-paths with (
	$icons-path: "~@db-ux/core-foundations/assets/icons/",
	$fonts-path: "~@db-ux/core-foundations/assets/fonts/",
	$images-path: "~@db-ux/core-foundations/assets/images/"
);
