@use "sass:map";
@use "@db-ux/core-foundations/build/styles/variables";
@use "@db-ux/core-foundations/build/styles/helpers";
@use "@db-ux/core-foundations/build/styles/animation";
@use "@db-ux/core-foundations/build/styles/colors";
@use "../../styles/internal/component";
@use "../../styles/dialog-init";

%container-size-horizontal {
	inline-size: calc(
		100lvw - var(--db-drawer-container-backdrop-spacing, 0px)
	);
	/* stylelint-disable-next-line db-ux/use-sizing */
	min-inline-size: var(--db-drawer-min-width, auto);

	&:not([data-container-size]),
	&[data-container-size="small"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-inline-size: var(
			--db-drawer-max-width,
			#{variables.$db-container-xs}
		);
	}

	&[data-container-size="medium"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-inline-size: var(
			--db-drawer-max-width,
			#{variables.$db-container-lg}
		);
	}

	&[data-container-size="large"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-inline-size: var(
			--db-drawer-max-width,
			#{variables.$db-container-3xl}
		);
	}
}

%container-size-vertical {
	block-size: calc(100lvh - var(--db-drawer-container-backdrop-spacing, 0px));
	/* stylelint-disable-next-line db-ux/use-sizing */
	min-block-size: var(--db-drawer-min-height, auto);

	&[data-container-size="small"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-block-size: var(--db-drawer-max-height, 33lvh);
	}

	&[data-container-size="medium"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-block-size: var(--db-drawer-max-height, 50lvh);
	}

	&:not([data-container-size]),
	&[data-container-size="large"] {
		/* stylelint-disable-next-line db-ux/use-sizing */
		max-block-size: var(--db-drawer-max-height, 67lvh);
	}
}

%direction-left {
	@extend %container-size-horizontal;

	&:not([data-transition="open"]) {
		transform: translateX(110%);
	}

	inset-inline: auto 0;

	&[data-rounded="true"] {
		border-start-start-radius: variables.$db-border-radius-sm;
		border-end-start-radius: variables.$db-border-radius-sm;
	}
}

%direction-right {
	@extend %container-size-horizontal;

	&:not([data-transition="open"]) {
		transform: translateX(-110%);
	}

	inset-inline: 0 auto;

	&[data-rounded="true"] {
		border-start-end-radius: variables.$db-border-radius-sm;
		border-end-end-radius: variables.$db-border-radius-sm;
	}
}

%direction-up {
	@extend %container-size-vertical;

	&:not([data-transition="open"]) {
		transform: translateY(110%);
	}

	inset: auto 0 0;

	&[data-rounded="true"] {
		border-start-end-radius: variables.$db-border-radius-sm;
		border-start-start-radius: variables.$db-border-radius-sm;
	}
}

%direction-down {
	@extend %container-size-vertical;

	&:not([data-transition="open"]) {
		transform: translateY(-110%);
	}

	inset: 0 0 auto;

	&[data-rounded="true"] {
		border-end-end-radius: variables.$db-border-radius-sm;
		border-end-start-radius: variables.$db-border-radius-sm;
	}
}

%drawer-safe-area {
	&:not(:has(.db-drawer-footer)) {
		> .db-drawer-content {
			/* stylelint-disable-next-line db-ux/use-spacings */
			margin-block-end: env(safe-area-inset-bottom);
		}
	}

	&:has(.db-drawer-footer) {
		.db-drawer-footer {
			padding-block-end: calc(
				#{variables.$db-spacing-fixed-xs} + env(safe-area-inset-bottom)
			);
		}
	}
}

.db-drawer {
	.db-drawer-container {
		@extend %drawer-safe-area;

		display: grid;
		grid-template-rows:
			[header] auto
			[main] 1fr
			[footer] auto;
		background-color: colors.$db-adaptive-bg-basic-level-1-default;
		inline-size: 100lvw;
		block-size: 100lvh;
		position: fixed;
		box-shadow: variables.$db-elevation-md;

		> .db-drawer-content {
			overflow-y: auto;

			/* stylelint-disable-next-line db-ux/use-spacings */
			padding: variables.$db-spacing-fixed-xs
				component.$drawer-content-padding-inline;
		}

		&[data-show-spacing="true"] {
			// We use the size of a button for this spacing to make sure backdrop is clickable
			--db-drawer-container-backdrop-spacing: #{variables.$db-sizing-md};

			&:not([data-direction]),
			&[data-direction="left"] {
				border-inline-end: component.$component-border;
			}

			&[data-direction="right"] {
				border-inline-start: component.$component-border;
			}

			&[data-direction="up"] {
				border-block-start: component.$component-border;
			}

			&[data-direction="down"] {
				border-block-end: component.$component-border;
			}
		}

		&[data-rounded="true"] {
			box-shadow: variables.$db-elevation-md;
		}

		@media (prefers-reduced-motion: no-preference) {
			transition: transform
				#{variables.$db-transition-duration-extra-slow}
				#{variables.$db-transition-timing-emotional};
		}

		&[data-direction="right"] {
			@extend %direction-right;
		}

		&:not([data-direction]),
		&[data-direction="left"] {
			@extend %direction-left;
		}

		&[data-direction="up"] {
			@extend %direction-up;
		}

		&[data-direction="down"] {
			@extend %direction-down;
		}
	}

	&[data-position="absolute"] {
		position: absolute;
		z-index: 3;
		inset: 0;
		block-size: 100%;
		inline-size: 100%;
		background-color: transparent;

		&[open] {
			display: flex;
		}

		&:not([data-direction]),
		&[data-direction="right"],
		&[data-direction="left"] {
			flex-direction: column;
		}

		&[data-direction="right"],
		&[data-direction="down"] {
			align-items: flex-start;
		}

		&:not([data-direction]),
		&[data-direction="left"],
		&[data-direction="up"] {
			align-items: flex-end;
		}

		.db-drawer-container {
			position: relative;
		}
	}

	&[open] {
		.db-drawer-container {
			&[data-transition="open"] {
				transform: none;
			}

			&[data-transition="close"] {
				@media (prefers-reduced-motion: no-preference) {
					transition: transform
						#{variables.$db-transition-duration-slow}
						#{variables.$db-transition-timing-emotional};
				}
			}
		}
	}
}
