@if (page) {
	<div [class]="getFullscreenClasses()">
		<router-outlet></router-outlet>
	</div>
}
@if (!page && !shell) {
	<app-page></app-page>
}
@if (!page && shell) {
	<db-shell
		[controlPanelDesktopPosition]="settings.controlPanelDesktopPosition"
		[controlPanelMobilePosition]="settings.controlPanelMobilePosition"
		[fadeIn]="true"
		[showSubNavigation]="settings.subNavigation === 'true'"
		[subNavigationDesktopPosition]="settings.subNavigationDesktopPosition"
		[subNavigationMobilePosition]="settings.subNavigationMobilePosition"
	>
		<db-shell-sub-navigation>
			<db-control-panel-navigation
				[variant]="settings.subNavigationVariant"
				aria-label="sub-navigation"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}</db-control-panel-navigation
		></db-shell-sub-navigation>

		<db-control-panel-desktop>
			<db-control-panel-brand
				brand
				data-logo="db-systel"
			></db-control-panel-brand>
			<app-meta-navigation meta-navigation />
			<app-primary-actions
				[color]="color"
				[density]="density"
				[settings]="settings"
				primary-actions
			></app-primary-actions>
			<app-secondary-actions secondary-actions></app-secondary-actions>
			<db-control-panel-navigation
				[variant]="settings.navigationDesktopVariant"
				aria-label="desktop-navigation"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</db-control-panel-navigation>
		</db-control-panel-desktop>
		<db-control-panel-mobile drawerHeaderText="Showcase">
			<db-control-panel-brand
				brand
				data-logo="db-systel"
			></db-control-panel-brand>
			<app-meta-navigation meta-navigation />
			<app-primary-actions
				[color]="color"
				[density]="density"
				[settings]="settings"
				primary-actions
			></app-primary-actions>
			<app-secondary-actions secondary-actions></app-secondary-actions>
			<db-control-panel-navigation
				[variant]="settings.navigationMobileVariant"
				aria-label="mobile-navigation"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</db-control-panel-navigation>
		</db-control-panel-mobile>
		<db-shell-content [class]="getChangeableClasses()">
			<router-outlet></router-outlet>
		</db-shell-content>
	</db-shell>
}
