@if (page) {
	<div [class]="getChangeableClasses()">
		<router-outlet></router-outlet>
	</div>
}
@if (!page) {
	<db-shell
		[fadeIn]="true"
		[controlPanelDesktopPosition]="settings.controlPanelDesktopPosition"
		[controlPanelMobilePosition]="settings.controlPanelMobilePosition"
		[subNavigationDesktopPosition]="settings.subNavigationDesktopPosition"
		[subNavigationMobilePosition]="settings.subNavigationMobilePosition"
		[showSubNavigation]="settings.subNavigation === 'true'"
	>
		<db-shell-sub-navigation sub-navigation slot="subNavigation">
			<db-navigation
				aria-label="sub-navigation"
				[variant]="settings.subNavigationVariant"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}</db-navigation
		></db-shell-sub-navigation>

		<db-control-panel-desktop
			control-panel-desktop
			slot="controlPanelDesktop"
		>
			<db-control-panel-brand brand slot="brand">
				Showcase
			</db-control-panel-brand>
			<app-meta-navigation meta-navigation slot="metaNavigation" />
			<app-primary-actions
				primary-actions
				[density]="density"
				[color]="color"
				[settings]="settings"
				slot="primaryActions"
			></app-primary-actions>
			<app-secondary-actions
				secondary-actions
				slot="secondaryActions"
			></app-secondary-actions>
			<db-navigation
				aria-label="desktop-navigation"
				[variant]="settings.navigationDesktopVariant"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</db-navigation>
		</db-control-panel-desktop>
		<db-control-panel-mobile
			control-panel-mobile
			slot="controlPanelMobile"
			drawerHeadlinePlain="Showcase"
		>
			<db-control-panel-brand brand slot="brand">
				Showcase
			</db-control-panel-brand>
			<app-meta-navigation meta-navigation slot="metaNavigation" />
			<app-primary-actions
				primary-actions
				[density]="density"
				[color]="color"
				[settings]="settings"
				slot="primaryActions"
			></app-primary-actions>
			<app-secondary-actions
				secondary-actions
				slot="secondaryActions"
			></app-secondary-actions>
			<db-navigation
				aria-label="mobile-navigation"
				[variant]="settings.navigationMobileVariant"
			>
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</db-navigation>
		</db-control-panel-mobile>
		<div [class]="getChangeableClasses()">
			<router-outlet></router-outlet>
		</div>
	</db-shell>
}
