<DBPage type="fixedHeaderFooter">
	<DBHeader
		header
		[drawerOpen]="drawerOpen"
		(onToggleDrawer)="toggleDrawer($event)"
	>
		<DBBrand brand src="./assets/db_logo.svg" href="/angular-showcase">
			Angular Showcase
		</DBBrand>
		<nav class="desktop-navigation" *dbNavigation>
			<ul>
				<li *ngFor="let item of navigationItems; index as i">
					<a [routerLink]="item.path" queryParamsHandling="merge">{{
						item.label
					}}</a>
				</li>
			</ul>
		</nav>
		<div *dbMetaNavigation>
			<!-- TODO: Use db-select here	-->
			<select [(ngModel)]="tonality" (change)="onChange($event)">
				<option *ngFor="let t of tonalities">
					{{ t }}
				</option>
			</select>
			<select [(ngModel)]="color" (change)="onChange($event)">
				<option *ngFor="let c of colors">
					{{ c }}
				</option>
			</select>
		</div>
		<div call-to-action>
			<DBButton icon="search" variant="ghost">Search</DBButton>
		</div>
		<div *dbActionBar>
			<DBButton icon="account" variant="ghost"> Profile </DBButton>
			<DBButton icon="alert" variant="ghost"> Notification </DBButton>
			<DBButton icon="help" variant="ghost"> Help </DBButton>
		</div>
	</DBHeader>
	<div [class]="getChangeableClasses()">
		<router-outlet></router-outlet>
	</div>
	<div footer>Footer</div>
</DBPage>
